@charset "UTF-8";
@import "../skinParams/skinParams";

$disabled-border-color: '#CCCCCC';
$disabled-background-color: '#CCCCCC';
$disabled-text-color: '#FFFFFF';

@mixin disabled-bg-color($disabled-param-name) {
  background-color: param-bg-color($disabled-param-name, $disabled-background-color);
}

@mixin disabled-text-color($disabled-param-name) {
  color: param-text-color($disabled-param-name, $disabled-text-color);
}

@mixin disabled-border-color($disabled-param-name) {
  border-color: param-border-color-alpha($disabled-param-name, $disabled-border-color);
}

@function disabled-param-border-color-alpha($disabled-param-name) {
  @return param-border-color-alpha($disabled-param-name, $disabled-background-color);
}
