.wix-help-button {
  width: 35px;
  height: 35px;
  position: absolute;
  right: 35px;
  cursor: default;
}
.wix-help-button span {
  background: url(http://localhost/skins/images/wysiwyg/core/themes/editor_web/icons/help_sprite.png) 0px 1px no-repeat;
  width: 19px;
  height: 18px;
  position: absolute;
  right: 8px;
  top: 8px;
  cursor: pointer;
}
/*-----------------*/