@charset "UTF-8";

@import '../../mixins/components-base';



// ***************************************************************************************************************************************
// NOTE: *DO NOT* change the param names on existing skins (e.g. brd, shd, bg, etc) - the first argument passed to the param() functions. 
// these are saved in the site's data, changing them will break the site.
// you may give skin params any name you wish - but only in new components and their (new) skins.
// ***************************************************************************************************************************************
$bg: color_13;
$brd: color_15;
$brwt: 0;
$brwb: 0;
$shd: rgba(255, 255, 255, .592157) 0 4px 6px -4px inset, rgba(255, 255, 255, .592157) 0 1px 0 0 inset, rgba(255, 255, 255, .901961) 0 -5px 5px -5px inset;
$tdr: BASE_THEME_DIRECTORY;


#bg, .bgtwo, #inlineContent {
  @include abs-distance();
}

#bg {
  background-color: param-bg-color(bg, $bg);
  border-top: param-border-top-size(brwt, $brwt) solid param-border-color-alpha(brd, $brd);
  border-bottom: param-border-bottom-size(brwb, $brwb) solid param-border-color-alpha(brd, $brd);
  box-sizing: border-box;
}

.bgtwo {
  @include param-box-shadow(shd, $shd);
  top: param-border-top-size(brwt, $brwt);
  bottom: param-border-bottom-size(brwb, $brwb);
  background-image: param-url(tdr, $tdr, "bevel_300.png");
  background-repeat: repeat-x;
}

