@charset "UTF-8";

@import '../../mixins/components-base';



// ***************************************************************************************************************************************
// NOTE: *DO NOT* change the param names on existing skins (e.g. brd, shd, bg, etc) - the first argument passed to the param() functions.
// these are saved in the site's data, changing them will break the site.
// you may give skin params any name you wish - but only in new components and their (new) skins.
// ***************************************************************************************************************************************
$bg: color_11;
$shadow: rgba(255, 255, 255, .592157) 0 4px 6px -4px inset, rgba(255, 255, 255, .592157) 0 1px 0 0 inset, rgba(255, 255, 255, .901961) 0 -5px 5px -5px inset;
$shd: 0 0 5px rgba(0, 0, 0, .7);
$tdr: BASE_THEME_DIRECTORY;



#bg {
  @include abs-distance(0);
  background-color: param-bg-color(bg, $bg);
  @include param-box-shadow(shadow, $shadow);
}

.bgtwo {
  @include abs-distance(0);
  @include param-box-shadow(shd, $shd);
  background-image: param-url(tdr, $tdr, "ironpatern.png");
}

#inlineContent {
  @include abs-distance(0);
}

