@charset "UTF-8";

@import "screenWidthBase";

// ***************************************************************************************************************************************
// NOTE: *DO NOT* change the param names on existing skins (e.g. brd, shd, bg, etc) - the first argument passed to the param() functions. 
// these are saved in the site's data, changing them will break the site.
// you may give skin params any name you wish - but only in new components and their (new) skins.
// ***************************************************************************************************************************************
$bg: color_11;
$brd: color_15;
$brw: 0;
$tdr: BASE_THEME_DIRECTORY;

.border {
  @include abs-distance(0);
  background-color: param-bg-color(brd, $brd);
}

#bg {
  @include abs-distance(param-size(brw, $brw));
  background-color: param-bg-color(bg, $bg);
}

.shadow {
  position: absolute;
  top: -15px;
  bottom: -15px;
  background-image: param-url(tdr, $tdr, "shdtop.png");
  background-repeat: no-repeat;
  pointer-events: none;
}

.leftTop {
  left: -15px;
  background-position: left top;
  width: 50px;
}

.rightTop {
  right: -15px;
  background-position: right top;
  width: 50px;
}

.centerTop {
  right: 35px;
  left: 35px;
  background-position: center top;
}

#inlineContent {
  @include abs-distance(0);
}

#centeredContent {
  @include abs-distance(0);
}

[data-state~="mobileView"] .border {
  left: 10px;
  right: 10px;
}

[data-state~="mobileView"] .shadow {
  display: none;
}

