@charset "UTF-8";

@import "screenWidthBase";

// ***************************************************************************************************************************************
// NOTE: *DO NOT* change the param names on existing skins (e.g. brd, shd, bg, etc) - the first argument passed to the param() functions. 
// these are saved in the site's data, changing them will break the site.
// you may give skin params any name you wish - but only in new components and their (new) skins.
// ***************************************************************************************************************************************
$rd: 0;
$bg: color_11;
$brd: color_15;
$brw: 0;
$shd: 0 1px 3px rgba(0, 0, 0, .5);
$tdr: BASE_THEME_DIRECTORY;

#bg {
  @include abs-distance(0);
  @include param-box-shadow(shd, $shd);
  background-color: param-bg-color(bg, $bg);
  @include param-border-radius(rd, $rd);
  border: param-border-size(brw, $brw) solid param-border-color-alpha(brd, $brd);
}

.shd {
  position: absolute;
  bottom: -26px;
  width: 165px;
  height: 26px;
  background-image: param-url(tdr, $tdr, "liftedshadow_medium.png");
  background-repeat: no-repeat;
  pointer-events: none;
}

.left {
  left: -20px;
  background-position: 0 0;
}

.right {
  right: -20px;
  background-position: 100% 0;
}

#inlineContent {
  @include abs-distance(param-size(brw, $brw));
}

#centeredContent {
  @include abs-distance(0);
}

