@charset "UTF-8";

@import "screenWidthBase";

// ***************************************************************************************************************************************
// NOTE: *DO NOT* change the param names on existing skins (e.g. brd, shd, bg, etc) - the first argument passed to the param() functions. 
// these are saved in the site's data, changing them will break the site.
// you may give skin params any name you wish - but only in new components and their (new) skins.
// ***************************************************************************************************************************************
$bgc: color_1;
$baseThemeDir: BASE_THEME_DIRECTORY;
$_BorderRadius: 5px;
$_boxShadow: 0 1px 3px rgba(0, 0, 0, .8);

#centeredContent {
  position: absolute;
  height: 100%;
}

#bg {
  @include abs-distances(10px 0, 10px, 0);
  background-color: param-bg-color(bgc, $bgc);
  @include param-border-radius(_BorderRadius, $_BorderRadius);
  @include param-box-shadow(_boxShadow, $_boxShadow);
}

#inlineContent {
  @include abs-distances(50px, 0, 50px, 0);
}

[data-state~="hidden"] #bg {
  background: none !important;
  border: none none !important;
  box-shadow: none !important;
}

.borderGreekFrame {
  border-width: 24px;
  @include distances(100px, 90px, 100px, 90px);
  border-image: param-url(baseThemeDir, $baseThemeDir, "border_greekFrame.png") 24 repeat repeat;
}

.borderAncientFrame {
  border-width: 45px;
  border-image: param-url(baseThemeDir, $baseThemeDir, "border_ancientFrame.png") 45 repeat repeat;
}

.borderVinietFrame {
  border-width: 45px;
  border-image: param-url(baseThemeDir, $baseThemeDir, "border_vinietFrame.png") 90 repeat repeat;
}

.borderOldFrame {
  border-width: 25px;
  border-image: param-url(baseThemeDir, $baseThemeDir, "border_oldFrame.png") 25 repeat repeat;
}

.borderWoodFrame {
  border-width: 20px;
  border-image: param-url(baseThemeDir, $baseThemeDir, "border_woodFrame.png") 20 repeat repeat;
}

.net {
  background-image: param-url(baseThemeDir, $baseThemeDir, "net.png");
}

.paper {
  background-image: param-url(baseThemeDir, $baseThemeDir, "paper.jpg");
}

.grass {
  background-image: param-url(baseThemeDir, $baseThemeDir, "bg_grass.jpg");
}

.notePaper {
  background-image: param-url(baseThemeDir, $baseThemeDir, "bg_NotePaper.png");
}

.vichy {
  background-image: param-url(baseThemeDir, $baseThemeDir, "vichy.png");
}

.silverscales {
  background-image: param-url(baseThemeDir, $baseThemeDir, "silver_scales.png");
}

.leather {
  background-image: param-url(baseThemeDir, $baseThemeDir, "leather.png");
}

.oldmathematics {
  background-image: param-url(baseThemeDir, $baseThemeDir, "old_mathematics.png");
}

.paven {
  background-image: param-url(baseThemeDir, $baseThemeDir, "paven.png");
}

.polaroid {
  background-image: param-url(baseThemeDir, $baseThemeDir, "polaroid.png");
}

.realcf {
  background-image: param-url(baseThemeDir, $baseThemeDir, "real_cf.png");
}

.washi {
  background-image: param-url(baseThemeDir, $baseThemeDir, "washi.png");
}

.woven {
  background-image: param-url(baseThemeDir, $baseThemeDir, "woven.png");
}

.randomgreyvariations {
  background-image: param-url(baseThemeDir, $baseThemeDir, "random_grey_variations.png");
}

.inflicted {
  background-image: param-url(baseThemeDir, $baseThemeDir, "inflicted.png");
}

.crissXcross {
  background-image: param-url(baseThemeDir, $baseThemeDir, "crissXcross.png");
}

.cristals {
  background-image: param-url(baseThemeDir, $baseThemeDir, "cristals.png");
}

.damask {
  background-image: param-url(baseThemeDir, $baseThemeDir, "damask.png");
}

.darkbrickwall {
  background-image: param-url(baseThemeDir, $baseThemeDir, "dark_brick_wall.png");
}

.waves {
  background-image: param-url(baseThemeDir, $baseThemeDir, "bg_waves.png");
}

.wood {
  background-image: param-url(baseThemeDir, $baseThemeDir, "bg_wood1.jpg");
}

