@charset "UTF-8";

@import '../../../../components/src/main/mixins/components-base';

// ***************************************************************************************************************************************
// NOTE: *DO NOT* change the param names on existing skins (e.g. brd, shd, bg, etc) - the first argument passed to the param() functions.
// these are saved in the site's data, changing them will break the site.
// you may give skin params any name you wish - but only in new components and their (new) skins.
// ***************************************************************************************************************************************

//@include exports("media:skin","skins.viewer.bgImage.bgImageSkin");
//@include exports("media:skin","skins.viewer.bgVideo.bgVideoSkin");

#inlineContent{
  @include abs-distance(0);
}

#container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
