@charset "UTF-8";

@import "screenWidthBase";

// ***************************************************************************************************************************************
// NOTE: *DO NOT* change the param names on existing skins (e.g. brd, shd, bg, etc) - the first argument passed to the param() functions. 
// these are saved in the site's data, changing them will break the site.
// you may give skin params any name you wish - but only in new components and their (new) skins.
// ***************************************************************************************************************************************
$tdr: BASE_THEME_DIRECTORY;
$xxx: color_1;
$bg: color_11;

#screenWidthBackground {
  background-color: param-bg-color(bg, $bg);
  background: param-bg-color(xxx, $xxx) param-url(tdr, $tdr, "net.png") center center repeat;
}

#bg {
  @include abs-distance(0);
  background: #fff param-url(tdr, $tdr, "grid.png") repeat-y 50% 0;
}

#inlineContent {
  @include abs-distance(0);
}

#centeredContent {
  @include abs-distance(0);
}

