@charset "UTF-8";

@import "screenWidthBase";

// ***************************************************************************************************************************************
// NOTE: *DO NOT* change the param names on existing skins (e.g. brd, shd, bg, etc) - the first argument passed to the param() functions. 
// these are saved in the site's data, changing them will break the site.
// you may give skin params any name you wish - but only in new components and their (new) skins.
// ***************************************************************************************************************************************
$tdr: BASE_THEME_DIRECTORY;
$xxx: color_1;
$bgc1: color_15;
$bgc2: color_15;

#screenWidthBackground {
  background-color: mutate-bg-color-const(bgc1, alpha, .1, $bgc1);
  background: param-bg-color(xxx, $xxx) param-url(tdr, $tdr, "net.png") center center repeat;
}

#bg {
  @include abs-distance(0);
  background-color: mutate-bg-color-const(bgc2, alpha, .5, $bgc2);
}

#inlineContent {
  @include abs-distance(0);
}

#centeredContent {
  @include abs-distance(0);
}

