@charset "UTF-8";

@import "screenWidthBase";

// ***************************************************************************************************************************************
// NOTE: *DO NOT* change the param names on existing skins (e.g. brd, shd, bg, etc) - the first argument passed to the param() functions. 
// these are saved in the site's data, changing them will break the site.
// you may give skin params any name you wish - but only in new components and their (new) skins.
// ***************************************************************************************************************************************
$tdr: BASE_THEME_DIRECTORY;
$xxx: color_11;
$bgc: color_11;
$clr: color_15;
$shd: 0 0 5px rgba(0, 0, 0, .5);

#bg {
  @include abs-distance(0);
  @include param-box-shadow(shd, $shd);
  background-color: param-bg-color(bgc, $bgc);
  border: 1px solid param-border-color-alpha(clr, $clr);
  background: param-bg-color(xxx, $xxx) param-url(tdr, $tdr, "net.png") center center repeat;
}

#inlineContent {
  @include abs-distance(0);
}

#centeredContent {
  @include abs-distance(0);
}

