@charset "UTF-8";

@import "screenWidthBase";

// ***************************************************************************************************************************************
// NOTE: *DO NOT* change the param names on existing skins (e.g. brd, shd, bg, etc) - the first argument passed to the param() functions. 
// these are saved in the site's data, changing them will break the site.
// you may give skin params any name you wish - but only in new components and their (new) skins.
// ***************************************************************************************************************************************
$bg: color_11;
$brd: color_15;
$brwt: 0;
$brwb: 0;
$shd: inset 0 1px 1px rgba(255, 255, 255, .6), inset 0 -1px 1px rgba(0, 0, 0, .6), 0 0 5px rgba(0, 0, 0, .6);
$tdr: BASE_THEME_DIRECTORY;

.bg {
  @include abs-distance(0);
  @include param-box-shadow(shd, $shd);
  background-color: param-bg-color(bg, $bg);
  border-top: param-border-top-size(brwt, $brwt) solid param-border-color-alpha(brd, $brd);
  border-bottom: param-border-bottom-size(brwb, $brwb) solid param-border-color-alpha(brd, $brd);
  background-image: param-url(tdr, $tdr, "bevel_300.png");
  background-repeat: repeat-x;
}

#bg {
  @include abs-distances(param-size(brwt, $brwt), 0, param-size(brwb, $brwb), 0);
}

[data-state~="mobileView"] #bg {
  left: 10px;
  right: 10px;
}

#inlineContent {
  @include abs-distance(0);
}

#centeredContent {
  @include abs-distance(0);
}

