@charset "UTF-8";

@import "screenWidthBase";

// ***************************************************************************************************************************************
// NOTE: *DO NOT* change the param names on existing skins (e.g. brd, shd, bg, etc) - the first argument passed to the param() functions. 
// these are saved in the site's data, changing them will break the site.
// you may give skin params any name you wish - but only in new components and their (new) skins.
// ***************************************************************************************************************************************
$tdr: BASE_THEME_DIRECTORY;
$bg: color_11;
$bgctr: color_11;
$brd: color_15;
$brwt: 0;
$brwb: 0;
$shd: 0 0 5px rgba(0, 0, 0, .7);

.ln {
  top: -14px;
  height: 14px;
  min-height: 14px;
  background-image: param-url(tdr, $tdr, "shadowtop.png");
  position: absolute;
}

.left {
  background-position: 0 0;
  width: 100px;
  left: 0;
}

.right {
  background-position: 100% 0;
  width: 100px;
  right: 0;
}

.center {
  background-position: 0 14px;
  right: 100px;
  left: 100px;
}

.bg {
  @include abs-distance(0);
  background-color: param-bg-color(bg, $bg);
  @include param-box-shadow(shd, $shd);
  border-top: param-border-top-size(brwt, $brwt) solid param-border-color-alpha(brd, $brd);
  border-bottom: param-border-bottom-size(brwb, $brwb) solid param-border-color-alpha(brd, $brd);
}

#bg {
  @include abs-distances(param-size(brwt, $brwt), 0, param-size(brwb, $brwb), 0);
  background-color: param-bg-color(bgctr, $bgctr);
}

#inlineContent {
  @include abs-distance(0);
}

#centeredContent {
  @include abs-distance(0);
}

