@charset "UTF-8";

@import "screenWidthBase";

// ***************************************************************************************************************************************
// NOTE: *DO NOT* change the param names on existing skins (e.g. brd, shd, bg, etc) - the first argument passed to the param() functions. 
// these are saved in the site's data, changing them will break the site.
// you may give skin params any name you wish - but only in new components and their (new) skins.
// ***************************************************************************************************************************************
$bgc: color_11;
$baseThemeDir: BASE_THEME_DIRECTORY;
$_BorderRadius: 10px;
$_boxShadow: 0 1px 3px rgba(0, 0, 0, .8);

#centeredContent {
  position: absolute;
  left: 0;
  height: 100%;
}

#bg {
  @include abs-distances(10px, 0, 10px, 0);
  background-color: param-bg-color(bgc, $bgc);
  @include param-border-radius(_BorderRadius, $_BorderRadius);
  @include param-box-shadow(_boxShadow, $_boxShadow);
}

#inlineContent {
  @include abs-distances(50px, 0, 50px, 0);
}

.grass {
  background-image: param-url(baseThemeDir, $baseThemeDir, "bg_grass.jpg");
}

