@charset "UTF-8";

@import '../../../../components/src/main/mixins/components-base';
@import 'overrideAlignment';


// ***************************************************************************************************************************************
// NOTE: *DO NOT* change the param names on existing skins (e.g. brd, shd, bg, etc) - the first argument passed to the param() functions.
// these are saved in the site's data, changing them will break the site.
// you may give skin params any name you wish - but only in new components and their (new) skins.
// ***************************************************************************************************************************************
$f0: font_0;
$f1: font_1;
$f2: font_2;
$f3: font_3;
$f4: font_4;
$f5: font_5;
$f6: font_6;
$f7: font_7;
$f8: font_8;
$f9: font_9;
$f10: font_10;
$themeDir: THEME_DIRECTORY;

:host {
  word-wrap: break-word;
  @include override-alignment;
}

li{
  // Allow LI elements to have independent styles: #SE-14336
  //color: inherit;
  //font-size: inherit;
  //font-family: inherit;
  font-style: inherit;
  font-weight: inherit;
  line-height: inherit;
  letter-spacing: normal;
}

ol, ul{
  padding-left: 1.3em;
  padding-right: 0;
  margin-left: 0.5em;
  margin-right: 0;
  line-height: normal;
  letter-spacing: normal;

  &[class~="wix-list"] {
    padding-left: 0;
	  padding-right: 0;

    li {
      margin-left: 1.3em;
      margin-right: 0;
    }
  }

  &[class~="wix-list"][dir="rtl"] {
    padding-left: 0;
	  padding-right: 0;

    li {
      margin-left: 0;
      margin-right: 1.3em;
    }
  }
}

ul {
  list-style-type: disc;
}

ol {
  list-style-type: decimal;
}

ul , ol {
  ul {
    list-style-type: circle;

    ul {
      list-style-type: square;
    }
  }

  ol {
    ul{
      list-style-type: square;
    }
  }
}

ul, ol {
  &[dir="rtl"] {
    padding-left: 0;
    padding-right: 1.3em;
    margin-left: 0;
    margin-right: 0.5em;

    ul, ol {
      padding-left: 0;
      padding-right: 1.3em;
      margin-left: 0;
      margin-right: 0.5em;
    }
  }
}

p {
  margin: 0;
  line-height: normal;
  letter-spacing: normal;
}

h1 {
  margin: 0;
  line-height: normal;
  letter-spacing: normal;
}

h2 {
  margin: 0;
  line-height: normal;
  letter-spacing: normal;
}

h3 {
  margin: 0;
  line-height: normal;
  letter-spacing: normal;
}

h4 {
  margin: 0;
  line-height: normal;
  letter-spacing: normal;
}

h5 {
  margin: 0;
  line-height: normal;
  letter-spacing: normal;
}

h6 {
  margin: 0;
  line-height: normal;
  letter-spacing: normal;
}

a {
  color: inherit;
}

[data-class~="textPreloader"] {
//  background: param-url(themeDir, $themeDir, "gif_preloader.gif") center no-repeat;
}
