@charset "UTF-8";

@import 'paginaredGridGalleryBase';




// ***************************************************************************************************************************************
// NOTE: *DO NOT* change the param names on existing skins (e.g. brd, shd, bg, etc) - the first argument passed to the param() functions.
// these are saved in the site's data, changing them will break the site.
// you may give skin params any name you wish - but only in new components and their (new) skins.
// ***************************************************************************************************************************************
$bg: color_11;
$txt: color_15;
$linkColor: color_15;
$fntt: font_6;
$fntds: font_8;
$trans: opacity .3s ease 0s;
$trans2: opacity 0s;
$tdr: BASE_THEME_DIRECTORY;

@include exports("heightDiff", 20);
@include exports("widthDiff", 100);
@include exports("img:skin", "skins.core.ImageSkin");

#itemsContainer {
  margin: 0 50px;
}

#rolloverHolder {
  box-sizing: border-box !important;
  @include param-font(fntds, $fntds);
  background-color: param-bg-color(bg, $bg);
  @include param-transition(trans2, $trans2);
  color: param-border-color(txt, $txt);
  @include opacity(0);
  padding: 10px !important;
  overflow: hidden;
  cursor: pointer;
}

[data-state~="rollover"] #rolloverHolder {
  @include param-transition(trans, $trans);
  @include opacity(1);
}

#title {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  @include param-font(fntt, $fntt);
}

#description {
  white-space: pre-line;
  overflow: hidden;
  max-height: 60%;
}

#link {
  overflow: hidden;
  white-space: nowrap;
  text-decoration: underline;
  color: param-text-color(linkColor, $linkColor);
  position: absolute;
  bottom: 10px;
  left: 10px;
  right: 10px;
}

.buttons {
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  margin-top: -35px;
}

.buttons a {
  @include param-transition(trans, $trans);
  @include opacity(0.6);
  width: 45px;
  height: 65px;
  background-image: param-url(tdr, $tdr, "arrows_white_new3.png");
  background-repeat: no-repeat;
  cursor: pointer;
  position: absolute;
}

#buttonPrev {
  left: 0;
  background-position: 0 0;
}

#buttonNext {
  right: 0;
  background-position: 100% 0;
}

.buttons a:hover {
  @include opacity(1);
}

.hlp {
  position: absolute;
  color: param-border-color(txt, $txt);
}

.hlp span {
  display: block;
}

#autoplay {
  right: 80px;
  bottom: 0;
}

#counter {
  right: 50px;
  bottom: -2px;
  font-size: 13px;
}

[data-state~="noLink"]  #link {
  display: none;
}

[data-state~="autoplayOff"] #autoplay > span {
  border: 6px solid transparent;
  border-left: 6px solid param-border-color(txt, $txt);
}

[data-state~="autoplayOn"]  #autoplay > span {
  border-left: 3px solid param-border-color(txt, $txt);
  border-right: 3px solid param-border-color(txt, $txt);
  margin-right: 5px;
  height: 12px;
  width: 1px;
}
