
$single-audio-min-width: 250px;
@mixin single-audio-player-base($min-height, $min-mobile-height, $padding) {
  .hidden {
    display: none;
  }

  .visible {
    display: inline;
  }

  :host{
    min-width: calc(#{$single-audio-min-width} + #{$padding}*2);
    min-height: calc(#{$min-height} + #{$padding}*2);
    max-height: calc(#{$min-height} + #{$padding}*2);
    user-select: none;
    box-sizing: border-box;
  }
  #player {
    min-width: $single-audio-min-width;
    min-height: $min-height;
    overflow: hidden;
  }


  [data-state~="mobile"] {
    min-height: calc(#{$min-mobile-height} + #{$padding}*2);
    max-height: calc(#{$min-mobile-height} + #{$padding}*2);

    #player {
      min-height: $min-mobile-height;
      max-height: $min-mobile-height;
    }
  }
}
