@charset "UTF-8";

@import '../../mixins/components-base';
@import 'singleAudioPlayerSkinsMixin';

// ***************************************************************************************************************************************
// NOTE: *DO NOT* change the param names on existing skins (e.g. brd, shd, bg, etc) - the first argument passed to the param() functions.
// these are saved in the site's data, changing them will break the site.
// you may give skin params any name you wish - but only in new components and their (new) skins.
// ***************************************************************************************************************************************
$bg: color_13;
$iconBG: color_13;
$brd: color_15;
$dividers: color_15;
$audioIcons: color_21;
$audioText: color_11;
$prog: color_21;
$vol: color_15;
$brw: 0;
$shd: 0 1px 4px rgba(0, 0, 0, .6);
$themeDir: THEME_DIRECTORY;
$fnt: font_9;
$fnts: font_10;

@include exports(barSpaceLeft, 0);
@include exports(barSpaceRight, 0);
@include exports(mobileHeight, 75);
@include exports(desktopHeight, 75);

$min-height: 75px;
@include single-audio-player-base($min-height, 75px, param-size(brw, $brw));


:host {
  border: param-border-size(brw, $brw) solid param-border-color-alpha(brd, $brd);
  box-sizing: border-box;
  @include param-box-shadow(shd, $shd);
}

#player {
  margin: auto;
  background-color: param-bg-color(bg, $bg);
  @include abs-distance(0);

  &:after {
    content: "";
    overflow: hidden;
    z-index: $zindex-eplayer-large-play-player-after;
    @include abs-distance(-10px);
    background-color: param-bg-color(bg, $bg);
  }

  a {
    display: block;
    color: #fff;

    &:before, &:after {
      margin: -8px 0 0;
      background-color: param-border-color-alpha(audioIcons, $audioIcons);
      content: "";
      position: absolute;
      top: 50%;
      left: 0;
    }
  }
}

#info {
  color: param-text-color(audioText, $audioText);
  padding: 0;
  margin: 20px 0 20px 14px;
  position: absolute;
  left: 70px;
  right: 70px;
  @include param-font(fnt, $fnt);
}

.ellipsis {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.mediaControls {
  float: left;
  width: 100%;
}

.mediaButtons {
  float: left;
  width: 70px;
  height: 70px;
  border-right: 1px solid param-color-alpha(dividers, $dividers);
}

.volumeControls {
  float: right;
  padding-top: 2px;
}

#durationOfTrack {
  width: 100%;
  text-align: right;
  float: right;
  @include param-font(fnts, $fnts);
}

#trackPosition, #trackDuration, #artistLabel, #trackLabel, #sep, #sep2 {
  color: param-text-color(audioText, $audioText);
}

#artistLabel {
  @include opacity(0.5);
}

#trackPosition, #sep , #sep2{
  display: none !important;
}

.button {
  position: relative;
  overflow: hidden;
  float: left;

  &:before, &:after {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
  }
}

#playBtn, #pauseBtn, #repeatBtn {
  width: 30px;
  height: 30px;
  margin: 20px;

  a {
    &:before, &:after {
      left: 0;
      background: transparent;
      margin-top: -15px;
    }
  }
}

#playBtn {
  a {
    &:before {
      border: 8px solid transparent;
      border-width: 15px 30px;
      border-left-color: param-border-color-alpha(audioIcons, $audioIcons);
    }
  }
}

#pauseBtn {
  a {
    &:before {
      width: 10px;
      height: 30px;
      border: 10px solid param-border-color-alpha(audioIcons, $audioIcons);
      border-width: 0 10px;
    }
  }
}

#repeatBtn {
  a {
    &:before {
      left: 3px;
      width: 15px;
      height: 15px;
      border: 4px solid param-border-color-alpha(audioIcons, $audioIcons);
      margin-top: -10px;
      background: transparent;
      border-radius: 15px;
    }

    &:after {
      left: 17px;
      height: 2px;
      width: 2px;
      border: 4px solid $iconBG;
      border-width: 7px 3px 7px 7px;
      border-left-color: param-border-color-alpha(audioIcons, $audioIcons);
      border-top-color: transparent;
      border-bottom-color: transparent;
      border-right-color: transparent;
      margin-top: -14px;
      background-color: param-bg-color(bg, $bg);
    }
  }
}

.vWrapper {
  float: right;
  width: 50px;
  padding: 20px 14px 20px 0;
}

[data-state~="unmuted"] {
  #volumeBtn {
    a {
      &:before {
        left: -2px;
        border: 7px solid transparent;
        border-right-color: param-border-color-alpha(vol, $vol);
        margin-top: -7px;
        border-radius: 3px;
        background: transparent;
      }

      &:after {
        left: 4px;
        width: 4px;
        height: 6px;
        margin-top: -3px;
        background-color: param-border-color-alpha(vol, $vol);
      }
    }
  }
}

[data-state~="muted"] {
  #volumeBtn {
    &:before {
      width: 16px;
      height: 16px;
      border: 1px solid param-border-color-alpha(vol, $vol);
      margin-top: -9px;
      border-radius: 16px;
    }

    &:after {
      width: 18px;
      border-top: 1px solid param-border-color-alpha(vol, $vol);
      @include rotate(-45);
    }

    a {
      &:before {
        left: -2px;
        border: 7px solid transparent;
        border-right-color: param-border-color-alpha(vol, $vol);
        margin-top: -7px;
        border-radius: 3px;
        background: transparent;
      }
      &:after {
        left: 4px;
        width: 4px;
        height: 6px;
        margin-top: -3px;
        background-color: param-border-color-alpha(vol, $vol);
      }
    }
  }

  #volumeScale {
    li {
      &.on {
        .colorBlock {
          @include opacity(0.3);
        }
      }
    }
  }
}

#volumeBtn {
  margin-top: -2px;
  width: 20px;
  height: 20px;
}

ul {
  padding: 0;
  list-style-type: none;
  height: 10px;
}

#volumeScale, [data-state~="unmuted"]#volumeScale, [data-state~="muted"] #volumeScale {
  float: left;
  height: 10px;
  width: auto;
  margin: 3px 0 0 2px;
}

#volumeScale {
  li {
    width: 4px;
    height: 10px;
    display: inline;
    float: left;
    margin: 0;
    cursor: pointer;

    &.on {
      .colorBlock {
        @include opacity(1);
      }
    }

    &.off {
      .colorBlock {
        @include opacity(0.3);
      }
    }
  }
}

.colorBlock, .colorBlank {
  width: 2px;
  height: 10px;
  display: inline;
  float: left;
}

.colorBlock {
  background-color: param-border-color-alpha(vol, $vol);
}

.colorBlank {
  background-color: param-bg-color(bg, $bg);
}

#progressbar, #bar {
  height: 5px;
  width: 100%;
}

#progressbar {
  position: absolute;
  bottom: 0;
}

#bar {
  cursor: pointer;
  position: absolute;
  background-color: param-bg-color(prog, $prog);
  box-shadow: inset 0 -1px 1px rgba(255, 255, 255, .3);
  @include opacity(0.3);
}

#slider {
  position: absolute;
  height: 5px;
  display: block;
  background-color: param-bg-color(prog, $prog);
  overflow: hidden;
  cursor: pointer;

  &:after {
    content: "";
    z-index: $zindex-eplayer-large-play-slider-after;
    overflow: hidden;
    @include abs-distance(0);
  }
}

#handle {
  height: 5px;
  width: 5px;
  background-color: transparent;
  position: absolute;
  cursor: pointer;

  &:hover {
    background-color: param-border-color-alpha(audioIcons, $audioIcons);
    @include opacity(0.3);
  }
}

[data-state~="playing"] {
  .play, .repeat {
    display: none;
  }

  .pause {
    display: block;
  }
}

[data-state~="repeat"] {
  .play, .pause {
    display: none;
  }

  .repeat {
    display: block;
  }
}

[data-state~="pausing"], [data-state~="stopped"], [data-state~="waiting"] {
  .play {
    display: block;
  }

  .pause, .repeat {
    display: none;
  }
}

[data-state~="mobile"] {
  .volumeControls {
    display: none;
  }
}

[data-state="loading"] {
  #player {
    //  background: param-url(themeDir, $themeDir, "gif_preloader.gif") center no-repeat;

    * {
      display: none;
    }
  }
}


