@charset "UTF-8";

@import '../../mixins/components-base';

// ***************************************************************************************************************************************
// NOTE: *DO NOT* change the param names on existing skins (e.g. brd, shd, bg, etc) - the first argument passed to the param() functions.
// these are saved in the site's data, changing them will break the site.
// you may give skin params any name you wish - but only in new components and their (new) skins.
// ***************************************************************************************************************************************


$headerBg: color_17;
$rowBg: color_1;
$row2Bg: color_10;
$containerBg: color_1;

$shd: 0 1px 4px rgba(0, 0, 0, .6);
$rd: 0;

$containerBrd: color_5;
$containerBrw: 1;

$headerDivider: color_5;
$headerDivider_w: 1;
$columnDivider: color_5;
$columnDivider_w: 1;
$rowDivider: color_5;
$rowDivider_w: 1;

$selection: color_13;

$headerFont: font_9;
$headerText: color_5;
$rowFont: font_9;
$rowText: color_5;

.grid {
    height: 100%;
}

:host {
    // Container shadow
    // When pagination is PAGES, this container is present and used for shadow:
    #centerRow,
    // When pagination is either SCROLL or NONE, this container gets the shadow:
    #borderLayout_eRootPanel > #center {
        @include param-box-shadow(shd, $shd);
        @include param-border-radius(rd, $rd);
        -webkit-filter: blur(0);
    }

    .ag-root {
        border: param-border-size(containerBrw, $containerBrw) solid param-border-color-alpha(containerBrd, $containerBrd);
        @include param-border-radius(rd, $rd);
        overflow: hidden;
    }

    .ag-body-viewport-wrapper {
        @include translate3d(0, 0, 0);
    }

    // Set the overflow to visible in order to display shadow for pagination modes SCROLL/NONE:
    #borderLayout_eRootPanel {
        overflow: visible !important;
    }

    .ag-body-viewport {
        // Container background
        background: param-bg-color(containerBg, $containerBg);
        @include param-border-radius(rd, $rd);
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }
    
    .ag-header {
        // Container background
        background: param-bg-color(containerBg, $containerBg);
        
        // Header Divider
        border-bottom: 0;
    }

    .ag-header-cell {
        // Header background
        background: param-bg-color(headerBg, $headerBg);
    
        // Header Divider
        border-bottom: param-border-size(headerDivider_w, $headerDivider_w) solid param-border-color-alpha(headerDivider, $headerDivider);
    
        // Header text
        color: param-text-color(headerText, $headerText);
        @include param-font(headerFont, $headerFont);

        // Columns Divider
        border-right: param-border-size(columnDivider_w, $columnDivider_w) solid param-border-color-alpha(columnDivider, $columnDivider);
    }

    .ag-body {
        // Body Background
        background: transparent;
        @include param-border-radius(rd, $rd);

        // Row background
        .ag-row-odd {
            background: param-bg-color(row2Bg, $row2Bg);
        }
        .ag-row-even {
            background: param-bg-color(rowBg, $rowBg);
        }

        // Selection
        .ag-row.ag-row-selected {
            background: param-bg-color(selection, $selection);
        }
        .ag-cell.ag-cell-focus {
            background: param-bg-color(selection, $selection);
            border-right: param-border-size(columnDivider_w, $columnDivider_w) solid param-border-color-alpha(columnDivider, $columnDivider);
            border-left: 0;
            border-top: 0;
            border-bottom: 0;
        }

        // Images
        img {
            max-height: 100%;
            max-width: 100%;
        }

    }

    .ag-row {
        // Row text
        color: param-text-color(rowText, $rowText);
        @include param-font(rowFont, $rowFont);
    
        // Rows Divider
        box-sizing: border-box;
        border-bottom: param-border-size(rowDivider_w, $rowDivider_w) solid param-border-color-alpha(rowDivider, $rowDivider);
    }

    // Cell Content Vertical Centering
    .ag-cell a {
        display: block;
        height: 100%;
        width: 100%;
    }
    .ag-header-cell-label, .ag-cell-text {
        position: relative;
        top: 50%;
        transform: translateY(-50%);
    }

    // Columns Divider
    .ag-cell-no-focus {
        border-right: param-border-size(columnDivider_w, $columnDivider_w) solid param-border-color-alpha(columnDivider, $columnDivider);
        border-left: 0;
        border-top: 0;
        border-bottom: 0;
    }

    .ag-cell-image {
        display: block;
        position: relative;
        top: 50%;
        transform: translateY(-50%);
    }

    // Pagination panel visibility
    &.hide-pagination-panel {
        .ag-paging-panel {
            display: none;
        }
    }

    // Text alignment
    &.align-text-left {
        .ag-header-cell {
            text-align: left;
        }

        .ag-row {
            text-align: left;
        }

        .ag-cell-image {
            margin-right: auto;
        }
    }

    &.align-text-right {
        .ag-header-cell {
            text-align: right;
        }

        .ag-row {
            text-align: right;
        }

        .ag-cell-image {
            margin-left: auto;
        }
    }

    &.align-text-center {
        .ag-header-cell {
            text-align: center;
        }

        .ag-row {
            text-align: center;
        }

        .ag-cell-image {
            margin: auto;
        }
    }

    .ag-cell-richtext {
        height: inherit;
    }

    &.disable-horizontal-scroll {
        .ag-body-viewport {
            overflow-x: hidden;
        }
    }

    .ag-paging-row-summary-panel {
        position: absolute;
        width: auto;
        padding-right: 2px;
    }

    .ag-paging-page-summary-panel {
        display: block;
        text-align: center;
    }

    &.break-pagination-rows {
        .ag-paging-row-summary-panel {
            position: relative;
        }

        .ag-paging-page-summary-panel {
            text-align: left;
        }
    }
}
