@charset "UTF-8";
@import '../../../../components/src/main/mixins/components-base';

$brd-calendar: #aeaeae;
$brw-calendar: 1px;

:host {
  width: 320px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  $dataStateNotMobile: create-attr-selector(data-state, notMobile, '~=');
  $dataStateMobile: create-attr-selector(data-state, mobile, '~=');
  @include when-root-has-attr($dataStateMobile) {
    height: 100%;
    width: 300px;
    margin: auto 10px;
    display: flex;
    align-items: flex-end;

    &:before {
      content: '';
      cursor: pointer;
      margin-bottom: 8px;
      background: get-media-url("datePicker/mobile_x_button.svg") no-repeat center;
      background-size: 17px 17px;
      @include sizes(40px, 40px);
    }
  }

  > .date-picker {
    @include param-box-shadow(shd-calendar, 0 0 0 rgba(0, 0, 0, 0));
    @include param-border-radius(rd-calendar, 10px);
    background-color: param-bg-color(bg-calendar, #ffffff);
    border: param-border-size(brw-calendar, $brw-calendar) solid param-border-color(brd-calendar, $brd-calendar);
    overflow: hidden;
    display: inline-block;
    position: relative;
    width: 100%;
    cursor: default;
    user-select: none;
    z-index: $zindex-date-picker-calendar;

    > .day-names {
      padding: 0 20px;
      margin-top: 15px;

      &:empty {
        display: none;
      }

      @include when-root-has-attr($dataStateMobile) {
        padding: 0 10px;
      }

      > .day-name {
        @include sizes(40px, 40px);
        @include param-font-family(fnt-family-day, 'arial');
        font-size: param-text-size(txt-size-day, 14px);
        display: inline-block;
        line-height: 40px;
        text-align: center;
        font-weight: bold;
        color: param-text-color(txt-day, #000000);

        @include when-root-has-attr($dataStateMobile) {
          font-size: 14px;
        }
      }
    }

    > .year-options-wrapper {
      position: relative;
      text-align: center;
      max-height: 280px;
      overflow-y: auto;
      margin-top: 15px;
      margin-bottom: 20px;

      &:empty {
        display: none;
      }

      > .year-options-list {
        display: inline-block;

        > .year-option-item {
          @include sizes(80px, 40px);
          cursor: pointer;
          display: flex;
          justify-content: center;

          @include when-root-has-attr($dataStateMobile) {
            width: 130px;
          }

          &:not(.selected):hover > .year-content:before {
            @include when-root-has-attr($dataStateNotMobile) {
              background-color: param-color(bg-day-selected, #7343d1);
              opacity: 0.15
            }
          }

          &.selected > .year-content {
            color: param-text-color(txt-day-selected, #FFFFFF);

            &:before {
              background-color: param-color(bg-day-selected, #7343d1);
            }
          }

          > .year-content {
            @include sizes(78px, 34px);
            @include param-font-family(fnt-family-day, arial);
            font-size: param-text-size(txt-size-day, 14px);
            color: param-text-color(txt-day, #000000);
            display: block;
            line-height: 34px;
            margin: 3px 1px;

            @include when-root-has-attr($dataStateMobile) {
              font-size: 14px;
            }

            &:before {
              @include param-border-radius(rd-day-selected, 0);
              @include sizes(78px, 34px);
              @include abs-distance(auto);
              content: '';
              display: block;
              z-index: -1;
            }
          }
        }
      }
    }
  }
}


