@charset "UTF-8";
@import '../../../../components/src/main/mixins/components-base';

$bg: #ffffff;
$bgh: #ffffff;
$bge: #ffffff;
$bgf: #ffffff;
$rd: 0;

:host {

  $dataError: create-attr-selector(data-error, true);
  $dataDisabled: create-attr-selector(data-disabled, true);
  $datePreviewDisabled: create-attr-selector(data-preview, disabled, '~=');
  $datePreviewError: create-attr-selector(data-preview, error, '~=');
  $datePreviewFocus: create-attr-selector(data-preview, focus, '~=');
  $daterPreviewHover: create-attr-selector(data-preview, hover, '~=');
  $dataStateMobile: create-attr-selector(data-state, mobile, '~=');

  > .input-wrapper {
    @include param-border-radius(rd, $rd);
    @include param-box-shadow(shd, 0 0 0 rgba(0, 0, 0, 0));
    @include sizes(100%, 100%);
    position: relative;
    box-sizing: border-box;
    margin-bottom: 26px;
    background-color: param-bg-color(bg, $bg);
    border: param-border-size(brw, 1px) solid param-border-color-alpha(brd, #cacaca);
    cursor: pointer;
    user-select: none;

    @include when-root-has-attr($dataStateMobile) {
      @include tap-highlight-color(rgba(0, 0, 0, 0));
    }

    @include when-root-has-class(right-direction) {
      text-align: right;
    }

    @include when-root-has-any-attr($dataError $datePreviewError) {
      background-color: param-bg-color(bge, $bge);
      border: param-border-size(brwe, 1px) solid param-border-color-alpha(brde, #f60419);
    }

    @include when-root-has-any(read-only, (), $dataDisabled $datePreviewDisabled) {
      cursor: default;
    }

    @include when-root-has-any-attr($dataDisabled $datePreviewDisabled) {
      background-color: param-bg-color(bgd, #ffffff);
      border: param-border-size(brwd, 1px) solid param-border-color-alpha(brdd, #CCCCCC);
    }

    @include when-root-has-any(focused, focus, $datePreviewFocus) {
      background-color: param-bg-color(bgf, $bgf);
      border: param-border-size(brwf, 1px) solid param-border-color-alpha(brdf, #7343d1);
    }

    @include when-root-has-any((), hover, $daterPreviewHover) {
      @include when-root-has-all-pseudo-classes('not(.focused)' 'not(.read-only)' 'not(' + $dataError + ')' 'not(' + $dataDisabled + ')' 'not(' + $dataStateMobile + ')') {
        background-color: param-bg-color(bgh, $bgh);
        border: param-border-size(brwh, 1px) solid param-border-color-alpha(brdh, #cacaca);
      }
    }

    $calendar-symbol-size: 16px;
    > .calendar-icon {
      @include sizes($calendar-symbol-size, $calendar-symbol-size);
      margin-top: calc(-#{$calendar-symbol-size} / 2);
      fill: param-color-alpha(icn-color, #cacaca);
      pointer-events: none;

      @include when-root-has-any-class(left-direction center-direction) {
        @include abs-distances(50%, 20px, auto, auto);
      }

      @include when-root-has-class(right-direction) {
        @include abs-distances(50%, auto, auto, 20px);
      }
    }

    > .input {
      @include param-border-radius(rd, $rd);
      @include param-font(fnt, font_8);
      @include sizes(calc(100% - #{$calendar-symbol-size} - 40px), 100%);
      background-color: transparent;
      color: param-text-color(txt, #000000);
      pointer-events: none;
      text-overflow: ellipsis;
      border: transparent;
      display: inline-block;

      @include when-root-has-class(read-only) {
        pointer-events: auto;
      }

      @include when-root-has-class(left-direction) {
        text-align: left;
      }

      @include when-root-has-class(center-direction) {
        text-align: center;
      }

      @include when-root-has-class(right-direction) {
        text-align: right;
      }

      @include when-root-has-any-attr($dataDisabled $datePreviewDisabled) {
        color: param-text-color(txtd, #CCCCCC);
      }

      &::placeholder {
        color: param-text-color(txt-placeholder, #A9A9A9);
      }
    }
  }

  $calendar-width: 320px;
  > #calendar {
    position: absolute;

    @include when-root-has-class(left-direction) {
      left: 0;
    }

    @include when-root-has-class(center-direction) {
      left: calc(50% - #{$calendar-width} / 2);
    }

    @include when-root-has-class(right-direction) {
      right: 0;
    }
  }
}
