@charset "UTF-8";
@import '../../../../components/src/main/mixins/components-base';

@include exports("day:skin", "wysiwyg.viewer.skins.DayDefaultSkin");

:host {
  padding: 0 20px;
  margin-bottom: 20px;

  &:empty {
    display: none;
  }

  $dataStateMobile: create-attr-selector(data-state, mobile, '~=');
  @include when-root-has-attr($dataStateMobile) {
    padding: 0 10px;
  }
}
