@charset "UTF-8";
@import '../../../../components/src/main/mixins/components-base';

$txt-day-selected: #ffffff;
$txt-day: #000000;
$bg-day-selected: #7343d1;

:host {

  $dataStateMobile: create-attr-selector(data-state, mobile, '~=');
  $dataStateNotMobile: create-attr-selector(data-state, notMobile, '~=');
  @include sizes(40px, 40px);
  position: relative;
  display: inline-block;
  cursor: pointer;

  &.disabled {
    cursor: default;
  }

  &.hidden {
    visibility: hidden;
  }

  &.today {
    font-weight: bold;
  }

  > .day-content {
    $day-content-size: 36px;
    @include param-font-family(fnt-family-day, arial);
    @include sizes($day-content-size, $day-content-size);
    display: block;
    font-size: param-text-size(txt-size-day, 14px);
    text-align: center;
    color: param-text-color(txt-day, $txt-day);
    line-height: 36px;
    margin: 2px;

    @include when-root-has-attr($dataStateMobile) {
      font-size: 14px;
    }

    @include when-root-has-pseudo-class(hover) {
      @include when-root-has-class(today) {
        color: param-text-color(txt-day, $txt-day);
      }

      @include when-root-has-class(selected) {
        color: param-text-color(txt-day-selected, $txt-day-selected);
      }
    }

    @include when-root-has-class(disabled) {
      opacity: 0.5;
    }

    @include when-root-has-class(today) {
      color: param-text-color(bg-day-selected, $bg-day-selected);
    }

    @include when-root-has-class(selected) {
      color: param-text-color(txt-day-selected, $txt-day-selected);
    }

    &:before {
      @include param-border-radius(rd-day-selected, 0);
      @include sizes($day-content-size, $day-content-size);
      @include abs-distance(auto);
      content: '';
      display: block;

      @include when-root-has-class(selected) {
          background-color: param-color(bg-day-selected, $bg-day-selected);
      }

      @include when-root-has-all((), hover 'not(.disabled)', $dataStateNotMobile) {
        background-color: param-color(bg-day-selected, $bg-day-selected);
      }

      @include when-root-has-all-pseudo-classes(hover 'not(.selected)' 'not(.disabled)') {
        opacity: 0.15;
      }

      @include when-root-has-class(selected) {
        z-index: -1;
      }
    }
  }
}

