@charset "UTF-8";
@import '../../../../components/src/main/mixins/components-base';
@import 'calendarBase';

@include exports("month:skin", "wysiwyg.viewer.skins.MonthDefaultSkin");

$brd-calendar: #aeaeae;
$brw-calendar: 1px;
$txt-header: #ffffff;

:host {

  $dataStateMobile: create-attr-selector(data-state, mobile, '~=');
  $dataStateNotMobile: create-attr-selector(data-state, notMobile, '~=');
  > .date-picker > .header {
    @include param-font-family(fnt-family-header, 'arial');
    @include sizes(100%, 60px);
    display: flex;
    align-items: center;
    justify-content: center;
    color: param-text-color(txt-header, $txt-header);
    background-color: param-bg-color(bg-header, #7343d1);
    border-bottom: param-border-bottom-size(brw-calendar, $brw-calendar) solid param-border-color(brd-calendar, $brd-calendar);

    > .year-navigation,
    > .month-navigation {
      position: relative;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      cursor: pointer;
    }

    $nav-hover-opacity: 0.75;
    > .year-navigation {
      @include sizes(45px, 25px);
      font-size: 12px;
      word-wrap: break-word;

      @include when-root-has-attr($dataStateMobile) {
        @include sizes(40px, 40px);
      }

      @include when-root-has-attr($dataStateNotMobile) {
        &:hover {
          opacity: $nav-hover-opacity;
        }
      }
    }

    > .month-navigation {
      @include sizes(20px, 25px);
      line-height: 25px;

      @include when-root-has-attr($dataStateMobile) {
        @include sizes(40px, 40px);
        line-height: 40px;
      }

      > .nav-symbol {
        height: 13px;
        pointer-events: none;
        fill: param-text-color(txt-header, $txt-header);

        @include when-root-has-attr($dataStateMobile) {
          height: 17px;
        }
      }

      @include when-root-has-attr($dataStateNotMobile) {
        &:hover > .nav-symbol {
          fill-opacity: $nav-hover-opacity;
        }
      }
    }

    $month-nav-margin: 10px;
    $month-nav-margin-mobile: 12px;
    $month-nav-overlap-margin-mobile: -10px;
    > .month-navigation-previous {
      margin-left: $month-nav-margin;

      @include when-root-has-attr($dataStateMobile) {
        margin-left: $month-nav-margin-mobile;
        margin-right: $month-nav-overlap-margin-mobile;
      }
    }

    > .month-navigation-next {
      margin-right: $month-nav-margin;
      @include rotate(180);

      @include when-root-has-attr($dataStateMobile) {
        margin-right: $month-nav-margin-mobile;
        margin-left: $month-nav-overlap-margin-mobile;
      }
    }

    > .current-month-with-year {
      width: 140px;
      word-wrap: break-word;
      text-align: center;
      display: inline-block;
      font-size: param-text-size(txt-size-header, 18px);
      color: param-text-color(txt-header, $txt-header);
      cursor: pointer;

      @include when-root-has-attr($dataStateNotMobile) {
        &:hover {
          opacity: 0.75;
        }
      }

      @include when-root-has-attr($dataStateMobile) {
        font-size: 16px;
        width: 97px;
      }
    }
  }
}




