@charset "UTF-8";
@import "../../dialogs";
@import "../../newDialogs";

@include exports("okButton:skin", "wysiwyg.viewer.skins.button.BasicButton");
@include exports("okButton:styleGroup", "b1");

#rememberMeCheckboxLabel {
  font-size: 14px;
  line-height: 14px;
  display: inline-block;
}

#forgotYourPasswordLinkMobile {
  display: none;
}

#switchDialogLink {
  float: none;
}

.switchLinkContainer {
  display: flex;
  justify-content: space-between;
  padding-top: 0;
  padding-bottom: 24px;
  height: 14px;

  #checkboxWrapper {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: auto;
    margin-right: 10px;
  }
}

.switchToSignUpContainer {
  text-align: center;
  font-size: 14px;
  padding-top: 24px;
}

#memberLoginDialoginfoTitle {
  margin-bottom: 0;
  margin-top: 0;
}

#infoTitle {
  margin-bottom: 28px;
  margin-top: 10px;
}

#email label,
 #password label {
   display: none;
 }

[data-state~="mobile"] {

  #title {
    padding-bottom: 40px;
  }

  .switchLinkContainer {
    padding-top: 0;
  }

  #forgotYourPasswordLink {
    display: none;
  }

  #forgotYourPasswordLinkMobile {
    display: block;
  }

}



