@charset "UTF-8";
@import "../../dialogs";
@import "../../newDialogs";

@include exports("okButton:skin", "wysiwyg.viewer.skins.button.BasicButton");
@include exports("okButton:styleGroup", "b1");

#contentWrapper {
  &.horizontal {
    #forgotYourPasswordLink {
      display: none;
    }

    .forgotPasswordContainer {
      text-align: left;
      font-size: 14px;
    }

    .footer {
      padding-top: 24px;
      padding-bottom: 0;
    }

    .rememberMeCheckboxLabel {
      display: inline;
    }
  }
}
