@charset "UTF-8";
@import "../../dialogs";

#rememberMeCheckbox {
  //  margin: 0 5px 0 0;
  float: left;
  margin-right: 5px;
  margin-top: 1px;
  margin-left: 0;
}

#rememberMeCheckboxLabel {
  font-size: 12px;
  vertical-align: 2px;
}

#forgotYourPasswordLink {
  font-size: 12px;
  color: #0198ff;
  text-decoration: underline;
  margin-top: 15px;
  cursor: pointer;

  &:hover {
    color: #04f;
    cursor: pointer;
  }
}

.switchLinkContainer {
  padding-bottom: 20px;
  float: right;
}

#memberLoginDialoginfoTitle {
  margin-bottom: 0;
  margin-top: 0;
}

#memberLoginDialogrememberMeCheckbox {
  margin-right: 5px;
  margin-top: 1px;
}

#infoTitle {
  margin-bottom: 28px;
  margin-top: 10px;
}

