@charset "UTF-8";

@import '../../../../components/src/main/mixins/components-base';



// ***************************************************************************************************************************************
// NOTE: *DO NOT* change the param names on existing skins (e.g. brd, shd, bg, etc) - the first argument passed to the param() functions. 
// these are saved in the site's data, changing them will break the site.
// you may give skin params any name you wish - but only in new components and their (new) skins.
// ***************************************************************************************************************************************
$tdr: BASE_THEME_DIRECTORY;

:host {
  &:hover {
    #followButtonTag {
      border: 1px solid #aaaaaa;
    }
  }

  &:active {
    #followButtonTag {
      background: rgba(0, 0, 0, 0) param-url(tdr, $tdr, "pinterest_follow_down.jpg") 0 0 repeat-x;
    }
  }
}


#followButtonTag {
  color: #444;
  font: bold normal normal 11px/20px "Helvetica Neue",helvetica,arial,san-serif!important;
  height: 16px;
  margin: 0;
  padding: 0 4px 2px 22px;
  border-radius: 3px;
  position: relative;
  text-decoration: none;
  vertical-align: baseline;
  background: rgba(0, 0, 0, 0) param-url(tdr, $tdr, "pinterest_follow.jpg") 0 0 repeat-x;
  border: 1px solid #c9c9c5;
  white-space: nowrap;
}

.icon {
  position: absolute;
  top: 3px;
  left: 5px;
  height: 14px;
  width: 14px;
  background-size: 14px 14px;
  background-image: param-url(tdr, $tdr, "log1.png");
}




