//general Colors

$color-white: #FFFFFF;
$color-blue: #24a0c4;

// Buttons

// Button - Blue
$color-button-blue-background: #2aa7ea;
$color-button-blue-border: #5b8fa7;
$color-button-blue-border-hover: #237aa7;
$color-button-blue-background-hover: #179ce1;

// Button - gray
$color-button-gray-background: #f9fafc;
$color-button-gray-border: #c4c4c4;
$color-button-gray-border-hover: #89a4af;
$color-button-gray-background-hover: #f2f3f5;


// Button - red
$color-button-red-background: #d14836;
$color-button-red-background-hover: #dc4b39;
$color-button-red-border: #9e3629;
$color-button-red-border-hover: #9e3629;
