@charset "UTF-8";

@import '../../../../../components/src/main/mixins/components-base';



// ***************************************************************************************************************************************
// NOTE: *DO NOT* change the param names on existing skins (e.g. brd, shd, bg, etc) - the first argument passed to the param() functions.
// these are saved in the site's data, changing them will break the site.
// you may give skin params any name you wish - but only in new components and their (new) skins.
// ***************************************************************************************************************************************
$lnw: 1px;



:host {
  border-right: param-border-size(lnw, $lnw) dashed rgba(255, 255, 255, .5);
  border-left: param-border-size(lnw, $lnw) dashed rgba(0, 0, 0, .35);
  width: 0 !important;
  min-width: 0 !important;
}
