@charset "UTF-8";

@import '../../../../../components/src/main/mixins/components-base';



// ***************************************************************************************************************************************
// NOTE: *DO NOT* change the param names on existing skins (e.g. brd, shd, bg, etc) - the first argument passed to the param() functions.
// these are saved in the site's data, changing them will break the site.
// you may give skin params any name you wish - but only in new components and their (new) skins.
// ***************************************************************************************************************************************
$tdr: BASE_THEME_DIRECTORY;



:host:before {
  background-image: param-url(tdr, $tdr, "fadenotchlineverticalnew.png");
  background-position: -30px 0;
  position: absolute;
  content: "";
  top: 0;
  width: 30px;
  height: 30px;
}

:host:after {
  background-image: param-url(tdr, $tdr, "fadenotchlineverticalnew.png");
  background-position: -30px 100%;
  position: absolute;
  content: "";
  bottom: 0;
  width: 30px;
  height: 30px;
}

#line {
  background-image: param-url(tdr, $tdr, "fadenotchlineverticalnew.png");
  background-position: 0 0;
  background-repeat: repeat-y;
  width: 30px;
  position: absolute;
  content: "";
  top: 30px;
  bottom: 30px;
}
