@charset "UTF-8";

@import '../../../../../components/src/main/mixins/components-base';



// ***************************************************************************************************************************************
// NOTE: *DO NOT* change the param names on existing skins (e.g. brd, shd, bg, etc) - the first argument passed to the param() functions.
// these are saved in the site's data, changing them will break the site.
// you may give skin params any name you wish - but only in new components and their (new) skins.
// ***************************************************************************************************************************************
$lnw: 3px;
$mrg: lnw;
$brd: color_15;



:host {
  border-left: param-border-left-size(lnw, $lnw) dotted param-color-alpha(brd, $brd);
  margin-left: mutate-size-param(mrg, multiply, -0.5, lnw);
  width: 0 !important;
  min-width: 0 !important;
}
