@charset "UTF-8";

@import '../../../../../components/src/main/mixins/components-base';



// ***************************************************************************************************************************************
// NOTE: *DO NOT* change the param names on existing skins (e.g. brd, shd, bg, etc) - the first argument passed to the param() functions.
// these are saved in the site's data, changing them will break the site.
// you may give skin params any name you wish - but only in new components and their (new) skins.
// ***************************************************************************************************************************************
$tdr: BASE_THEME_DIRECTORY;



:host:before {
  background-image: param-url(tdr, $tdr, "fadelinevertical.png");
  background-position: 145px 0;
  position: absolute;
  left: -14px;
  width: 29px;
  content: "";
  top: 0;
  height: 100px;
}

:host:after {
  background-image: param-url(tdr, $tdr, "fadelinevertical.png");
  background-position: 145px 100%;
  position: absolute;
  left: -14px;
  width: 29px;
  content: "";
  bottom: 0;
  height: 100px;
}

#line {
  background-image: param-url(tdr, $tdr, "fadelinevertical.png");
  background-position: 174px 0;
  position: absolute;
  left: -14px;
  width: 29px;
  content: "";
  top: 100px;
  bottom: 100px;
}
