@charset "UTF-8";
@import "../../dialogs";

$tdr: BASE_THEME_DIRECTORY;

.footer {
  text-align: right;
  width: 100%;
  padding-bottom: 10px;
}

#submitButton {
  float: none;
  cursor: pointer;
  border: solid 2px #0064a8;
  height: 36px;
  width: 143px;
  background: transparent param-url(tdr, $tdr, "viewer_login_sprite.png") repeat-x right -252px;
  color: #fff;
  font-size: 24px;
  font-weight: bold;
}
