@import 'baseContactForm';

$message-field-height: 128px;
$fnt: font_7;
$fnt2: font_7;
$txt-error: #FF0000;
$txt-success: rgba(186, 218, 85, 1);
$txt1: color_15;
$txt2: color_15;
$txt3: color_15;
$bg1: color_11;
$brd: color_15;
$brd2: color_18;


#wrapper {
  position: absolute;
  width: 100%;
  text-align: center;
}

.first-row-wrapper {
  display: flex;

  input {
    flex: 1;
    min-width: 0;
    &:first-child {
      margin-right: 30px;
    }
  }
}

input,
textarea {
  padding: 5px;
  border: none;
  border-bottom: 1px solid param-border-color-alpha(brd, $brd);
  color: param-text-color(txt1, $txt1);
  margin: 0 0 5px;
  width: 100%;
  transition: 0.5s ease all;
  background-color: transparent;

  @include appearance(none);
  @include param-font(fnt, $fnt);
  @include appearance(none);
  border-radius: 0;

  &:focus {
    outline: none;
    border-color: param-border-color-alpha(brd2, $brd2);
  }

  &.error {
    @include param-font(fnt, $fnt);
    color: param-text-color(txtError, $txt-error);
    border-bottom: 1px solid param-text-color(txtError, $txt-error);
    &::placeholder {
      color: param-text-color(txtError, $txt-error);
    }
  }

  &::placeholder {
    color: param-text-color(txt3, $txt3);
  }
}

input {
  margin-bottom: 12px;
}

textarea {
  resize: none;
  overflow: hidden;
  margin: 0 0 10px;
}

#messageField {
  min-height: $message-field-height;
}

#submit {
  color: param-text-color(txt4, $txt3);
  @include param-font(fnt2, $fnt2);


  &:hover {
    cursor: pointer;
  }
}

#notifications {
  font: normal 14px 'Helvetica Neue', Helvetica, sans-serif;
  margin-top: 20px;
  height: 14px;


  &.success {
    color: param-text-color(txtSuccess, $txt-success);
  }

  &.error {
    color: param-border-color(txtError, $txt-error);
  }
}

[data-state~="mobile"] {
  input,
  textarea {
    font-size: 14px;

    &::placeholder {
      font-size: 14px;
    }
  }

  input {
    min-height: 35px;
    line-height: 35px;
    margin-bottom: 12px;
  }

  textarea {
    min-height: 110px;
  }

}

[data-state~="right"] {
  direction: rtl;
  text-align: right;

  input {
    flex: 1;
    min-width: 0;
    &:first-child {
      margin-right: 0;
      margin-left: 30px;
    }
  }
}

[data-state~="left"] {
  direction: ltr;
  text-align: left;
}

$fields: (name, email, subject, phone, address, message);
$selector: ();
@each $field in $fields {
  $selector: append($selector, unquote('[data-state~="#{$field}Hidden"] ##{$field}Field'), comma)
}


#{$selector} {
  display: none !important;
}
