@import 'baseContactForm';

$margin-right: 10px;
$scrollbar-width: 17px;
$message-field-height: 128px;
$field-height: 35px;
$submit-button-height: 55px;
$submit-button-width: 150px;
$shadowColor: 0,0,0,0;
$rd: 5px;
$shd: 0 0px 0px rgba(0, 0, 0, 0);
$fnt: font_7;
$fnt2: font_7;
$txt-error: #8b0000;
$txt-success: rgba(186, 218, 85, 1);
$txt1: color_15;
$txt2: color_15;
$labeltxt: color_15;
$bg1: color_11;
$bg2: color_18;
$brw: 1;
$brw2: 1;
$brd: color_15;


#wrapper {
    position: absolute;
    width: 100%;
    text-align: center;
}


input,
#textareaContainer {
    border: 0;
    @include param-box-shadow(shd, $shd);
    @include appearance(none);
    @include appearance(none);
    border: param-border-size(brw, $brw) solid param-border-color-alpha(brd, $brd);
    background-color: param-bg-color(bg1, $bg1);
    width: 100%;
}

input,
textarea {
    padding: 5px 10px;
    @include param-font(fnt, $fnt);
    color: param-text-color(txt1, $txt1);
    background-color: param-bg-color(bg1, $bg1);
    box-sizing: border-box;
    border-radius: 0;

    &::placeholder {
        color: param-text-color(labelTxt, $labeltxt);
    }
}

textarea {
    background-color: rgba(0,0,0,0);
}

input {
    margin-bottom: 12px;
    &.error {
        @include param-font(fnt, $fnt);
        color: param-text-color(txtError, $txt-error);
        &::placeholder {
            color: param-text-color(txtError, $txt-error);
        }
    }
}

#textareaContainer {
    height: $message-field-height;
    padding: 0;
    overflow: hidden;
    background-color: param-bg-color(bg1, $bg1);
    box-sizing: border-box;
}

textarea {
    resize: none;
    margin: 0;
    width: calc(100% + #{$scrollbar-width});
    height: 85%;
    overflow: auto;
    border: none;

    &.error {
        @include param-font(fnt, $fnt);
        color: param-text-color(txtError, $txt-error);
        &::placeholder {
            color: param-text-color(txtError, $txt-error);
        }
    }
}


#submit {
    border: param-border-size(brw2, $brw2) solid param-border-color-alpha(brd, $brd);
    cursor: pointer;
    background-color: param-bg-color(bg2, $bg2);
    color: param-text-color(txt2, $txt2);
    min-width: $submit-button-width;
    max-width: calc(100% - 40px);
    min-height: $submit-button-height;
    line-height: $submit-button-height;
    margin: -19px auto 15px auto;
    display: block;
    @include param-font(fnt2, $fnt2);
    padding: 12px;

}

#notifications {
    font: normal 14px 'Helvetica Neue', Helvetica, sans-serif;
    max-width: 60%;
    display: inline-block;
    margin-top: -5px;
    height: 14px;


    &.success {
        color: param-text-color(txtSuccess, $txt-success);
    }

    &.error {
        color: param-text-color(txtError, $txt-error);
    }
}


[data-state~="mobile"] {
    input,
    textarea {
        font-size: 14px;

        &::placeholder {
            font-size: 14px;
        }
    }

    input {
        min-height: 35px;
        line-height: 35px;
        margin-bottom: 12px;
    }

    textarea {
        min-height: 110px;
    }

}
[data-state~="right"] {
    direction: rtl;
    text-align: right;
}

[data-state~="left"] {
    direction: ltr;
    text-align: left;
}
$fields: (name, email, subject, phone, address);
$selector: ();
@each $field in $fields {
    $selector: append($selector, unquote('[data-state~="#{$field}Hidden"] ##{$field}Field'), comma)
}

#{$selector} {
    display: none !important;
}

[data-state~="messageHidden"] {
    #submit {
        margin: 0 auto 15px auto;
    }

    #notifications {
        margin-top: -5px;
    }

    #messageField,
    #textareaContainer {
        display: none !important;
    }

}
