@import 'baseContactForm';

// ***************************************************************************************************************************************
// NOTE: *DO NOT* change the param names on existing skins (e.g. brd, shd, bg, etc) - the first argument passed to the param() functions.
// these are saved in the site's data, changing them will break the site.
// you may give skin params any name you wish - but only in new components and their (new) skins.
// ***************************************************************************************************************************************
$bg1: color_11;
$txt1: color_15;
$bg2: color_18;
$txt2: color_15;
$txt3: color_15;
$txt-error: #8b0000;
$txt-success: rgba(186, 218, 85, 1);
$brd: color_15;
$brw: 0;
$fnt: font_7;
$fnt2: font_7;
$rd: 5px;
$shd: 0 1px 4px rgba(0, 0, 0, .6);

#wrapper {
  position: absolute;
  width: 100%;

}

label {
  box-sizing: border-box;
  color: param-text-color(txt3, $txt3);
  @include param-font(fnt, $fnt);
}

button {
  @include param-border-radius(rd, $rd);
  @include param-box-shadow(shd, $shd);
  background-color: param-bg-color(bg2, $bg2);
  @include param-font(fnt2, $fnt2);
  border: 0;
  color: param-text-color(txt2, $txt2);
  cursor: pointer;
  display: inline-block;
  max-width: 35%;
  padding: 5px;
  vertical-align: top;
  position: absolute;
  right: 0;
  white-space: nowrap;
}

textarea {
  height: 130px;
  resize: none;
}

#notifications {
  border: 0;
  color: param-text-color(txt2, $txt2);
  cursor: pointer;
  display: inline-block;
  font: normal 14px "Helvetica Neue", Helvetica, sans-serif;
  max-width: 60%;
  vertical-align: top;
  position: absolute;
  left: 0;

  &.success {
    color: param-text-color(txtSuccess, $txt-success);
  }

  &.error {
    color: param-border-color(txtError, $txt-error);
  }
}

input,
textarea {
  @include appearance(none);
  border: param-border-size(brw, $brw) solid param-border-color-alpha(brd, $brd);
  box-sizing: border-box;
  color: param-text-color(txt1, $txt1);
  @include param-border-radius(rd, $rd);
  @include param-box-shadow(shd, $shd);
  background-color: param-bg-color(bg1, $bg1);
  @include param-font(fnt, $fnt);
  padding: 5px;
  width: 100%;
  margin: 2px 0 7px 0;

  &.error {
    border: mutate-size-param(maxbrw, max, 1, brw) solid param-border-color(txtError, $txt-error);
    color: param-border-color(txtError, $txt-error);
    @include param-font(fnt, $fnt);
  }

  &::placeholder {
    color: transparent;
  }
}

.row {
  min-width: 100%;
}

.cell {
  vertical-align: top;
}

[data-state~="desktop"] {
  #wrapper {
    display: table;
    vertical-align: top;
  }
  .row {
    display: table-row;
  }
  .cell {
    display: table-cell;
  }

  label {
    display: table-cell;
    vertical-align: top;
    width: 85px;
  }

  &[data-state~="right"] label {
    padding: 0 0 5px 15px;
    text-align: left;
  }

  &[data-state~="left"] label {
    padding: 0 15px 5px 0;
    text-align: right;
  }

  .col {
    display: table-cell;
    vertical-align: top;
  }
}

[data-state~="mobile"] {
  #wrapper,
  .row,
  .cell,
  .col {
    display: block;
  }

  label {
    display: block;
    font-size: 14px;
    margin: 3px 0;
    padding: 0;
    width: auto;
  }

  input,
  textarea {
    width: 100%;
  }

  input {
    display: block;
    font-size: 14px;
    height: 45px;
    line-height: 45px;
    margin: 0;
  }

  textarea {
    height: 150px;
  }

  button {
    margin-top: 10px;
  }

  &[data-state~="left"] {
    input {
      margin: 2px 0 7px;
    }
    textarea {
      margin: 0 0 5px;
    }
  }

  &[data-state~="right"] {
    input {
      margin: 2px 0 7px 0;
    }
    textarea {
      margin: 2px 0 5px 0;
    }
  }
}

[data-state~="right"] {
  direction: rtl;
  text-align: right;

  span {
    padding-left: 10px;
  }

  .msg {
    direction: rtl;
    position: relative;
    height: 40px;
  }

  input {
    margin: 2px 0 7px 0;
  }
  textarea {
    margin: 2px 0 5px 0;
  }
}

[data-state~="left"] {
  direction: ltr;
  text-align: left;

  span {
    padding-right: 10px;
  }

  .msg {
    direction: ltr;
    position: relative;
    height: 40px;
  }

  input {
    margin: 2px 0 7px 0;
  }
  textarea {
    margin: 0 0 5px 0;
  }
}

$fields: (name, email, subject, phone, address, message);
$selector: ();
@each $field in $fields {
  $selector: append($selector, unquote('[data-state~="#{$field}Hidden"] ##{$field}Field'), comma)
}

#{$selector} {
  display: none !important;
}

$fields: (name, email, subject, phone, address, message);
$selector: ();
@each $field in $fields {
  $selector: append($selector, unquote('[data-state~="#{$field}Hidden"] #label_#{$field}'), comma)
}

#{$selector} {
  display: none !important;
}
