html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td{
    margin         : 0;
    padding        : 0;
    border         : 0;
    outline        : 0;
    vertical-align : baseline;
    background     : transparent;
}

body{
    /*line-height: 1;*/
    font-size   : 10px;
    font-family : Arial, Helvetica, sans-serif;
}

ol, ul{
    list-style : none;
}

/** Z-INDEX **/

.Z-FIXED-COMPS{
    z-index : 2;
}

.Z-WIX-ADS > *{
    z-index : 3;
}

.richTextContainer ol{
    list-style : decimal inside;
}

.richTextContainer ul{
    list-style : disc inside;
}

.richTextContainer li{
    margin-bottom : 12px;
}

blockquote, q{
    quotes : none;
}

/* Contain floats: h5bp.com/q */
.clearfix:before, .clearfix:after{
    content : "";
    display : table;
}

.clearfix:after{ clear : both; }

.clearfix{ zoom : 1; }

:focus{
    outline : 0;
}

ins{
    text-decoration : none;
}

del{
    text-decoration : line-through;
}

/* tables still need 'cellspacing="0"' in the markup */
table{
    border-collapse : collapse;
    border-spacing  : 0;
}

a{
    cursor          : pointer;
    text-decoration : none;
}

/**
 * End reset
 */

/**
 * Set body and site structure to a minimum height of 100%
 * this causes the body to be smaller than it's content, which means that when scrolling it looks like the content is out of body.
 */
html, body{
    height : 100%;
}

/*************************************
 * Body overflow settings, BE CAREFUL WHEN CHANGING THIS
 */

/* When in Public Viewer Mode */
body,
body[preview="public"]{
    overflow-x : auto;
    overflow-y : scroll;
}

/* When in Text Editor */
body[contenteditable]{
    overflow-x : auto;
    overflow-y : auto;
}

/* When in Mobile and in Public Viewer Mode */
body[device="mobile"]{
    overflow-x: hidden;
    overflow-y: scroll;
}
/* When in Editor Edit Mode */
body[preview="edit"]{
    overflow-x: hidden;
    overflow-y: hidden;
}

/* When in Editor Preview Mode */
body[preview="view"]{
    overflow-x : auto;
    overflow-y : scroll;
}

/* When in Mobile and in Editor Preview Mode */
body[preview="view"][device="mobile"]{
    overflow-x: hidden;
    overflow-y: hidden;
}


/* Site Structure Overflow */


/* On Mobile, site structure should have no inner scroll either */
body[device="mobile"] .SITE_STRUCTURE{
    overflow-x: hidden;
    overflow-y: auto;
}

/* On Mobile, in edit mode, hide nothing */
body[preview="edit"][device="mobile"] .SITE_STRUCTURE{
    overflow-x: visible;
    overflow-y: visible;
}

/* On Mobile, in preview mode, also hide the vertical scroll */
body[preview="view"][device="mobile"] .SITE_STRUCTURE{
    overflow-x: hidden;
    overflow-y: hidden;
}
/* Full Screen Overrides */


/* When in full screen mode */
body.fullScreenMode{
    overflow-x: hidden !important;
    overflow-y: hidden !important;
}

/* When in wixapps full screen mode for wixapps zoom*/
body.wixappsFullScreenMode{
    overflow-x: hidden !important;
    overflow-y: auto !important;
}

/* When in wixapps full screen mode in Mobile and in Editor Preview Mode */
body[preview="view"][device="mobile"].wixappsFullScreenMode{
    overflow-x: hidden !important;
    overflow-y: hidden !important;
}

/* When in wixapps full screen mode for wixapps zoom temporarily hide site structure*/
body[device="mobile"].wixappsFullScreenMode .SITE_STRUCTURE{
    overflow-x: hidden !important;
    overflow-y: hidden !important;
    min-height: 100px  !important;
}

/* When in wixapps full screen mode for wixapps zoom temporarily hide bg node*/
body[device="mobile"].wixappsFullScreenMode #mobile_bgNode{
    display:none;
}

.wixapps-less-spacers-align.ltr{
    text-align: left;
}
.wixapps-less-spacers-align.center{
    text-align: center;
}
.wixapps-less-spacers-align.rtl{
    text-align: right;
}
.wixapps-less-spacers-align > div, .wixapps-less-spacers-align > a{
    display: inline-block !important;
}
/**
 * End Body overflow settings
 *************************************/

/*** Fixed positioning for header and footer ***/
.fixedPosition{
    position: fixed!important;
    z-index: 1!important;
}
#SITE_FOOTER.fixedPosition{
    top: auto !important;
}
#mobile_SITE_FOOTER.fixedPosition{
    top: auto !important;
}
/*** End fixed positioning for header and footer ***/

.SITE_STRUCTURE{
    min-height : 100%;
    position   : relative;
    margin     : 0 auto;
    width      : 1000px;
}

.blockSelection *:not(input):not(textarea){
    -webkit-user-select : none;
    -moz-user-select    : -moz-none;
    -ms-user-select     : none;
    -o-user-select      : none;
    user-select         : none;
}

.TransitionSize{
    /* Safari width,height,margin*/
    -webkit-transition : all 0.4s;
    -o-transition      : all 0.4s;
    -moz-transition    : all 0.4s;
    -ms-transition     : all 0.4s;
    transition         : all 0.4s;
}

.MagicLayoutAnimation *{
    /* Safari width,height,margin*/
    -webkit-transition : all 0.2s;
    -o-transition      : all 0.2s;
    -moz-transition    : all 0.2s;
    -ms-transition     : all 0.2s;
    transition         : all 0.2s;
}

textarea, input, select{
    font-family        : Arial, sans-serif;
    -webkit-box-sizing : border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing    : border-box; /* Firefox, other Gecko */
    box-sizing         : border-box; /* Opera/IE 8+ */
}

.hidden{
    display : none !important;
}

.visuallyHidden{
    visibility : hidden !important;
}

/* Visually hidden for animations when in Editor Preview or in Public Mode
 * Using Opacity because too many places in the code change "visibility" in an hardcoded way.
 * Also, hide page for animation, where page transitions happen also in Editor
 */
body[preview="view"] .hideForAnimation,
body[preview="public"] .hideForAnimation,
.hidePageForTransition{
    opacity: 0 !important;
}

.splitTextHidden{
    opacity: 0 !important;
    pointer-events:none;
}



[comp="core.components.Page"],
[comp="wixapps.integration.components.AppPage"]{
    overflow : visible;
}

.bold{
    font-weight : bold;
}

.italic{
    font-style : italic;
}

.underline{
    text-decoration : underline;
}

.lineThrough{
    text-decoration : line-through;
}

.singleLineText{
    white-space   : nowrap;
    text-overflow : ellipsis;
}

.alignLeft{
    text-align : left;
}

.alignCenter{
    text-align : center;
}

.alignRight{
    text-align : right;
}

.alignJustify{
    text-align : justify;
}

ul.font_100, ol.font_100{
    color : rgb(8, 8, 8); font-family : 'Arial, Helvetica, sans-serif', serif; font-size : 10px; font-style : normal; font-variant : normal; line-height : 1.1em; font-weight : normal; margin : 0; text-decoration : none; line-height : normal; letter-spacing : normal;
}

.font_100 li, .font_100 li{
    margin-bottom : 12px
}

@-webkit-keyframes fadeOut{
    from{ opacity : 1.0 }
    to{ opacity : 0.0 }
}

@-webkit-keyframes fadeIn{
    from{ opacity : 0.0 }
    to{ opacity : 1.0 }
}

@-webkit-keyframes swipeHoriz{
    to{ left : 0px }
}

@-webkit-keyframes swipeVert{
    to{ top : 0px }
}

@-moz-keyframes fadeOut{
    from{ opacity : 1.0 }
    to{ opacity : 0.0 }
}

@-moz-keyframes fadeIn{
    from{ opacity : 0.0 }
    to{ opacity : 1.0 }
}

@-moz-keyframes swipeHoriz{
    to{ left : 0px }
}

@-moz-keyframes swipeVert{
    to{ top : 0px }
}

/* performance improvement in wixapps - prevents reflows from occurring caused by components being wixified while connected to the dom */
.wixAppsInRenderPreventReflow{
    position : absolute;
    overflow : hidden;
}

.wixAppsInRenderPreventOnlyOverflow{
    overflow : hidden;
}

/* Global classes used by the wixapps.integration.utils.flex.ComputedFlex polyfill */
.flex_hbox{
    white-space : nowrap;
    box-sizing  : border-box;
}

/*  padding-top - muhahahaha, check out w3 spec http://www.w3.org/TR/CSS2/box.html#collapsing-margins
    Incredible! in display:block margin-top collapses!
*/
.flex_vbox{
    box-sizing : border-box;
    padding-top: 0.01em;
    padding-bottom: 0.01em;
}

/* classes for the capturing stage of the html - will be used on static html loading for components that aren't fully
 functioning or visible in static mode
*/

.component_capture_full_preloader:after{
    content: "";
    position: absolute;
    background-color: #808080;
    background-position: center;
    background-repeat: no-repeat;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

.fixed_position_preloader{
    position: fixed;
    background-image: url("../../images/web/fixed_position_preloader.gif");
    background-position: center;
    background-repeat: no-repeat;
    top: 50%;
    left: 50%;
    width: 50px;
    height: 50px;
    margin-left: -25px;
    margin-top: -25px;
}

.farAwayNode{
    position: fixed;
    top: -5000px;
    left: -5000px;
}

/* Webkit ScrollBar appearance for editor panels
 * Also forces the scroll bars on MacOSX to stay visible*/
.prettyScroll ::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 10px;
    height: 10px;
    border: 1px solid #d7d7d7;
}

.prettyScroll ::-webkit-scrollbar-track {
    background-color: #eeeeee;
}

.prettyScroll ::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: #81cdff;
    border: 1px solid #eeeeee;
    box-shadow: inset 0 0 0 1px #75c7fe;
    border-color: #eeeeee, #d7d7d7, #eeeeee, #d7d7d7
}

.prettyScroll ::-webkit-scrollbar-thumb:horizontal {
    border-color: #d7d7d7, #eeeeee, #d7d7d7, #eeeeee
}

.prettyScroll ::-webkit-scrollbar-thumb:hover {
    background-color: #35aeff;
    box-shadow: inset 0 0 0 1px #24a7ff;
}

/* For SplitHtmlText */
letter{position:relative;display:inline-block}
word{display:inline-block;white-space:nowrap}

word.space,
letter.space{display:inline}