@charset "UTF-8";
@import "../dialogs";

$tdr: BASE_THEME_DIRECTORY;

#dialogDescription {
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 14px;
  padding: 10px 20px 20px;
  text-align: left;
  line-height: 19px;
  color: #6c6c6c;
}

.confirm {
  display: block;
  text-align: center;
}

#dialogTitle {
  font-size: 20px;
  text-align: middle;
  line-height: 19px;
  color: #6c6c6c;
  margin-top: 16px;
}

#okButton {
  cursor: pointer;
  border: solid 2px #0064a8;
  height: 36px;
  min-width: 80px;
  background: transparent param-url(tdr, $tdr, "viewer_login_sprite.png") repeat-x right -252px;
  color: #fff;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 40px;

  &:hover {
    background-position: right -352px;
    border-color: #004286;
  }

}

#dialog {
  box-sizing: border-box;
  background-color: mutate-bg-color-const(bg-border, alpha, .7, $bg-border);
  width: 842px;
  position: fixed;
  padding: 20px;
  visibility: hidden; // always mounts with animation fadeIn, the animation will change it in the end to 'visible'
  left: calc(50% - 401px);

}