{
  "plugins": [
    "react",
    "santa",
    "lodash",
    "wix-editor"
  ],
  "settings": {
    "lodash": {
      "version": 3
    }
  },
  "extends": ["wix-editor", "plugin:lodash/v3"],
  "rules": {
    "strict": 0,
    "quotes": 0,
    "space-before-function-paren": 0,
    "space-before-blocks": 0,
    "quote-props": 0,
    "no-extra-parens": 0,
    "indent": [0, 2],
    "func-style": 0,
    "key-spacing": 0,
    "no-use-before-define": 0,
    "no-throw-literal": 0,
    "no-multi-spaces": 2,
    "consistent-this": [2, "self"],
    "id-match": [2, "^\\$?[a-zA-Z0-9_]*$"],
    "complexity": [2, 30],
    "max-statements": [2, 75],
    "max-depth": [2, 7],
    "padded-blocks": 0,
    "space-in-parens": 0,
    "no-useless-concat": 0,
    "one-var-declaration-per-line": 0,
    "consistent-return": 0,

    "lodash/no-commit": 0,
    "lodash/path-style": 0,
    "lodash/prefer-constant": 0,
    "lodash/prefer-filter": 0,
    "lodash/prefer-lodash-method": 0,
    "lodash/prefer-lodash-typecheck": 0,
    "lodash/prefer-map": 0,
    "lodash/prefer-matches": 0,
    "lodash/prefer-noop": 0,
    "lodash/prefer-startswith": 0,
    "lodash/collection-method-value": 0
  },
  "env": {
    "browser": false,
    "node": true,
    "worker": true,
    "jasmine": true
  },
  "globals": {
    "requirejs": true,
    "window": false,
    "document": false
  }
}
