@charset "UTF-8";

@import '../../../../components/src/main/mixins/components-base';

// ***************************************************************************************************************************************
// NOTE: *DO NOT* change the param names on existing skins (e.g. brd, shd, bg, etc) - the first argument passed to the param() functions. 
// these are saved in the site's data, changing them will break the site.
// you may give skin params any name you wish - but only in new components and their (new) skins.
// ***************************************************************************************************************************************
$trans: border-color .4s ease 0s, background-color .4s ease 0s;
$tdr: BASE_THEME_DIRECTORY;
$bg: color_17;
$bgh: color_18;
$brd: color_15;
$brdh: color_15;
$brw: 0;
$shd: 0 1px 4px rgba(0, 0, 0, .6);
$rd: 0;
$themeDir: THEME_DIRECTORY;

:host {
  box-sizing: border-box;
  user-select: none;
  border: param-border-size(brw, $brw) solid param-border-color-alpha(brd, $brd);
  cursor: pointer !important;
  @include param-transition(trans, $trans);
  background-color: param-bg-color(bg, $bg);
  @include param-border-radius(rd, $rd);
  @include param-box-shadow(shd, $shd);

  &:hover,
  &:active {
    background-color: param-bg-color(bgh, $bgh);
  }

  &:hover {
    border: solid param-border-color-alpha(brdh, $brdh) param-border-size(brw, $brw);
  }
}

div {
  @include abs-distance(0);
}

span {
  box-sizing: border-box;
  display: block;
  width: 100%;
  height: 20px;
  position: absolute;
  top: 50%;
  margin-left: 0;
  margin-top: -9px;
}

#playButton {
  span {
    background: param-url(tdr, $tdr, "play_shadow_small2.png") no-repeat 50% 50%;
  }

  [data-state~="playing"] &,
  [data-state~="loading"] & {
    display: none;
  }

  [data-state~="stopped"] & {
    display: block;
  }
}

#pauseButton {
  span {
    background: param-url(tdr, $tdr, "pause_shadow_small2.png") no-repeat 50% 50%;
  }

  [data-state~="playing"] & {
    display: inline-block;
  }
}

#stopButton,
#pauseButton {
  display: none;
}

#loadingAnimation {
  display: none;
  width: 100%;
  height: 100%;

  [data-state~="loading"] & {
    display: block;
  }
}
