.wix-select-label {
  padding-bottom: 5px;
  width: auto;
  display: inline-block;
}

.wix-select-label.noLabel {
  display: none;
}

.wix-select-label.disabled {
  opacity: 0.5;
}

.wix-tooltip-icon {
  float: right;
  padding: 0 0 2px;
  width: 8px;
  height: 10px;
  font-weight: 700;
  color: #379ACF;
  cursor: pointer;
  /** TODO - where do we get graphics from? */
  background: url(http://static.parastorage.com/services/skins/2.913.2/images/wysiwyg/core/themes/editor_web/icons/property_panel_help_sprite.png) no-repeat;
}

.wix-select-input {
  width: 100%;
  margin: 0 0 5px 0;
  padding: 1px 3px;
  line-height: 1.1em;
  height: 1.8em;
  font-size: 1em;
  border-radius: 3px;
  border: 1px solid #b4b4b4;
  box-shadow: rgba(0, 0, 0, 0.0980392) 0 1px 1px 0 inset;

  &:hover {
    border-color: #a3d9f6
  }

  &:focus {
    border-color: #19a0e9
  }
}
