@charset "UTF-8";

@import '../../mixins/components-base';
@import 'menuButtonBase';



// ***************************************************************************************************************************************
// NOTE: *DO NOT* change the param names on existing skins (e.g. brd, shd, bg, etc) - the first argument passed to the param() functions. 
// these are saved in the site's data, changing them will break the site.
// you may give skin params any name you wish - but only in new components and their (new) skins.
// ***************************************************************************************************************************************
$fnt: font_1;
$txt: color_15;
$txth: color_15;
$txts: color_15;
$bg: color_11;
$bgh: color_17;
$bgs: color_18;
$pad: 1;
$rd: 10px;
$rdDrop: 10px;
$rdRight: rd;
$rdLeft: rd;
$rdTop: rdDrop;
$rdBottom: rdDrop;
$trans: background-color .4s ease 0s;
$trans2: color .4s ease 0s;
$trans3: border-color .4s ease 0s;



:host {
  display: inline-block;
  position: relative;
  margin-left: calc(#{param-margin-left-size(pad, $pad)} - 211px);
  overflow: hidden;
  pointer-events: none;
}

#bg {
  height: 100%;
  position: relative;
  min-width: 280px;
}

#label {
  display: inline-block;
  margin: 0 105px;
  padding: 0 1em;
  @include param-font(fnt, $fnt);
  color: param-text-color(txt, $txt);
  @include param-transition(trans2, $trans2);
}

#hitArea {
  position: absolute;
  top: 0;
  left: 105px;
  bottom: 0;
  right: 105px;
  cursor: pointer;
  /*   this is a fix for ie z-index   */ background: #fff;
  @include opacity(0);
  pointer-events: auto;
}

.slant {
  position: absolute;
  height: 210px;
  top: 50%;
  margin-top: -105px;
  left: 0;
  right: 0;
}

.tailTest {
  position: absolute;
  border-bottom: 70px solid param-border-color-alpha(bg, $bg);
  border-left: 70px solid transparent;
  width: 0;
  height: 0;
}

.topTail {
  top: 0;
  left: 140px;
}

.centerTail {
  top: 70px;
  left: 70px;
}

.bottomTail {
  top: 140px;
  left: 0;
}

.headTest {
  position: absolute;
  border-top: 70px solid param-border-color-alpha(bg, $bg);
  border-right: 70px solid transparent;
  width: 0;
  height: 0;
}

.topHead {
  top: 0;
  right: 0;
}

.centerHead {
  top: 70px;
  right: 70px;
}

.bottomHead {
  top: 140px;
  right: 140px;
}

.sq {
  position: absolute;
  background-color: param-border-color-alpha(bg, $bg);
}

.topSq {
  top: 0;
  bottom: 140px;
  left: 210px;
  right: 70px;
}

.centerSq {
  top: 70px;
  bottom: 70px;
  left: 140px;
  right: 140px;
}

.bottomSq {
  top: 140px;
  bottom: 0;
  left: 70px;
  right: 210px;
}

[data-listposition="left"] {
  margin-left: 0;
}

[data-listposition="left"] #label {
  display: inline-block;
  text-indent: 0;
}

[data-listposition="left"] .tail {
  background-color: param-border-color-alpha(bg, $bg);
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
  width: auto;
  right: 70px;
}

[data-listposition="left"] .tailTop, [data-listposition="left"] .tailBottom {
  display: none;
}

[data-listposition="left"] #hitArea {
  left: 0;
  border: solid 1px red;
}

[data-listposition="right"] .head {
  background-color: param-border-color-alpha(bg, $bg);
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}

[data-listposition="right"] .headTop, [data-listposition="right"] .headBottom {
  display: none;
}

[data-state="over"][data-listposition="right"] .head {
  background-color: param-border-color-alpha(bgh, $bgh);
  @include param-transition(trans, $trans);
}

[data-state="selected"][data-listposition="right"] .head {
  background-color: param-border-color-alpha(bgs, $bgs);
  @include param-transition(trans, $trans);
}

[data-container="drop"] {
  width: 100%;
  display: block;
  background-color: param-border-color-alpha(bg, $bg);
  @include param-transition(trans, $trans);
  margin-left: 0;
  background-color: transparent;
}

[data-container="drop"] #label {
  display: inline-block;
  padding: 0 .5em;
  text-indent: 0;
  margin: 0;
}

[data-container="drop"] .slant, [data-container="drop"] .head {
  display: none;
}

[data-container="drop"] #hitArea {
  @include abs-distance(0);
}

[data-listposition="dropLonely"] {
  @include param-border-radius(rdDrop, $rdDrop);
}

[data-listposition="top"] {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

[data-listposition="bottom"] {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

[data-container="drop"][data-state="over"] {
  @include param-transition(trans, $trans);
  background-color: param-border-color-alpha(bgh, $bgh);
}

[data-container="drop"][data-state="selected"] {
  @include param-transition(trans, $trans);
  background-color: param-border-color-alpha(bgs, $bgs);
}

[data-state="over"] .sq {
  background-color: param-border-color-alpha(bgh, $bgh);
}

[data-state="over"] .tailTest {
  border-bottom-color: param-border-color-alpha(bgh, $bgh);
}

[data-state="over"] .headTest {
  border-top-color: param-border-color-alpha(bgh, $bgh);
}

[data-state="over"] #label {
  display: inline-block;
  color: param-text-color(txth, $txth);
  @include param-transition(trans2, $trans2);
}

[data-listposition="left"][data-state="over"] .tail {
  background-color: param-border-color-alpha(bgh, $bgh);
  @include param-transition(trans, $trans);
}

[data-state="selected"] .sq {
  background-color: param-border-color-alpha(bgs, $bgs);
}

[data-state="selected"] .tailTest {
  border-bottom-color: param-border-color-alpha(bgs, $bgs);
}

[data-state="selected"] .headTest {
  border-top-color: param-border-color-alpha(bgs, $bgs);
}

[data-state="selected"] .headTop {
  border-bottom-color: param-border-color-alpha(bgs, $bgs);
  @include param-transition(trans3, $trans3);
}

[data-state="selected"] .headBottom {
  border-top-color: param-border-color-alpha(bgs, $bgs);
  @include param-transition(trans3, $trans3);
}

[data-state="selected"] #label {
  display: inline-block;
  color: param-text-color(txts, $txts);
  @include param-transition(trans2, $trans2);
}

[data-state="selected"][data-listposition="left"] .tail {
  background-color: param-border-color-alpha(bgs, $bgs);
  @include param-transition(trans, $trans);
}

