@charset "UTF-8";

@import '../../mixins/components-base';
@import 'menuButtonBase';



// ***************************************************************************************************************************************
// NOTE: *DO NOT* change the param names on existing skins (e.g. brd, shd, bg, etc) - the first argument passed to the param() functions. 
// these are saved in the site's data, changing them will break the site.
// you may give skin params any name you wish - but only in new components and their (new) skins.
// ***************************************************************************************************************************************
$fnt: font_1;
$txt: color_15;
$txth: color_15;
$txts: color_15;
$pad: 5px;
$brdh: color_15;
$brds: color_15;
$bgh: color_17;
$bgs: color_18;
$trans: background-color .4s ease 0s;
$trans2: color .4s ease 0s;
$trans3: border-color .4s ease 0s;



:host {
  display: inline-block;
  position: relative;
  margin: 0 param-margin-size(pad, $pad);
}

#bg {
  width: 100%;
  height: 100%;
  padding: 75px;
}

#label {
  display: inline-block;
  padding: 0 10px;
  @include param-font(fnt, $fnt);
  color: param-text-color(txt, $txt);
  @include param-transition(trans2, $trans2);
  position: relative;
}

.wrapper {
  @include abs-distance(0);
}

.sq {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 70px;
  background: red;
}

.arrowUp {
  position: absolute;
  bottom: 35px;
  left: 0;
  right: 0;
  height: 35px;
}

.arrowUp .leftMask {
  position: absolute;
  right: 50%;
  left: 0;
  top: 0;
  bottom: 0;
  background: green;
  overflow: hidden;
}

.arrowUp .left {
  border-left: 140px solid red;
  border-bottom: 35px solid transparent;
  width: 0;
  height: 0;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  @include param-transition(trans3, $trans3);
}

.arrowUp .rightMask {
  position: absolute;
  right: 0;
  left: 50%;
  top: 0;
  bottom: 0;
  background: yellow;
  overflow: hidden;
}

.arrowUp .right {
  border-right: 140px solid red;
  border-bottom: 35px solid transparent;
  width: 0;
  height: 0;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  @include param-transition(trans3, $trans3);
}

.arrowDown {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 35px;
}

.arrowDown .leftMask {
  position: absolute;
  right: 50%;
  left: 0;
  top: 0;
  bottom: 0;
  background: black;
  overflow: hidden;
}

.arrowDown .left {
  border-right: 140px solid red;
  border-bottom: 35px solid transparent;
  width: 0;
  height: 0;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  @include param-transition(trans3, $trans3);
}

.arrowDown .rightMask {
  position: absolute;
  right: 0;
  left: 50%;
  top: 0;
  bottom: 0;
  background: blue;
  overflow: hidden;
}

.arrowDown .right {
  border-left: 140px solid red;
  border-bottom: 35px solid transparent;
  width: 0;
  height: 0;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  @include param-transition(trans3, $trans3);
}

[data-listposition="left"] {
  padding-left: 0;
}

[data-listposition="right"] {
  padding-right: 0;
}

[data-state="over"] .wrapper {
  background-color: param-bg-color(bgh, $bgh);
  @include param-transition(trans, $trans);
}

[data-state="over"] #borderWrapper {
  border-color: param-border-color-alpha(brdh, $brdh);
  @include param-transition(trans3, $trans3);
}

[data-state="over"] #label {
  display: inline-block;
  color: param-text-color(txth, $txth);
  @include param-transition(trans2, $trans2);
}

[data-state="selected"] .wrapper {
  background-color: param-bg-color(bgs, $bgs);
  @include param-transition(trans, $trans);
}

[data-state="selected"] #borderWrapper {
  border-color: param-border-color-alpha(brds, $brds);
  @include param-transition(trans3, $trans3);
}

[data-state="selected"] #label {
  display: inline-block;
  color: param-text-color(txts, $txts);
  @include param-transition(trans2, $trans2);
}

