@charset "UTF-8";

@import '../../mixins/components-base';
@import 'menuButtonBase';



// ***************************************************************************************************************************************
// NOTE: *DO NOT* change the param names on existing skins (e.g. brd, shd, bg, etc) - the first argument passed to the param() functions.
// these are saved in the site's data, changing them will break the site.
// you may give skin params any name you wish - but only in new components and their (new) skins.
// ***************************************************************************************************************************************
$fnt: font_1;
$txt: color_15;
$txth: color_15;
$txts: color_15;
$pad: 5px;
$bg: color_11;
$bgh: color_17;
$bgs: color_18;
$rd: 10px;
$rdDrop: 10px;
$tdr: BASE_THEME_DIRECTORY;
$no_rd: 0;
$rdTop: rdDrop;
$rdBottom: rdDrop;
$shd: 0 1px 4px rgba(0, 0, 0, .6);
$noshd: none;
$trans: background-color .4s ease 0s;
$trans1: opacity .4s ease 0s;
$trans2: color .4s ease 0s;
$trans3: background-image .4s ease 0s;



:host {
  display: inline-block;
}

.gapper {
  padding: 0 param-padding-size(pad, $pad);
}

.color {
  background-color: param-bg-color(bg, $bg);
  @include param-border-radius(rd, $rd);
  @include param-box-shadow(shd, $shd);
  position: absolute;
  top: 0;
  bottom: 0;
  left: param-padding-size(pad, $pad);
  right: param-padding-size(pad, $pad);
  @include param-transition(trans, $trans);
  overflow: hidden;
}

.shade {
  background: transparent param-url(tdr, $tdr, "indented_bg_inverted.png") center top    repeat-x;
  @include param-border-radius(rd, $rd);
  @include param-transition(trans3, $trans3);
  width: 100%;
  height: 100%;
}

.shade2 {
  background: transparent param-url(tdr, $tdr, "indented_bg_inverted.png") center bottom repeat-x;
  @include param-border-radius(rd, $rd);
  @include param-transition(trans3, $trans3);
  width: 100%;
  height: 100%;
}

#bg {
  position: relative;
  cursor: pointer;
}

#label {
  display: inline-block;
  @include param-font(fnt, $fnt);
  color: param-text-color(txt, $txt);
  padding: 0 10px;
  @include param-transition(trans2, $trans2);
}

[data-listposition="left"] .gapper {
  padding-left: 0;
}

[data-listposition="left"] .color {
  left: 0;
}

[data-listposition="right"]  .gapper {
  padding-right: 0;
}

[data-listposition="right"]  .color {
  right: 0;
}

[data-listposition="lonely"] .gapper {
  padding: 0;
}

[data-listposition="lonely"]  .color {
  right: 0;
  left: 0;
}

[data-state~="drop"] {
  width: 100%;
  display: block;
}

[data-state~="drop"] .gapper {
  padding: 0;
}

[data-state~="drop"] .color {
  @include param-border-radius(no_rd, $no_rd);
  background: transparent;
  @include param-box-shadow(noshd, $noshd);
  @include param-transition(trans, $trans);
  left: 0;
  right: 0;
}

[data-state~="drop"] .shade2 {
  @include param-border-radius(no_rd, $no_rd);
  @include opacity(0);
  @include param-transition(trans1, $trans1);
}

[data-state~="drop"] .shade {
  @include param-border-radius(no_rd, $no_rd);
  @include opacity(0);
  @include param-transition(trans1, $trans1);
}

[data-listposition="dropLonely"] .color {
  @include param-border-radius(rdDrop, $rdDrop);
}

[data-listposition="dropLonely"] .shade {
  @include param-border-radius(rdDrop, $rdDrop);
}

[data-listposition="dropLonely"] .shade2 {
  @include param-border-radius(rdDrop, $rdDrop);
}

[data-listposition="top"]  .color {
  @include param-border-radius(rdDrop, $rdDrop);
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

[data-listposition="top"]  .shade {
  @include param-border-radius(rdDrop, $rdDrop);
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

[data-listposition="top"]  .shade2 {
  @include param-border-radius(rdDrop, $rdDrop);
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

[data-listposition="bottom"] .color {
  @include param-border-radius(rdDrop, $rdDrop);
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

[data-listposition="bottom"] .shade {
  @include param-border-radius(rdDrop, $rdDrop);
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

[data-listposition="bottom"] .shade2 {
  @include param-border-radius(rdDrop, $rdDrop);
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

[data-state~="drop"][data-state~="over"]     .shade {
  @include opacity(1);
  @include param-transition(trans1, $trans1);
}

[data-state~="drop"][data-state~="selected"] .shade {
  @include opacity(1);
  @include param-transition(trans1, $trans1);
}

[data-state~="drop"][data-state~="over"]     .shade2 {
  @include opacity(1);
  @include param-transition(trans1, $trans1);
}

[data-state~="drop"][data-state~="selected"] .shade2 {
  @include opacity(1);
  @include param-transition(trans1, $trans1);
}

[data-state~="over"] .color {
  background-color: param-bg-color(bgh, $bgh);
  @include param-transition(trans, $trans);
  overflow: hidden;
}

[data-state~="over"] #label {
  display: inline-block;
  color: param-text-color(txth, $txth);
  @include param-transition(trans2, $trans2);
}

[data-state~="selected"] .color {
  background-color: param-bg-color(bgs, $bgs);
  @include param-transition(trans, $trans);
}

[data-state~="selected"] .shade, [data-state~="selected"] .shade2 {
  background-image: param-url(tdr, $tdr, "indented_bg.png");
  @include param-transition(trans3, $trans3);
}

[data-state~="selected"] #label {
  display: inline-block;
  color: param-text-color(txts, $txts);
  @include param-transition(trans2, $trans2);
}

