@charset "UTF-8";

@import '../../mixins/components-base';
@import 'menuButtonBase';



// ***************************************************************************************************************************************
// NOTE: *DO NOT* change the param names on existing skins (e.g. brd, shd, bg, etc) - the first argument passed to the param() functions. 
// these are saved in the site's data, changing them will break the site.
// you may give skin params any name you wish - but only in new components and their (new) skins.
// ***************************************************************************************************************************************
$fnt: font_1;
$txt: color_15;
$txth: color_14;
$txts: color_14;
$pad: 5px;
$sep: color_15;
$trans: color .4s ease 0s;



:host {
  display: inline-block;
  cursor: pointer;
  @include param-font(fnt, $fnt);
  border-left: 1px solid param-border-color-alpha(sep, $sep);
}

#label {
  color: param-text-color(txt, $txt);
  @include param-transition(trans, $trans);
  display: inline-block;
  padding: 0 10px;
}

.wrapper {
  padding: 0 param-padding-size(pad, $pad);
}

:host:first-child {
  border: 0;
}

[data-listposition="lonely"] {
  border: 0;
}

[data-state~="over"] #label {
  color: param-text-color(txth, $txth);
  @include param-transition(trans, $trans);
}

[data-state~="selected"] #label {
  color: param-text-color(txts, $txts);
  @include param-transition(trans, $trans);
}

[data-state~="drop"] {
  width: 100%;
  display: block;
  border: 0;
  border-top: 1px solid param-border-color-alpha(sep, $sep);
}

[data-state~="drop"] #label {
  display: inline-block;
  padding: 0 .5em;
}

[data-state~="drop"] .wrapper {
  padding: 0;
}

[data-listposition="top"] {
  border: 0;
}

[data-listposition="dropLonely"] {
  border: 0;
}

