@charset "UTF-8";

@import '../../mixins/components-base';
@import 'menuButtonBase';

// ***************************************************************************************************************************************
// NOTE: *DO NOT* change the param names on existing skins (e.g. brd, shd, bg, etc) - the first argument passed to the param() functions. 
// these are saved in the site's data, changing them will break the site.
// you may give skin params any name you wish - but only in new components and their (new) skins.
// ***************************************************************************************************************************************
$txt: color_15;
$txth: color_15;
$txts: color_15;
$fnt: font_1;
$bgh: color_17;
$bgs: color_18;
$pad: 5px;
$trans: background-color .4s ease 0s;
$trans2: color .4s ease 0s;

:host {
  display: inline-block;
  cursor: pointer;
  padding: 0 param-padding-size(pad, $pad);
  background-color: transparent;
  @include param-transition(trans, $trans);
}

.gapper {
  padding: 0 param-padding-size(pad, $pad);
}

#label {
  display: inline-block;
  padding: 0 10px;
  @include param-font(fnt, $fnt);
  color: param-text-color(txt, $txt);
  @include param-transition(trans2, $trans2);
}

[data-state~="drop"] {
  width: 100%;
  display: block;
  padding: 0;
}

[data-state~="drop"] .gapper {
  width: auto;
}

[data-state~="drop"] #label {
  display: inline-block;
  padding: 0 .5em;
}

[data-state~="over"] {
  background-color: param-bg-color(bgh, $bgh);
  @include param-transition(trans, $trans);
}

[data-state~="over"] #label {
  display: inline-block;
  color: param-text-color(txth, $txth);
  @include param-transition(trans2, $trans2);
}

[data-state~="selected"] {
  background-color: param-bg-color(bgs, $bgs);
  @include param-transition(trans, $trans);
}

[data-state~="selected"] #label {
  display: inline-block;
  color: param-text-color(txts, $txts);
  @include param-transition(trans2, $trans2);
}

