@charset "UTF-8";

@import '../../mixins/components-base';
@import 'menuButtonBase';

// ***************************************************************************************************************************************
// NOTE: *DO NOT* change the param names on existing skins (e.g. brd, shd, bg, etc) - the first argument passed to the param() functions. 
// these are saved in the site's data, changing them will break the site.
// you may give skin params any name you wish - but only in new components and their (new) skins.
// ***************************************************************************************************************************************
$fnt: font_1;
$txt: color_15;
$txth: color_15;
$txts: color_15;
$bg: color_11;
$bgh: color_17;
$bgs: color_18;
$rdDrop: 10px;
$rdTop: rdDrop;
$rdBottom: rdDrop;
$trans: background-color .4s ease 0s;
$trans2: color .4s ease 0s;
$trans3: border-color .4s ease 0s;

:host {
  display: inline-block;
  position: relative;
  pointer-events: none;
}

#bg {
  height: 100%;
  position: relative;
}

#label {
  display: inline-block;
  margin: 0 20px;
  padding: 0 10px;
  @include param-font(fnt, $fnt);
  color: param-text-color(txt, $txt);
  @include param-transition(trans2, $trans2);
  text-indent: 60px;
}

#hitArea {
  position: absolute;
  top: 0;
  left: 30px;
  bottom: 0;
  right: 0;
  cursor: pointer;
  /*   this is a fix for ie z-index   */
  background: #fff;
  @include opacity(0);
  pointer-events: auto;
}

.arrow {
  @include abs-distance(0);
}

.sq {
  position: absolute;
  top: 0;
  left: 30px;
  bottom: 0;
  right: 0;
  background-color: param-bg-color(bg, $bg);
  @include param-transition(trans, $trans);
}

.tail {
  background-color: transparent;
  @include param-transition(trans, $trans);
  width: 60px;
  position: absolute;
  top: 0;
  left: -30px;
  bottom: 0;
  overflow: hidden;
}

.tailTop {
  border-bottom: 150px solid param-border-color-alpha(txts, $txts);
  border-left: 60px solid transparent;
  width: 0;
  height: 0;
  position: absolute;
  @include param-transition(trans3, $trans3);
}

.head {
  background-color: transparent;
  @include param-transition(trans, $trans);
  width: 30px;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
}

.headTop {
  border-top: 150px solid param-border-color-alpha(txts, $txts);
  border-right: 60px solid transparent;
  width: 0;
  height: 0;
  position: absolute;
  bottom: 50%;
  left: 0;
  @include param-transition(trans3, $trans3);
}

[data-container="drop"] {
  width: 100%;
  display: block;
  background-color: param-bg-color(bg, $bg);
  @include param-transition(trans, $trans);
  margin-left: 0;
  background-color: transparent;
}

[data-container="drop"] #label {
  display: inline-block;
  padding: 0 .5em;
  text-indent: 0;
  margin: 0;
}

[data-container="drop"] .arrow, [data-container="drop"] .head {
  display: none;
}

[data-container="drop"] #hitArea {
  @include abs-distance(0);
}

[data-listposition="dropLonely"] {
  @include param-border-radius(rdDrop, $rdDrop);
}

[data-listposition="top"] {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

[data-listposition="bottom"] {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

[data-container="drop"][data-state="over"] {
  @include param-transition(trans, $trans);
  background-color: param-border-color-alpha(bgh, $bgh);
}

[data-container="drop"][data-state="selected"] {
  @include param-transition(trans, $trans);
  background-color: param-border-color-alpha(bgs, $bgs);
}

[data-state="over"] .sq {
  background-color: param-border-color-alpha(bgh, $bgh);
  @include param-transition(trans, $trans);
}

[data-state="over"] .tailTop {
  border-top-color: param-border-color-alpha(bgh, $bgh);
  @include param-transition(trans3, $trans3);
}

[data-state="over"] .headTop {
  border-bottom-color: param-border-color-alpha(bgh, $bgh);
  @include param-transition(trans3, $trans3);
}

[data-state="over"] #label {
  display: inline-block;
  color: param-text-color(txth, $txth);
  @include param-transition(trans2, $trans2);
}

[data-listposition="left"][data-state="over"] .tail {
  background-color: param-border-color-alpha(bgh, $bgh);
  @include param-transition(trans, $trans);
}

[data-state="selected"] .sq {
  background-color: param-border-color-alpha(bgs, $bgs);
  @include param-transition(trans, $trans);
}

[data-state="selected"] .tailTop {
  border-top-color: param-border-color-alpha(bgs, $bgs);
  @include param-transition(trans3, $trans3);
}

[data-state="selected"] .headTop {
  border-bottom-color: param-border-color-alpha(bgs, $bgs);
  @include param-transition(trans3, $trans3);
}

[data-state="selected"] #label {
  display: inline-block;
  color: param-border-color-alpha(txts, $txts);
  @include param-transition(trans2, $trans2);
}

[data-state="selected"][data-listposition="left"] .tail {
  background-color: param-border-color-alpha(bgs, $bgs);
  @include param-transition(trans, $trans);
}

