@charset "UTF-8";
@import "../../dialogs";
@import "../../newDialogs";

@include exports("okButton:skin", "wysiwyg.viewer.skins.button.BasicButton");
@include exports("okButton:styleGroup", "b1");


#infoTitle {
  margin-bottom: 28px;
  margin-top: 10px;
}


#switchDialogLink {
  float: none;
}

#note {
  text-align: center;
  float: none;
  display: inline;
}

#email label,
#password label,
#retypePassword label{
  display: none;
}

[data-state~="mobile"] {

  #okButton {
    margin-top: 6px;
  }

  #title {
    padding-bottom: 40px;
  }
}

