@charset "UTF-8";
@import "../../dialogs";

.switchLinkContainer {
  padding-bottom: 25px;
  float: right;
}

#infoTitle {
  margin-bottom: 28px;
  margin-top: 10px;
}

#submitButton {
  font-family: Arial, sans-serif;
}
