@charset "UTF-8";

@import '../../../../components/src/main/mixins/components-base';

@include exports("radioButton:skin", "wysiwyg.common.components.radio.viewer.skins.RadioButtonDefaultSkin");

// ***************************************************************************************************************************************
// NOTE: *DO NOT* change the param names on existing skins (e.g. brd, shd, bg, etc) - the first argument passed to the param() functions. 
// these are saved in the site's data, changing them will break the site.
// you may give skin params any name you wish - but only in new components and their (new) skins.
// ***************************************************************************************************************************************

$bg: color_15;
$bgh: color_15;
$bgf: color_15;
$bge: color_15;
$bg2: color_11;
$bg2h: color_11;
$bg3: color_14;
$bg3h: color_14;
$bg3f: color_14;
$bg3d: color_14;
$bg3e: color_14;
$brw: 1px;
$brwh: 1px;
$brwf: 1px;
$brwd: 1px;
$brwe: 1px;
$shd: 0 0px 0px rgba(0, 0, 0, 0);
$fnt: font_8;
$circle: 12px;



#items{
  display: flex;
}

.horizontal-axis {
  #items{
    flex-direction: row;
  }
}
[data-state~="mobile"],
.vertical-axis {
  #items {
    flex-direction: column;
  }
}

#radioButton{
  position: relative;
  flex: 1;
}