@charset 'UTF-8';

@mixin typed-image-button-with-text($type, $background-color, $background-color-on-hover) {
  &.#{'type-' + $type} {
    background-color: $background-color;

    &:hover:not(:active) {
      background-color: $background-color-on-hover;
    }
  }
}

$maximum-size: 40px;

@mixin base-image-button-with-text() {
  $minimum-size: 28px;
  $size: $minimum-size;
  @while $size <= $maximum-size {
    @include when-root-has-class(size-#{strip-unit($size)}) {
      @include base-image-button-with-text-of-size($size);
    }
    $step-size: 4;
    $size: $size + $step-size;
  }
}

@function strip-unit($value) {
  @return $value / ($value * 0 + 1);
}

@mixin base-image-button-with-text-of-size($size) {
  @include when-root-has-class(direction-ltr) { padding-left: $size; }
  @include when-root-has-class(direction-rtl) { padding-right: $size; }
  border-radius: 4px;
  height: $size;
  position: relative;

  &:hover {
    cursor: pointer;
  }

  #buttonIcon {
    @include when-root-has-class(direction-ltr) { left: 0; }
    @include when-root-has-class(direction-rtl) { right: 0; }
    height: 100%;
    position: absolute;
    width: $size;
    @include when-root-has-class(type-like-clicked) {
      animation-name: heartbeat;
      animation-duration: 0.5s;
    }
  }

  #buttonTextWrapper {
    $padding: relative-to-maximum-size(14px, $size);
    font-size: relative-to-maximum-size(14px, $size);
    line-height: $size;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #fff;

    #buttonLabel {
      @include when-root-has-class(direction-ltr) { padding-right: $padding; }
      @include when-root-has-class(direction-rtl) { padding-left: $padding; }
      @include when-root-has-class(label-empty) { display: none; }
      @include when-root-has-class(type-like) {
        color: #000000;
      }
      @include when-root-has-class(type-like-clicked) {
        color: #000000;
      }
      @include when-root-has-class(type-unlike) {
        color: #000000;
      }
    }

    #buttonExtraInfo {
      $margin: 1px;
      @include when-root-has-class(direction-ltr) { padding-right: $padding; }
      @include when-root-has-class(direction-rtl) { padding-left: $padding; }
      @include when-root-has-class(direction-ltr) { margin-left: $margin; }
      @include when-root-has-class(direction-rtl) { margin-right: $margin; }
      @include when-root-has-class(extraInfo-empty) { display: none; }
      @include when-root-has-class(type-like) {
          color: #000000;
      }
      @include when-root-has-class(type-like-clicked) {
        color: #000000;
      }
      @include when-root-has-class(type-unlike) {
        color: #000000;
      }
    }

  }

}

@function relative-to-maximum-size($number, $size) {
  @return $number * $size / $maximum-size;
}

@keyframes heartbeat {
  from {
    animation-timing-function: ease-out;
  }
  50% {
    transform: scale(1.1);
  }
  to {
    transform: scale(1);
  }

}
