@charset "UTF-8";

@import '../../mixins/components-base';

// ***************************************************************************************************************************************
// NOTE: *DO NOT* change the param names on existing skins (e.g. brd, shd, bg, etc) - the first argument passed to the param() functions.
// these are saved in the site's data, changing them will break the site.
// you may give skin params any name you wish - but only in new components and their (new) skins.
// ***************************************************************************************************************************************

$background-color: #f2f2f2;
$shadow-color: #d7d7d7;
$button-color: #3798eb;
$close-button-color: #777777;
$text-color: #0d0d0d;

$total-height: 70px;
$icon-height: 40px;
$button-height: 25px;
$baseline-hack-height: 14px;
$text-height: 20px;
$horizontal-spacing: 10px;

$text-font-size: 13px;
$button-font-size: 13px;
$close-button-font-size: 14px;

:host {
}

#container {
  position: relative;
  overflow: hidden;
  z-index: 99;
  height: $total-height;
  background-color: $background-color;
  border-bottom: 1px solid $shadow-color;
}

#container > div {
  float: left;
  margin-left: $horizontal-spacing;
}

#close > a {
  color: $close-button-color;
  line-height: $total-height;
  font-family: Helvetica, sans-serif, Arial;
  font-size: $close-button-font-size;
}

#iconbody {
  width: $icon-height;
  height: $icon-height;
  margin-top: ($total-height - $icon-height) / 2;
  border-radius: 10px;
  display: inline-block;
  /* background-image: url(https://static.wixstatic.com/media/6083e67e999345c5aa1aafc7db76022b.jpg_256); */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#container[data-device~="android"] #iconbody {
  border-radius: 3px;
}

#text {
  color: $text-color;
  line-height: $text-height;
  margin-top: ($total-height - (2 * $text-height)) / 2;
}

#appname {
  font-family: "Helvetica Neue", Helvetica, sans-serif, Arial;
  font-size: $text-font-size;
  font-weight: 600;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 175px;
}

#tagline {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", Helvetica, sans-serif-light, Arial;
  font-size: $text-font-size;
  font-weight: normal;
}

#getlink {
  color: $button-color;
  line-height: normal;
  font-family: "HelveticaNeue-Medium", Helvetica, sans-serif, Arial;
  font-weight: 600;
  font-size: $button-font-size;
}

#container[data-device~="apple"] #getlink {
  font-weight: 500;
}

/* http://blogs.adobe.com/webplatform/2014/08/13/one-weird-trick-to-baseline-align-text/ */
#baselinehack {
  height: $baseline-hack-height;
  line-height: 0px;
  display: inline-block;
}

#get {
  border: 1px solid $button-color;
  border-radius: 3px;
  padding: 3px 10px;
  display: inline-block;
}

@media all and (max-width: 400px) and (min-width: 0px) {
  #get {
    position: absolute;
    top: ($total-height - $button-height) / 2;
    right: $horizontal-spacing;
    float: none !important;
  }
}

@media all and (min-width: 401px) {
  #get {
    margin-top: ($total-height - $button-height) / 2;
    margin-left: ($horizontal-spacing * 3) !important;
  }
}

/*
Design specs:
shadow 2px
shadow color d7d7d7
wix blue 3798eb
background color f2f2f2
X color 777777
text color 0d0d0d
app name: Helvetica Neue Regular 26px
download..: Helvetica Neue Light 26px
get: Helvetica Neue Medium 29 px
H: 138px
*/
