$d6: #fff;
$b1: #3899ec;
$b2: #4eb7f5;
$d4: #d9e1e8;

$button-text: #2d4150;
$shadow: rgba(0, 0, 0, .2);

.toolbar {
  box-shadow: 0 1px 4px 0 $shadow;
  display: flex;
  padding-left: 3px;
  z-index: 1;
}

.button {
  background-color: $d6;
  border: 0;
  color: $button-text;
  cursor: pointer;
  font-size: 12px;
  height: 36px;
  margin: 0 2px;
  padding: 0 13px;

  &:hover {
    color: $b2;
  }

  &.active-button {
    color: $b1;
  }

  &:disabled {
    color: $d4;
    cursor: not-allowed;
  }
}

.preloader {
  font-size: 10px;
}
