@charset "UTF-8";

@import "../../skins/wix-sites-base";

$contentPaddingLeft: 0;
$contentPaddingRight: 0;
$contentPaddingBottom: 0;
$contentPaddingTop: 0;

@include exports('img:skin', 'mobile.core.skins.ImageNewSkin');

#container {
  display: block;
  overflow: hidden;
}

#link {
  display: none;
}

