@charset "UTF-8";

@import '../../mixins/components-base';

:host {
  position: relative;
  min-height: 325px;
}

#disqusCommentsHolder {
  width: 100%;
}

#disqusCommentsPreviewOverlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  user-select: none;
}

#noDisqusIdMessage {
  font-family: "Helvetica Neue", "HelveticaNeueW01-45Roma", "HelveticaNeueW02-45Roma", "HelveticaNeueW10-45Roma", Helvetica, Arial, sans-serif;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.8);
  font-size: 15px;
  text-align: center;
  color: #2b5672;
}