{
    "rules": {
        "array-bracket-spacing": [2, "never"],
        "comma-spacing": 2,
        "consistent-this": 2,
        "dot-location": [2, "property"],
        "func-style": [2, "declaration", {"allowArrowFunctions": true}],
        "indent": [2, 4, {"SwitchCase": 1}],
        "key-spacing": [2, { "beforeColon": false, "afterColon": true }],
        "no-extra-parens": 0,
        "no-multi-spaces": 2,
        "no-throw-literal": 2,
        "no-use-before-define": 0,
        "operator-linebreak": [2, "after"],
        "quote-props": [2, "as-needed"],
        "quotes": [2, "single", "avoid-escape"],
        "semi-spacing": [2, {"before": false, "after": true}],
        "strict": [2, "function"],

        "santa/enforce-package-access": 0,
        "santa/module-definition": 0
    },
    "env": {
        "browser": false,
        "node": true,
        "amd": true,
        "jasmine": true,
        "es6": true
    },
    "globals": {
    }
}
