@charset "UTF-8";

@import '../../../../components/src/main/mixins/components-base';
@import 'mixins/photoZoom';



// ***************************************************************************************************************************************
// NOTE: *DO NOT* change the param names on existing skins (e.g. brd, shd, bg, etc) - the first argument passed to the param() functions.
// these are saved in the site's data, changing them will break the site.
// you may give skin params any name you wish - but only in new components and their (new) skins.
// ***************************************************************************************************************************************
$brd: color_11;
$rd: 0;
$shd: 0 2px 5px rgba(0, 0, 0, .15);
$brw: 10px;
$tdr: BASE_THEME_DIRECTORY;

@include define-mapped-param(contentPaddingLeft, brw);
@include define-mapped-param(contentPaddingRight, brw);
@include define-mapped-param(contentPaddingBottom, brw);
@include define-mapped-param(contentPaddingTop, brw);

@include exports("img:skin", "skins.core.ImageNewSkinZoomable");
@include zoomAndPanCursor($tdr);

@include define-mapped-param(sizeRd, rd, SIZE);
@include define-mapped-param(sizeBrw, brw, SIZE);

#link {
  display: block;
  @include param-border-radius(rd, $rd);
  @include param-box-shadow(shd, $shd);
  overflow: hidden;
  height: 100%;
  border: param-border-size(brw, $brw) solid param-border-color-alpha(brd, $brd);
  position: relative;
}

.imgGlow {
  box-shadow: inset 0 2px 0 rgba(255, 255, 255, .21), inset 0 1px 4px 1px rgba(255, 255, 255, .20);
  @include param-border-radius(rd, $rd);
  @include abs-distance(0);
}

#img {
  //@include param-border-radius(rd, $rd);
  overflow: hidden;
  border-radius: calc(#{param-size(sizeRd, 1px)} - #{param-size(sizeBrw, 1px)});
}

.ScotchT {
  position: absolute;
  display: inline-block;
  background-image: param-url(tdr, $tdr, "scotcht.png");
  background-repeat: no-repeat;
  width: 78px;
  height: 40px;
  top: -20px;
  left: 50%;
  margin-left: -39px;
}

.ScotchB {
  position: absolute;
  display: inline-block;
  background-image: param-url(tdr, $tdr, "scotchb.png");
  background-repeat: no-repeat;
  width: 100px;
  height: 48px;
  bottom: -20px;
  right: 50%;
  margin-right: -50px;
}
