@charset "UTF-8";

@import '../../../../components/src/main/mixins/components-base';
@import 'mixins/photoZoom';



// ***************************************************************************************************************************************
// NOTE: *DO NOT* change the param names on existing skins (e.g. brd, shd, bg, etc) - the first argument passed to the param() functions.
// these are saved in the site's data, changing them will break the site.
// you may give skin params any name you wish - but only in new components and their (new) skins.
// ***************************************************************************************************************************************
$clr: color_15;
$brw: 10px;
$pad: 15px;
$tdr: BASE_THEME_DIRECTORY;

@include sum-params(contentPaddingLeft, pad, brw);
@include sum-params(contentPaddingRight, pad, brw);
@include sum-params(contentPaddingTop, pad, brw);
@include sum-params(contentPaddingBottom, pad, brw);
@include exports(contentPaddingLeft, 30px);
@include exports(contentPaddingRight, 30px);
@include exports(contentPaddingTop, 30px);
@include exports(contentPaddingBottom, 30px);

@include exports("img:skin", "skins.core.ImageNewSkinZoomable");
@include zoomAndPanCursor($tdr);

#link {
  display: block;
  position: absolute;
  overflow: hidden;
  padding: 30px;
  box-sizing:border-box;
  width:100% !important;
  height:100% !important;
}

.container {
  border: param-border-size(brw, $brw) solid param-border-color-alpha(clr, $clr);
  padding: param-padding-size(pad, $pad);
}

#img {
  position: relative;
  overflow: hidden;
}

.corner {
  width: 29px;
  height: 27px;
  border-color: param-border-color-alpha(clr, $clr);
  border-style: solid;
  position: absolute;
}

.tl {
  top: 3px;
  left: 1px;
  border-width: 0 param-border-size(brw, $brw) param-border-size(brw, $brw) 0;
}

.bl {
  bottom: 3px;
  left: 1px;
  border-width: param-border-size(brw, $brw) param-border-size(brw, $brw) 0 0;
}

.br {
  bottom: 3px;
  right: 1px;
  border-width: param-border-size(brw, $brw) 0 0 param-border-size(brw, $brw);
}

.tr {
  top: 3px;
  right: 1px;
  border-width: 0 0 param-border-size(brw, $brw) param-border-size(brw, $brw);
}
