@charset "UTF-8";

@import '../../../../components/src/main/mixins/components-base';
@import 'mixins/photoZoom';

// ***************************************************************************************************************************************
// NOTE: *DO NOT* change the param names on existing skins (e.g. brd, shd, bg, etc) - the first argument passed to the param() functions.
// these are saved in the site's data, changing them will break the site.
// you may give skin params any name you wish - but only in new components and their (new) skins.
// ***************************************************************************************************************************************
$rd: 5px;
$brd: color_11;
$bgh: color_15;
$brw: 2px;
$shd: 0 1px 3px rgba(0, 0, 0, .5);
$trans: opacity .4s ease 0s;
$tdr: BASE_THEME_DIRECTORY;

@include define-mapped-param(contentPaddingLeft, brw);
@include define-mapped-param(contentPaddingRight, brw);
@include define-mapped-param(contentPaddingBottom, brw);
@include define-mapped-param(contentPaddingTop, brw);

@include exports("img:skin", "skins.core.ImageNewSkinZoomable");
@include zoomAndPanCursor($tdr);

@include define-mapped-param(sizeRd, rd, SIZE);
@include define-mapped-param(sizeBrw, brw, SIZE);

#link {
  @include param-border-radius(rd, $rd);
  @include param-box-shadow(shd, $shd);
  display: block;
  background-color: param-border-color-alpha(brd, $brd);
  border: param-border-size(brw, $brw) solid param-border-color-alpha(brd, $brd);
  overflow: hidden;
  height: 100%;
}

#img {
  //@include param-border-radius(rd, $rd);
  overflow: hidden;
  border-radius: calc(#{param-size(sizeRd, 1px)} - #{param-size(sizeBrw, 1px)});
}

#rollover {
  @include param-border-radius(rd, $rd);
  @include param-transition(trans, $trans);
  background-color: param-bg-color(bgh, $bgh);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
  opacity: 0;
  pointer-events: none;
}

:host:hover #rollover{
  opacity: 1;
}
