@charset "UTF-8";

@import '../../../../components/src/main/mixins/components-base';
@import 'mixins/photoZoom';

// ***************************************************************************************************************************************
// NOTE: *DO NOT* change the param names on existing skins (e.g. brd, shd, bg, etc) - the first argument passed to the param() functions.
// these are saved in the site's data, changing them will break the site.
// you may give skin params any name you wish - but only in new components and their (new) skins.
// ***************************************************************************************************************************************
$bg: color_11;
$rd: 2px;
$shd: 0 2px 5px rgba(0, 0, 0, .53);
$tdr: BASE_THEME_DIRECTORY;

@include define-param(contentPaddingLeft, SIZE, 12px);
@include define-param(contentPaddingRight, SIZE, 12px);
@include define-param(contentPaddingBottom, SIZE, 12px);
@include define-param(contentPaddingTop, SIZE, 12px);

@include exports("img:skin", "skins.core.ImageNewSkinZoomable");
@include zoomAndPanCursor($tdr);

#link {
  display: block;
  @include param-border-radius(rd, $rd);
  background-color: param-bg-color(bg, $bg);
  @include param-box-shadow(shd, $shd);
  overflow: hidden;
  height: 100% !important;
  width: 100% !important;
  background-image: param-url(tdr, $tdr, "ironpatern.png");
  position: relative;
}

.imgGlow {
  box-shadow: rgba(255, 255, 255, .59) 0 0 6px 0 inset,
              rgba(255, 255, 255, .92) 0 1px 0 0  inset,
              rgba(255, 255, 255, .20) 0 0 5px 0 inset;
  @include param-border-radius(rd, $rd);
  @include abs-distance(0);
  pointer-events: none;
}

#img {
  @include param-border-radius(rd, $rd);
  overflow: hidden;
}

.screw {
  display: inline-block;
  background-image: param-url(tdr, $tdr, "skrew.png");
  background-repeat: no-repeat;
  width: 15px;
  height: 15px;
  pointer-events: none;
}

.screwTL {
  position: absolute;
  top: 5px;
  left: 5px;
}

.screwTR {
  position: absolute;
  top: 5px;
  right: 5px;
}

.screwBL {
  position: absolute;
  bottom: 5px;
  left: 5px;
}

.screwBR {
  position: absolute;
  bottom: 5px;
  right: 5px;
}

#img {
  overflow: hidden;
  margin: 12px;
}
