@charset "UTF-8";

@import '../../../../components/src/main/mixins/components-base';
@import 'mixins/photoZoom';



// ***************************************************************************************************************************************
// NOTE: *DO NOT* change the param names on existing skins (e.g. brd, shd, bg, etc) - the first argument passed to the param() functions.
// these are saved in the site's data, changing them will break the site.
// you may give skin params any name you wish - but only in new components and their (new) skins.
// ***************************************************************************************************************************************
$tdr: BASE_THEME_DIRECTORY;

@include define-param(contentPaddingLeft, SIZE, 9px);
@include define-param(contentPaddingRight, SIZE, 9px);
@include define-param(contentPaddingBottom, SIZE, 9px);
@include define-param(contentPaddingTop, SIZE, 9px);

@include exports("img:skin", "skins.core.ImageNewSkinZoomable");
@include zoomAndPanCursor($tdr);

#link {
  width: calc(100% - 5px) !important;
  height: calc(100% - 5px) !important;
  position: absolute;
  background: param-url(tdr, $tdr, "sloppyframe.png") no-repeat 0 0;
  display: block;
}

.brd {
  position: absolute;
  top: 5px;
  bottom: 0;
  left: 5px;
  right: 0;
  background: param-url(tdr, $tdr, "sloppyframe.png") no-repeat 100% 100%;
}

#img {
  overflow: hidden;
  margin: 9px;
}
