@charset "UTF-8";

@import '../../../../components/src/main/mixins/components-base';
@import 'mixins/photoZoom';



// ***************************************************************************************************************************************
// NOTE: *DO NOT* change the param names on existing skins (e.g. brd, shd, bg, etc) - the first argument passed to the param() functions.
// these are saved in the site's data, changing them will break the site.
// you may give skin params any name you wish - but only in new components and their (new) skins.
// ***************************************************************************************************************************************
$tdr: BASE_THEME_DIRECTORY;

@include exports(contentPaddingLeft, 0);
@include exports(contentPaddingRight, 0);
@include exports(contentPaddingTop, 0);
@include exports(contentPaddingBottom, 0);
@include zoomAndPanCursor($tdr);


@include exports("img:skin", "skins.core.ImageNewSkinZoomable");

#link {
  display: block;
  overflow: hidden;
}

#img {
  overflow: hidden;
}
