@charset "UTF-8";

@import '../../mixins/components-base';

// ***************************************************************************************************************************************
// NOTE: *DO NOT* change the param names on existing skins (e.g. brd, shd, bg, etc) - the first argument passed to the param() functions. 
// these are saved in the site's data, changing them will break the site.
// you may give skin params any name you wish - but only in new components and their (new) skins.
// ***************************************************************************************************************************************
$tdr: BASE_THEME_DIRECTORY;
$bg: #000;

:host {
  position: static;
  width: 100%;
  height: 100%;
  @include tap-highlight-color(rgba(0, 0, 0, 0));
  z-index: $zindex-mobile-media-zoom-skin-host;
}

#blockingLayer {
  background-color: mutate-bg-color-const(bg, alpha, 1, $bg);
  position: fixed;
  @include distance(0);
}

#dialogBox {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  background: #000;
  z-index: $zindex-mobile-media-zoom-skin-dialogBox; // on top of wix ads
}

#buttonNext,
#buttonPrev {
  top: 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

#buttonPrev {
  background-image: param-url(tdr, $tdr, "prev_button.png");
  left: 0;
}

#buttonNext {
  background-image: param-url(tdr, $tdr, "next_button.png");
  right: 0;
}

#xButton {
  top: 0;
  right: 0;
  background: param-url(tdr, $tdr, "x_button.png") no-repeat;
  background-size: cover;
}

#buttonNext,
#buttonPrev,
#xButton {
  [data-state~="tablet"] {
    @include param-orientation-zoom-fix(zoom);
  }
}

.btn {
  @include param-inverted-viewzoom-fixed(zoom);
  position: fixed;
  overflow: hidden;
  cursor: pointer;
}

// States

[data-state~="tablet"] {
  .btn {
    width: 80px;
    height: 80px;
  }
}

[data-state~="mobile"] {
  .btn {
    width: 43px;
    height: 43px;
  }
}

[data-state~="hideButtons"] {
  .btn {
    display: none;
  }
}

[data-state~="scrollEnabled"] {
  #blockingLayer {
    position: static;
    height: 100%;
  }
}

@media (orientation: landscape) {
  #buttonPrev,
  #buttonNext {
    top: 45%;
  }
}
