@charset "UTF-8";

@import '../../../../components/src/main/mixins/components-base';

@include exports("siteButton:skin", "wysiwyg.viewer.skins.button.BasicButton");

// ***************************************************************************************************************************************
// NOTE: *DO NOT* change the param names on existing skins (e.g. brd, shd, bg, etc) - the first argument passed to the param() functions. 
// these are saved in the site's data, changing them will break the site.
// you may give skin params any name you wish - but only in new components and their (new) skins.
// ***************************************************************************************************************************************


#fileInput {
  display: none;
}

#chooseFile {
  background: #f9f9f9;
  border: 5px solid #88c;
  padding: 15px;
  border-radius: 5px;
  margin: 10px;
  cursor: pointer;
}

.fileName {
  position: absolute;
  top: 58px;
  left: 8px;
}