@charset "UTF-8";

@import '../../mixins/components-base';

// ***************************************************************************************************************************************
// NOTE: *DO NOT* change the param names on existing skins (e.g. brd, shd, bg, etc) - the first argument passed to the param() functions. 
// these are saved in the site's data, changing them will break the site.
// you may give skin params any name you wish - but only in new components and their (new) skins.
// ***************************************************************************************************************************************
$brd: color_11;
$brw: 0;

#borderNode{
  border: param-border-size(brw, $brw) solid param-border-color-alpha(brd, $brd);
  @include abs-distance(0);
  pointer-events: none;
}

#inlineContent {
  @include abs-distance(0);
}

#inlineContentParent {
  position: absolute;
  width: 100%;
  height: 100%;
}

[data-shouldhideoverflowcontent="true"] {
  :host {
    overflow: hidden;
  }
}

