@charset "UTF-8";
@import 'VerticalAnchorsMenuBase';

// ***************************************************************************************************************************************
// NOTE: *DO NOT* change the param names on existing skins (e.g. brd, shd, bg, etc) - the first argument passed to the param() functions.
// these are saved in the site's data, changing them will break the site.
// you may give skin params any name you wish - but only in new components and their (new) skins.
// ***************************************************************************************************************************************

$textFont: font_1;
$textSpacing: 14px;
$symbolColor: color_15;
$symbolColorSelected: color_2;
$symbolHeight: 15px;
$symbolStrokeWidth: 4px;

@include exports(hoverElementClass, 'link');
@include define-mapped-param(symbolAndTextColor, symbolColor);
@include define-mapped-param(selectedColor, symbolColorSelected);

#menuContainer {

  .item {

    .link {

      .text-wrapper {
        @include param-font(textFont, $textFont);
        color: param-text-color(symbolColor, $symbolColor);
        width: calc(100% - #{$symbolHeight});
        transition: all 0.2s ease-in-out;
      }

      .symbol {
        fill: transparent;
        stroke: param-text-color(symbolColor, $symbolColor);
        stroke-width: $symbolStrokeWidth;
      }
    }

    &.active, &.hover {
      .link {
        .symbol {
          fill: param-text-color(symbolColorSelected, $symbolColorSelected);
          stroke: param-text-color(symbolColorSelected, $symbolColorSelected);
        }
        .text-wrapper {
          color: param-text-color(symbolColorSelected, $symbolColorSelected);
        }
      }
    }
  }

  &.text-align-left, &.orientation-left.text-align-center {
    .item {
      .link {
        .text-wrapper {
          .label {
            padding-left: param-padding-size(textSpacing, $textSpacing);
          }
        }
      }
    }
  }

  &.text-align-right, &.orientation-right.text-align-center {
    .item {
      .link {
        .text-wrapper {
          .label {
            padding-right: param-padding-size(textSpacing, $textSpacing);
          }
        }
      }
    }
  }
}

@include auto-color();
