@charset "UTF-8";

@import 'baseSubscribeForm';

// ***************************************************************************************************************************************
// NOTE: *DO NOT* change the param names on existing skins (e.g. brd, shd, bg, etc) - the first argument passed to the param() functions.
// these are saved in the site's data, changing them will break the site.
// you may give skin params any name you wish - but only in new components and their (new) skins.
// ***************************************************************************************************************************************
$bg1: color_11;
$txt1: color_15;
$bg2: color_19;
$txt2: color_11;
$title-color: color_15;
$label-color: color_12;
$error-color: #8b0000;
$success-color: rgba(186, 218, 85, 1);
$brd: color_12;
$brw: 1px;
$tfnt: font_6;
$fnt: font_9;
$fnt2: font_9;
$efnt: font_9;
$rd: 0;
$shd: 0 1px 4px rgba(0, 0, 0, .6);
$phs-bg4: color_18;
$phs-txt3: color_15;

@include exports("hidePlaceholders", "false");

:host {
  min-width: 235px;
  //min-height: 120px;
  max-width: 980px;
  max-height: 1024px;
}

#wrapper {
  width: 100%;
  position: absolute;

  #formTitle {
    @include param-font(tfnt, $tfnt);
    margin-bottom: 4px;
    color: param-text-color(titleColor, $title-color);
  }

  label {
    display: none;
  }

  #phoneField {
    position: relative;

    .forPhone {
      position: absolute;
      display: block;
      left: 95px;
      right: 0;
      top: 0;
    }

    .drop-list {
      display: inline-block;
      width: 86px;
      margin: 2px 0 8px;
      @include param-font(fnt, $fnt);
      position: relative;
      padding: 0;
      vertical-align: top;
      @include param-border-radius(rd, $rd);
      @include param-box-shadow(shd, $shd);
      background-color: transparent;
      overflow: hidden;
      white-space: nowrap;

      .selected {
        display: block;
        box-sizing: border-box;
        color: param-text-color(txt1, $txt1);
        @include param-font(fnt, $fnt);
        padding: 5px 1em 5px 5px;
        overflow: hidden;
        width: 100%;
        border: param-border-size(brw, $brw) solid param-border-color-alpha(brd, $brd);
        @include param-border-radius(rd, $rd);
        box-shadow: none;
        margin: 0;
      }

      .after {
        position: absolute;
        color: param-text-color(txt1, $txt1);
        right: param-border-size(brw, $brw);
        padding-right: 5px;
        font-family: Arial;
        font-size: .6em;
        @include param-border-radius(rd, $rd);
        top: 50%;
        margin-top: -1em;

        &:before {
          content: "▼";
        }
      }

      select {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        background-image: none;
        border: 0;
        @include opacity(0);
      }
    }
  }

  div.button {
    text-align: right;
    vertical-align: middle;

    button {
      @include param-border-radius(rd, $rd);
      @include param-box-shadow(shd, $shd);
      background-color: param-bg-color(bg2, $bg2);
      @include param-font(fnt2, $fnt2);
      color: param-text-color(txt2, $txt2);
      padding: 5px 10px;
      border: 0;
      cursor: pointer;
      white-space: nowrap;
      display: inline-block;
      vertical-align: middle;
      margin-right: 0;
      float: right;

      &:active,
      &:hover {
        color: param-text-color(phs_txt3, $phs-txt3);
        background-color: param-bg-color(phs_bg4, $phs-bg4);
      }
    }

    span {
      vertical-align: middle;
      display: none;
      padding: 0 10px;
      @include param-font(efnt, $efnt);
      text-align: left;

      &.success {
        color: param-text-color(txtSuccess, $success-color);
        display: block;
      }

      &.error {
        color: param-border-color(txtError, $error-color);
        display: block;
      }
    }
  }

  input {
    box-sizing: border-box;
    color: param-text-color(txt1, $txt1);
    @include param-border-radius(rd, $rd);
    @include param-box-shadow(shd, $shd);
    background-color: param-bg-color(bg1, $bg1);
    @include param-font(fnt, $fnt);
    border: param-border-size(brw, $brw) solid param-border-color-alpha(brd, $brd);
    padding: 5px;
    margin: 2px 0 7px;
    width: 100%;

    &:invalid {
      @include param-box-shadow(shd, $shd);
    }

    &.error {
      border: mutate-size-param(maxbrw, max, 1, brw) solid param-border-color(txtError, $error-color);
      color: param-border-color(txtError, $error-color);
      @include param-font(fnt, $fnt);
    }

    &::placeholder {
      color: param-text-color(labelTxt, $label-color);
    }
  }
}

[data-state~="left"] {
  direction: ltr;
  text-align: left;
}

[data-state~="right"] {
  #wrapper {
    direction: rtl;
    text-align: right;

    div.button {
      text-align: left;

      button {
        float: left;
        margin-left: 0;
        margin-right: initial;
      }

      span {
        text-align: right;
      }
    }
  }

  #phoneField {
    direction: ltr;
    text-align: left;

    .forPhone input {
      direction: ltr;
      text-align: right;
    }
    .drop-list {
      direction: ltr;
      text-align: left;

      .selected {
        direction: ltr;
        text-align: right;
      }
    }
  }

  &[data-state~="mobile"] .drop-list .selected {
    padding-right: 20px;
  }
}

[data-state~="mobile"] {

  min-width: initial;
  min-height: initial;
  max-width: initial;
  max-height: initial;

  input {
    font-size: 14px;
    padding: 0 5px;
    margin: 0 0 5px;
    height: 45px;
    line-height: normal;
    @include appearance(none);
  }

  .drop-list {
    height: 45px;
    margin-top: 0;
    line-height: 45px;
    width: 90px;

    .selected {
      height: 45px;
      line-height: 35px;
      font-size: 14px;
    }
    .after {
      top: 0;
      bottom: 0;
      right: param-border-size(brw, $brw);
      line-height: 45px;
      font-size: 12px;
      margin: 0;
    }

    & + input {
      display: inline-block;
    }

    select {
      font-size: 14px;
      height: 45px;
      line-height: 45px;
    }
  }

  div.button {
    span {
      display: block;
      text-align: center;
      padding: 0;
      width: 100%;
    }
    button {
      margin-top: 10px;
    }
  }
}

