@charset "UTF-8";

@import 'baseSubscribeForm';

// ***************************************************************************************************************************************
// NOTE: *DO NOT* change the param names on existing skins (e.g. brd, shd, bg, etc) - the first argument passed to the param() functions.
// these are saved in the site's data, changing them will break the site.
// you may give skin params any name you wish - but only in new components and their (new) skins.
// ***************************************************************************************************************************************
$bls-bg1: color_11;
$bls-bg2: color_19;
$bls-bg3: color_12;
$bls-bg4: color_18;
$bls-txt1: color_15;
$bls-txt2: color_11;
$bls-txt3: color_15;
$bls-title-color: color_15;
$bls-label-color: color_12;
$bls-error-color: #8b0000;
$bls-success-color: rgba(186, 218, 85, 1);
$bls-brd: color_12;
$bls-brw: 1px;
$bls-tfnt: font_6;
$bls-fnt: font_9;
$bls-fnt2: font_9;
$bls-efnt: font_9;
$bls-shd: 0 2px 1px 0 rgba(50, 50, 50, 0.2);
$bls-shd-input: inset 1px 1px 0 1px rgba(50, 50, 50, 0.2);
$bls-shd-input-rtl: inset -1px 1px 1px 0 rgba(50, 50, 50, 0.75);
//$bls-no-shd: none;
$bls-shd-subscribe-button: inset 0 -15px 5px 0 rgba(50, 50, 50, 0.4);
$web-theme-directory: WEB_THEME_DIRECTORY;

@include exports("hidePlaceholders", "false");
@include exports("successMessageOutside", "true");

:host {
  min-width: 505px;
  min-height: 98px;
  max-width: 980px;
  max-heigth: 1024px;
}

#wrapper.wrapper {
  width: 100%;

  .container {
    background: param-bg-color(bls_bg3, $bls-bg3) param-url(webThemeDir, $web-theme-directory, "subscribeform/shiny_bg.png") repeat-x 50% 0%;
    padding: 30px 24px;
    @include param-box-shadow(bls_shd, $bls-shd);

    h1 {
      padding: 0;
      margin: 0 0 10px;
      @include param-font(bls_tfnt, $bls-tfnt);
      color: param-text-color(bls_titleColor, $bls-title-color);
    }

    ul {
      margin: 0;
      padding: 0;
      position: relative;

      li {
        list-style: none;
        margin-top: 10px;
        margin-right: 10px;

        &:first-child {
          margin-top: 20px;
        }

        &.email-container {
          margin-right: 0;
        }

        &.table-view {
          margin: 0;
        }

        &.table-view {
          div {
            display: table;
            width: 100%;
          }

          span {
            display: table-cell;
            padding-right: 10px;

            input {
              margin-top: 10px;
            }
          }

          & > span {
            display: inline-block;
            margin: 0 10px 0 0;
            width: 100%;
            @include param-box-shadow(bls_shd_input, $bls-shd-input);
            z-index: $zindex-subscribe-from-box-layout-shiny-span-in-li;
            position: relative;
          }
        }
      }
    }

    input {
      margin: 0;
      color: param-text-color(bls_txt1, $bls-txt1);
      background-color: param-bg-color(bls_bg1, $bls-bg1);
      @include param-font(bls_fnt, $bls-fnt);
      @include param-box-shadow(bls_shd_input, $bls-shd-input);
      border: param-border-size(bls_brw, $bls-brw) solid param-border-color-alpha(bls_brd, $bls-brd);
      padding: 7px;
      width: 100%;
      display: block;
      line-height: normal;

      &.error {
        border: mutate-size-param(maxbrw, max, 1, bls_brw) solid param-border-color(bls_txtError, $bls-error-color);
        color: param-border-color(bls_txtError, $bls-error-color);
        box-sizing: border-box;
      }
      &::placeholder {
        color: param-text-color(bls_labelTxt, $bls-label-color);

      }
    }

    .button {
      display: block;
      position: relative;

      a.submit {
        @include param-box-shadow(bls_shd_subscribe_button, $bls-shd-subscribe-button);
        display: block;
        color: param-text-color(bls_txt2, $bls-txt2);
        @include param-font(bls_fnt2, $bls-fnt2);
        padding: calc(#{param-border-size(bls_brw, $bls-brw)} + 7px) 24px;
        max-width: 250px;
        overflow: hidden;
        background-color: param-bg-color(bls_bg2, $bls-bg2);
        white-space: nowrap;
        line-height: normal;
        margin-left: 14px;
        margin-right: calc(1px + #{param-border-size(bls_brw, $bls-brw)});

        &:active,
        &:hover {
          color: param-text-color(bls_txt3, $bls-txt3);
          background-color: param-bg-color(bls_bg4, $bls-bg4);
        }
      }
    }

    .phoneField {
      position: relative;

      .drop-list {
        background-color: param-bg-color(bls_bg1, $bls-bg1);
        display: inline-block;
        width: 106px;
        position: relative;
        padding: 0;
        vertical-align: top;
        overflow: hidden;
        white-space: nowrap;
        border: param-border-size(bls_brw, $bls-brw) solid param-border-color-alpha(bls_brd, $bls-brd);
        box-sizing: border-box;

        .selected {
          background-color: transparent;
          display: block;
          color: param-text-color(bls_txt1, $bls-txt1);
          overflow: hidden;
          width: 100%;
          margin: 0;
          @include param-font(bls_fnt, $bls-fnt);
          text-align: center;
          border: 0;
          padding: 6px 20px 6px 0;
        }

        .after {
          position: absolute;
          top: 5px;
          right: 5px;
          bottom: 5px;
          text-align: center;
          padding: 5px;
          width: 14px;
          background: param-bg-color(bls_bg3, $bls-bg3) no-repeat center;
          @include param-font(bls_fnt, $bls-fnt);

          svg {
            position: absolute;
            top: 50%;
            margin-top: -4px;
            left: 50%;
            margin-left: -8px;
          }

          polygon {
            fill: param-bg-color(bls_bg1, $bls-bg1);
          }
        }

        select {
          position: absolute;
          width: 100%;
          height: 100%;
          top: 0;
          left: 0;
          right: 0;
          background-image: none;
          border: 0;
          @include opacity(0);
        }
      }

      .forPhone {
        position: absolute;
        display: block;
        left: 116px;
        right: 0;
        top: 0;
      }
    }

    div.error {
      @include param-font(bls_efnt, $bls-efnt);
      color: param-border-color(bls_txtError, $bls-error-color);
      padding-top: 5px;
    }

    .table-row {
      display: table-row;
      width: 100%;
    }

    .table {
      display: table;
      width: 100%;
      position: relative;
    }

    .email-wrapper {
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      display: block;
      @include param-font(bls_fnt, $bls-fnt);
      @include param-box-shadow(bls_shd_input, $bls-shd-input);
      border: param-border-size(bls_brw, $bls-brw) solid transparent;
      background-color: param-bg-color(bls_bg1, $bls-bg1);
      padding: 6px;
    }

    .table-cell {
      display: table-cell;
      width: 100%;
      vertical-align: bottom;
    }
  }

  .message {
    margin: 15px 0 0;
    background-color: #26e089;
    text-align: center;
    @include param-font(bls_efnt, $bls-efnt);
    padding: 10px 0;
    display: none;

    &.success {
      background-color: transparent;
      color: param-text-color(bls_txtSuccess, $bls-success-color);
      display: block;
    }

    &.error {
      background-color: transparent;
      color: param-border-color(bls_txtError, $bls-error-color);
      display: block;
    }

    &.editorView {
      border: 1px dashed #d1d1d1;
      background-color: #eee;
      color: #d1d1d1;
      display: block;
    }
  }
}

[data-state~="left"] {
  direction: ltr;
  text-align: left;
}

[data-state~="right"] {
  direction: rtl;
  text-align: right;

  #wrapper .container {

    ul li {
      margin-left: 10px;
      margin-right: 0;

      & > span {
        margin: 0 0 0 10px;
        @include param-box-shadow(bls_shd_input_rtl, $bls-shd-input-rtl);
      }

      &.table-view {
        margin: 0;

        span {
          padding-left: 10px;
          padding-right: 0;
        }

        &.email-container {
          margin-left: 0;
        }
      }
    }

    input {
      @include param-box-shadow(bls_shd_input_rtl, $bls-shd-input-rtl);
    }

    .button {
      position: relative;

      a.submit {
        margin-right: 15px;
        margin-left: 0;
      }
    }

    #phoneField {
      text-align: left;
    }
  }
}

[data-state~="mobile"] {

  min-width: initial;
  min-height: initial;
  max-width: initial;
  max-height: initial;

  #wrapper {
    .container {

      .table {
        display: block;
        width: 100%;
      }

      .table-row {
        display: block;
        width: 100%;
      }

      .table-cell {
        display: block;
        width: 100%;
        vertical-align: bottom;
      }

      ul li {
        margin-left: 0;
        margin-right: 0;

        &.table-view span {
          display: block;
          padding-right: 0;
          padding-left: 0;

          input {
            margin-bottom: 0;
          }
        }
      }

      input {
        font-size: 14px;
        padding: 0 5px;
        margin: 0 0 5px 0;
        height: 45px;
        line-height: normal;
        @include appearance(none);
      }

      .phoneField {

        .drop-list {
          height: 45px;
          margin-top: 0;
          line-height: 45px;
          width: 86px;

          .selected {
            height: 45px;
            line-height: 35px;
            font-size: 14px;
          }

          select {
            font-size: 14px;
            height: 45px;
            line-height: 45px;
          }
        }

        .forPhone {
          left: 96px;
        }
      }

      div.button {
        margin-top: 5px;

        span {
          display: block;
          text-align: center;
          padding: 0;
          width: 100%;
        }

        a.submit {
          margin-left: 0;
          margin-right: 0;
          max-width: auto;
          min-width: auto;
          margin-top: 10px;
          text-align: center;
        }
      }
    }
  }
}

