@charset "UTF-8";

@import "../../skins/wix-sites-base";

// ***************************************************************************************************************************************
// NOTE: *DO NOT* change the param names on existing skins (e.g. brd, shd, bg, etc) - the first argument passed to the param() functions. 
// these are saved in the site's data, changing them will break the site.
// you may give skin params any name you wish - but only in new components and their (new) skins.
// ***************************************************************************************************************************************
$tdr: WEB_THEME_DIRECTORY;

@include exports("tooltip:skin", "wysiwyg.viewer.skins.option.InfoTipArrowSkin");

#placeholder a.action {
  display: block;
  width: 100%;
  height: 100%;
  position: relative;
}

#placeholder {
  position: absolute;
  width: 100%;
  height: 100%;
}

#actionButton {
  text-align: center;
  position: absolute;
  top: 0;
  width: 100%;
}

#placeholder .hidden {
  display: none;
}

#radioElement {
  text-align: center;
  top: 0;
  position: relative;
}

#radioElement input {
  display: inline-block;
}

#tooltip {
  width: 405px;
  margin-left: 205px;
  margin-top: -10px;
  position: absolute;
  z-index: $zindex-package-picker-skin-tooltip;
  white-space: pre-wrap;
}

#tooltipArea {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  zoom: 1;
  display: block;
  background: param-url(tdr, $tdr, "transparent.gif") repeat;
}

