@charset "UTF-8";

@import '../../../../../components/src/main/mixins/components-base';



// ***************************************************************************************************************************************
// NOTE: *DO NOT* change the param names on existing skins (e.g. brd, shd, bg, etc) - the first argument passed to the param() functions.
// these are saved in the site's data, changing them will break the site.
// you may give skin params any name you wish - but only in new components and their (new) skins.
// ***************************************************************************************************************************************
$brd: color_15;



:host {
  border-bottom: 1px solid param-border-color-alpha(brd, $brd);
  position: absolute;
  top: 0;
  height: 0 !important;
  min-height: 0 !important;
}

.arr {
  position: absolute;
  left: -5px;
  bottom: -5px;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-right: 10px solid param-border-color-alpha(brd, $brd);
}
