@charset "UTF-8";

@import '../../../../../components/src/main/mixins/components-base';

// ***************************************************************************************************************************************
// NOTE: *DO NOT* change the param names on existing skins (e.g. brd, shd, bg, etc) - the first argument passed to the param() functions.
// these are saved in the site's data, changing them will break the site.
// you may give skin params any name you wish - but only in new components and their (new) skins.
// ***************************************************************************************************************************************
$lnw: 6px;
$clr: color_15;

#line {
  min-height: 2px;
  height: param-height(lnw, $lnw);
  border-radius: 7px;
  background-color: param-bg-color(clr, $clr);
  box-shadow: 0 1px 0 rgba(255, 255, 255, .1), inset 0 1px 0 rgba(0, 0, 0, .25);
}
