@charset "UTF-8";

@import '../../../../../components/src/main/mixins/components-base';



// ***************************************************************************************************************************************
// NOTE: *DO NOT* change the param names on existing skins (e.g. brd, shd, bg, etc) - the first argument passed to the param() functions.
// these are saved in the site's data, changing them will break the site.
// you may give skin params any name you wish - but only in new components and their (new) skins.
// ***************************************************************************************************************************************
$lnw1: 3px;
$lnw2: 1px;
$dst: 5px;
$brd: color_15;



#line {
  border-top: param-border-top-size(lnw1, $lnw1) solid param-border-color-alpha(brd, $brd);
  border-bottom: param-border-bottom-size(lnw2, $lnw2) solid param-border-color-alpha(brd, $brd);
  padding: param-padding-size(dst, $dst) 0 0 0;
}
