@charset "UTF-8";

@import '../../../../../components/src/main/mixins/components-base';



// ***************************************************************************************************************************************
// NOTE: *DO NOT* change the param names on existing skins (e.g. brd, shd, bg, etc) - the first argument passed to the param() functions.
// these are saved in the site's data, changing them will break the site.
// you may give skin params any name you wish - but only in new components and their (new) skins.
// ***************************************************************************************************************************************
$tdr: BASE_THEME_DIRECTORY;

//TODO: Should be in data fixer?
:host {
  height: 29px !important;
  min-height: 29px !important;
  max-height: 29px !important;
}

#cont{
  width: 100%;
  overflow: hidden;
  position: relative;
}

#line {
  height: 29px;
  min-height: 29px;
  min-width: 90px !important;
}

.ln {
  height: 29px;
  min-height: 29px;
  background-image: param-url(tdr, $tdr, "fade_line.png");
  position: absolute;
  top: 0;
}

.left {
  background-position: 0 0;
  width: 45px;
  left: 0;
}

.right {
  background-position: 100% 0;
  width: 45px;
  right: 0;
}

.center {
  background-position: 0 -29px;
  right: 45px;
  left: 45px;
}
