@charset "UTF-8";

@import '../../../../components/src/main/mixins/components-base';

// ***************************************************************************************************************************************
// NOTE: *DO NOT* change the param names on existing skins (e.g. brd, shd, bg, etc) - the first argument passed to the param() functions.
// these are saved in the site's data, changing them will break the site.
// you may give skin params any name you wish - but only in new components and their (new) skins.
// ***************************************************************************************************************************************
$txt: color_15;
$fntds: font_8;

@include exports("heightDiff", 40);
@include exports("imageItem:skin", "skins.viewer.gallerymatrix.MatrixDisplayerIronSkin");
@include exports("imageItem:styleGroup", "inherit");

.pos {
  height: 30px !important;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: center;
}

#showMore {
  cursor: pointer;
  display: inline-block;
  line-height: 45px !important;
  padding: 0 10px;
  text-decoration: underline !important;
  color: param-text-color(txt, $txt);
  @include param-font(fntds, $fntds);

  [data-state~="fullView"] & {
    display: none;
  }
}

#itemsContainer {
  @include abs-distances(0, 0, 45px !important, 0);
}
