@charset "UTF-8";

@import '../../../../components/src/main/mixins/components-base';



// ***************************************************************************************************************************************
// NOTE: *DO NOT* change the param names on existing skins (e.g. brd, shd, bg, etc) - the first argument passed to the param() functions.
// these are saved in the site's data, changing them will break the site.
// you may give skin params any name you wish - but only in new components and their (new) skins.
// ***************************************************************************************************************************************
$txt: color_15;
$fntds: font_8;

@include exports("heightDiff", 40);
@include exports("imageItem:skin", "wysiwyg.viewer.skins.gallerymatrix.MatrixDisplayerCircleSkin");
@include exports("imageItem:styleGroup", "inherit");

#showMore {
  color: param-text-color(txt, $txt);
  @include param-font(fntds, $fntds);
  cursor: pointer;
  text-decoration: underline !important;
  height: 30px;
  line-height: 30px;
  position: absolute;
  bottom: 0;
  left: 35%;
  right: 35%;
  text-align: center;

  [data-state~="fullView"] & {
    display: none;
  }
}
