@charset "UTF-8";

@import "../../skins/wix-sites-base";

// ***************************************************************************************************************************************
// NOTE: *DO NOT* change the param names on existing skins (e.g. brd, shd, bg, etc) - the first argument passed to the param() functions. 
// these are saved in the site's data, changing them will break the site.
// you may give skin params any name you wish - but only in new components and their (new) skins.
// ***************************************************************************************************************************************
$txth: color_15;
$txt: color_15;
$fnt: font_5;
$trans: color .4s ease 0s;

#label {
  @include param-font(fnt, $fnt);
  color: param-text-color(txt, $txt);
  white-space: nowrap;
  @include param-transition(trans, $trans);
}

:host:hover #label {
  color: param-text-color(txth, $txth);
  @include param-transition(trans, $trans);
}

