@charset "UTF-8";

@import '../../mixins/components-base';



// ***************************************************************************************************************************************
// NOTE: *DO NOT* change the param names on existing skins (e.g. brd, shd, bg, etc) - the first argument passed to the param() functions. 
// these are saved in the site's data, changing them will break the site.
// you may give skin params any name you wish - but only in new components and their (new) skins.
// ***************************************************************************************************************************************
$rd: 2px;
$bg: color_11;
$fntds: font_8;
$txt: color_15;
$shd: 0 1px 3px rgba(0, 0, 0, .5);
$ishd: inset 0 0 6px 0 rgba(255, 255, 255, .59), inset 0 1px 0 0 rgba(255, 255, 255, .92), inset 0 0 5px 0 0 rgba(255, 255, 255, .20);
$trans: opacity .4s ease 0s;
$tdr: BASE_THEME_DIRECTORY;

@include exports("image:skin", "skins.core.ImageSkin");

:host {
  
}

#imageWrapper {
  @include param-box-shadow(shd, $shd);
  @include abs-distance(0);
  @include param-box-shadow(shd, $shd);
  @include param-border-radius(rd, $rd);
  position: relative;
  @include param-border-radius(rd, $rd);
  background-image: param-url(tdr, $tdr, "ironpatern.png");
}

.imgBorder {
  @include abs-distance(0);
  @include param-border-radius(rd, $rd);
  box-sizing: border-box;
}

#image {
  @include param-border-radius(rd, $rd);
}

#zoom {
  @include abs-distance(0);
  @include param-border-radius(rd, $rd);
  padding: 10px;
  background: param-bg-color(bg, $bg);
  @include opacity(0);
  @include param-transition(trans, $trans);
}

#title {
  display: none;
}

#description {
  display: none;
}

.imgGlow {
  @include param-box-shadow(ishd, $ishd);
  @include param-border-radius(rd, $rd);
  @include abs-distance(0);
}

#link {
  @include param-font(fntds, $fntds);
  color: param-text-color(txt, $txt);
  position: absolute;
  bottom: 10px;
  left: 10px;
  cursor: pointer !important;
}

[data-state~="noLink"] #link {
  display: none !important;
}

#zoom:hover {
  @include opacity(1);
}

[data-state~="noLink"]   #link {
  display: none;
}

[data-state~="rollover"] #zoom {
  @include opacity(1);
}

