@charset "UTF-8";

@import '../../../../components/src/main/mixins/components-base';

// ***************************************************************************************************************************************
// NOTE: *DO NOT* change the param names on existing skins (e.g. brd, shd, bg, etc) - the first argument passed to the param() functions. 
// these are saved in the site's data, changing them will break the site.
// you may give skin params any name you wish - but only in new components and their (new) skins.
// ***************************************************************************************************************************************
$bg: color_11;
$bg2: color_12;
$txt: color_15;
$tdr: BASE_THEME_DIRECTORY;
$rd: 5px;

:host {
  background-color: param-bg-color(bg2, $bg2);
  @include param-border-radius(rd, $rd);
  @include abs-distance(0);
}

#content {
  background-color: param-bg-color(bg, $bg);
  @include abs-distances(60px, 0, 60px, 0);
  @include param-border-radius(rd, $rd);
  padding: 10px;
}

#header {
  height: 50px;
  overflow: hidden;
  padding: 5px;
}

#label {
  color: param-text-color(txt, $txt);
  display: inline-block;
  margin-right: 10px;
  font-family: lucida grande, lucida, tahoma, helvetica, arial, sans-serif;
  font-size: 16px;
  font-weight: bold;
}

.tw {
  display: inline-block;
  background: param-url(tdr, $tdr, "widget-bird.png") no-repeat 0 0;
  width: 18px;
  height: 16px;
}

