@charset "UTF-8";

@import "slideShowGalleryBase";



// ***************************************************************************************************************************************
// NOTE: *DO NOT* change the param names on existing skins (e.g. brd, shd, bg, etc) - the first argument passed to the param() functions. 
// these are saved in the site's data, changing them will break the site.
// you may give skin params any name you wish - but only in new components and their (new) skins.
// ***************************************************************************************************************************************
$brd: rgba(0, 0, 0, 0);
$abg: color_14;
$abgh: rgba(0, 0, 0, 0.5);
$txt: color_11;
$brw: 0;
$rd: 0;
$shd: none;//0 1px 3px rgba(0, 0, 0, .5);
$trns: opacity .5s ease 0s;
$tdr: BASE_THEME_DIRECTORY;

@include exports("imageItem:skin", "skins.viewer.displayers.BlogSlideshowDisplayer");
@include exports("imageItem:styleGroup", "inherit");

:host {
  @include param-border-radius(rd, $rd);
  @include param-box-shadow(shd, $shd);
  overflow: hidden;
  background: param-border-color-alpha(brd, $brd);
}

.border {
  @include abs-distance(0);
  @include param-border-radius(rd, $rd);
  border: param-border-size(brw, $brw) solid param-border-color-alpha(brd, $brd);
  pointer-events: none;
  background: none !important;
}

#itemsContainer {
  @include abs-distance(0);
  @include param-border-radius(rd, $rd);
  overflow: hidden;
  @include translate3d(0,0,0);
  -webkit-mask-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAIAAACQd1PeAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAA5JREFUeNpiYGBgAAgwAAAEAAGbA+oJAAAAAElFTkSuQmCC);
}

.btn {
  @include param-transition(trns, $trns);
  background: param-bg-color(abgh, $abgh);
  @include opacity(0.7);
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  width: 32px;
  height: 134px;
  cursor: pointer;
}

.arrow {
  background: param-url(tdr, $tdr, "tiny_arrows.png") no-repeat;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  width: 8px;
  height: 16px;
}

[data-state~="mobile"] .btn {
  @include opacity(1);
}

#buttonPrev {
  left: 0;
}

#buttonNext {
  right: 0;
}

.arrowLeft {
  background-position: 0 0;
  left: 50%;
  margin-left: -4px;
}

.arrowRight {
  background-position: 100% 0;
  right: 50%;
  margin-right: -4px;
}

.helpers {
  @include param-transition(trns, $trns);
  @include opacity(0);
  position: absolute;
  right: param-border-size(brw, $brw);
  padding: 10px 10px 10px 0;
  width: 60px;
  text-align: right;
}

#counter {
  display: inline-block;
  color: param-border-color(txt, $txt);
  font-family: arial, helvetica,sans-serif;
  font-size: 12px;
  padding-left: 5px;
}

#autoplay {
  display: inline-block;
  padding-left: 10px;
  width: 20px;
  min-height: 10px;
  position: relative;
  text-align: center;
}

#autoplay > span {
  display: inline-block;
  position: relative;
  z-index: $zindex-blogs-slider-show-span-after-autoplay;
}

[data-state~="autoplayOff"] #autoplay > span {
  border: 5px solid transparent;
  border-left: 5px solid param-border-color(txt, $txt);
  width: 0;
  height: 0;
}

[data-state~="autoplayOn"]  #autoplay > span {
  border-left: 2px solid param-border-color(txt, $txt);
  border-right: 2px solid param-border-color(txt, $txt);
  height: 10px;
  width: 1px;
  margin-right: 5px;
}

.buttons {
  @include opacity(0);
  @include param-transition(trns, $trns);
}

[data-state~="mobile"] .buttons {
  @include opacity(1);
}

:host:hover > .buttons {
  @include opacity(1);
  background: param-bg-color(abgh, $abgh);
  @include param-transition(trns, $trns);
}

:host:hover > .helpers {
  @include opacity(1);
}

:host:hover .pnl {
  @include opacity(1);
}

[data-state~="showTextPanel"] .pnl {
  @include opacity(1);
}

[data-state~="touchRollOver"] .buttons {
  background: param-bg-color(abgh, $abgh);
  @include param-transition(trns, $trns);
}

[data-state~="touchRollOver"] .helpers {
  @include opacity(1);
}

[data-state~="touchRollOver"] .pnl {
  @include opacity(1);
}

[data-state~="touchRollOver"] .btn {
  background: param-bg-color(abgh, $abgh);
}

[data-state~="showButtons"]  .buttons {
  @include opacity(1);
}

