@charset "UTF-8";

@import '../../mixins/components-base';



// ***************************************************************************************************************************************
// NOTE: *DO NOT* change the param names on existing skins (e.g. brd, shd, bg, etc) - the first argument passed to the param() functions. 
// these are saved in the site's data, changing them will break the site.
// you may give skin params any name you wish - but only in new components and their (new) skins.
// ***************************************************************************************************************************************
$bg: color_15;
$txt: color_11;
$brw: 0;
$s: brw;
$fntt: font_6;
$fntds: font_8;
$rd: 0;
$trns: opacity .5s ease 0s;

@include exports("image:skin", "skins.core.ImageSkin");

#zoom {
  position: absolute;
  top: param-margin-size(brw, $brw);
  right: param-margin-size(brw, $brw);
  bottom: param-margin-size(brw, $brw);
  left: param-margin-size(brw, $brw);
}

#image {
  @include param-border-radius(rd, $rd);
}

#panel {
  @include param-border-radius(rd, $rd);
  background-color: param-bg-color(bg, $bg);
  @include param-transition(trns, $trns);
  @include opacity(0);
  position: absolute;
  right: param-margin-size(brw, $brw);
  left: param-margin-size(brw, $brw);
  bottom: mutate-size-param(s, decrease, 1, brw);
  padding: 10px 100px 10px 10px;
  min-height: 18px;
  border-top-left-radius: 0 !important;
  border-top-right-radius: 0 !important;
}

#title {
  @include param-font(fntt, $fntt);
  color: param-text-color(txt, $txt);
}

#description {
  @include param-font(fntds, $fntds);
  color: param-text-color(txt, $txt);
  white-space: pre-line;
}

#link {
  @include param-font(fntds, $fntds);
  color: param-text-color(txt, $txt);
}

[data-state~="transOut"] #panel {
  @include opacity(0);
}

[data-state~="transIn"] #panel {
  @include opacity(0);
}

[data-state~="link"] #link {
  text-decoration: underline;
  cursor: pointer;
  @include param-font(fntds, $fntds);
  color: param-text-color(txt, $txt);
}

[data-state~="noLink"] #link {
  display: none;
}

