@charset "UTF-8";

@import "slideShowGalleryBase";


// ***************************************************************************************************************************************
// NOTE: *DO NOT* change the param names on existing skins (e.g. brd, shd, bg, etc) - the first argument passed to the param() functions. 
// these are saved in the site's data, changing them will break the site.
// you may give skin params any name you wish - but only in new components and their (new) skins.
// ***************************************************************************************************************************************
$brw: 5px;
$s: brw;
$bg: color_11;
$txt: color_15;
$rd: 5px;
$shd: 0 1px 3px rgba(0, 0, 0, .5);
$trns: opacity .5s ease 0s;

@include exports("imageItem:skin", "wysiwyg.viewer.skins.displayers.SlideShowPolaroidDisplayer");
@include exports("imageItem:styleGroup", "inherit");

:host {
  background-color: param-bg-color(bg, $bg);
  @include param-box-shadow(shd, $shd);
  @include param-border-radius(rd, $rd);
  margin-top: 1px;  /* a margin-top was added in order ot shift gallery downwards to look like production due to virtual itemscontainer in prod. bug CLNT-2464 */
}

.btn div {
  height: 40px;
  line-height: 45px;
  width: 50px;
  background-color: param-bg-color(bg, $bg);
  @include param-border-radius(rd, $rd);
  position: absolute;
  top: 50%;
  margin-top: -30px;
  cursor: pointer;
  text-align: center;
}

#buttonPrev {
  @include param-transition(trns, $trns);
  @include opacity(0);
  left: mutate-size-param(s, decrease, 15, brw);
  @include param-border-radius(rd, $rd);
  border-bottom-left-radius: 0 !important;
  border-top-left-radius: 0 !important;
}

[data-state~="mobile"] #buttonPrev {
  @include opacity(1);
}

#buttonNext {
  @include param-transition(trns, $trns);
  @include opacity(0);
  right: mutate-size-param(s, decrease, 15, brw);
  @include param-border-radius(rd, $rd);
  border-bottom-right-radius: 0 !important;
  border-top-right-radius: 0 !important;
}

[data-state~="mobile"] #buttonNext {
  @include opacity(1);
}

.btn span {
  display: inline-block;
  border: 5px solid transparent;
}

#buttonNext span {
  border-left: 10px solid param-border-color(txt, $txt);
  margin-right: 5px;
}

#buttonPrev span {
  border-right: 10px solid param-border-color(txt, $txt);
  margin-left: 5px;
}

:host:hover .btn div {
  @include opacity(1);
}

[data-state~="touchRollOver"] .btn div {
  @include opacity(1);
}

.helpers {
  position: absolute;
  bottom: 45px;
  right: 10px;
  text-align: right;
  color: param-border-color(txt, $txt);
}

#counter {
  display: inline-block;
  padding-left: 5px;
  font-family: arial, helvetica,sans-serif;
  font-size: 12px;
}

#autoplay {
  display: inline-block;
  width: 10px;
  height: 10px;
  line-height: 10px;
  padding: 5px;
  cursor: pointer;
  text-align: center;
}

[data-state~="autoplayOff"] #autoplay > span {
  display: inline-block;
  border: 5px solid transparent;
  border-left: 5px solid param-border-color(txt, $txt);
  width: 0;
  height: 0;
}

[data-state~="autoplayOn"]  #autoplay > span {
  display: inline-block;
  border-left: 2px solid param-border-color(txt, $txt);
  border-right: 2px solid param-border-color(txt, $txt);
  height: 10px;
  width: 1px;
  margin-right: 5px;
}

[data-state~="showButtons"] .btn div {
  @include opacity(1);
}

[data-text-alignment="right"] {
  #imageItempanel {
    right:10px;
    left:90px;
  }

  .helpers {
    left:10px;
    right: initial;
  }

  &[data-state~="hidePlayButton"] {
    #autoplay {
      display:none;
    }
  }
}