@charset "UTF-8";

@import '../../mixins/components-base';



// ***************************************************************************************************************************************
// NOTE: *DO NOT* change the param names on existing skins (e.g. brd, shd, bg, etc) - the first argument passed to the param() functions. 
// these are saved in the site's data, changing them will break the site.
// you may give skin params any name you wish - but only in new components and their (new) skins.
// ***************************************************************************************************************************************
$baseThemeDir: BASE_THEME_DIRECTORY;
$maxWidth: 245px;



.singleLine {
  white-space: nowrap;
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  word-wrap: normal;
}

.container {
  width: 100%;
  background: transparent param-url(baseThemeDir, $baseThemeDir, "wix_apps/link_sprite.png") 2px top no-repeat;
  font-size: 1em;
  border-radius: 3px;
  border: 1px solid #B4B4B4;
  border-image: initial;
  box-shadow: rgba(0, 0, 0, .0980392) 0 1px 1px 0 inset;
  background-color: #FFF;
  margin: 0 0 5px;
  cursor: pointer;
  padding: 0 3px;
  padding-left: 20px;
  min-width: 1px;
  min-height: 23px;
  line-height: 23px;
  vertical-align: middle;
}

[data-state="nonEditable"] .container {
  cursor: default;
}

#description {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.sepLine {
  width: 1px;
  border-left: solid 1px #B4B4B4;
  margin-right: 5px;
  margin-left: 4px;
}

