@charset "UTF-8";

@import '../../mixins/components-base';



// ***************************************************************************************************************************************
// NOTE: *DO NOT* change the param names on existing skins (e.g. brd, shd, bg, etc) - the first argument passed to the param() functions. 
// these are saved in the site's data, changing them will break the site.
// you may give skin params any name you wish - but only in new components and their (new) skins.
// ***************************************************************************************************************************************




:host {
  position: relative;
  white-space: normal;

  & > div {
    border: 1px solid #444;
    display: inline-block;
    min-width: 26px;
    line-height: 20px;
    height: 20px;
    margin: 0 3px;
    text-align: center;
    text-transform: uppercase;
    cursor: pointer;
  }

  & > div:last-child {
    margin-right: 0;
  }
}

[data-state~="invalid"]:before {
  content: "!";
  position: absolute;
  text-align: center;
  bottom: 50%;
  left: -20px;
  width: 20px;
  height: 20px;
  line-height: 20px !important;
  margin-bottom: -11px;
  color: #fff;
  background: #f00;
  border: 2px solid #fff;
  border-radius: 50%;
  box-shadow: 0 1px 3px rgba(0, 0, 0, .5);
  font-size: 12px;
  font-weight: bold;
}

[data-state~="invalid"]:after {
  content: "►";
  position: absolute;
  bottom: 50%;
  left: 3px;
  margin: 0 0 -7px -2px;
  color: #fff;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, .5);
  font-size: 10px;
}

