@charset "UTF-8";

@import '../../mixins/components-base';

@include exports("tooltip:skin", "wixapps.integration.skins.ecommerce.options.InfoTipSkin");

:host {
  background: #fff;
  margin-top: 3px !important;
}

#size {
  position: relative;
}

[data-state~="selected"] #size {
  box-shadow: inset 0 0 0 1px #444;

  &:after {
    content: "▼";
    position: absolute;
    left: 50%;
    bottom: -7px;
    margin-left: -4px;
    color: #444;
    font-weight: bold;
    font-size: 8px;
    font-family: Arial;
    line-height: 1;
  }
}

[data-state~="disabled"] {
  display: none;
}

#tooltip {
  min-width: 100px !important;
  margin: -4px 0 0 14px;
  font-size: 12px;
  text-transform: uppercase;
  text-align: center;

  &:after {
    content: "▼";
    position: absolute;
    left: 50%;
    bottom: -10px;
    margin-left: -6px;
    color: #fffedf;
    font-size: 12px;
    font-family: Arial;
    line-height: 1;
    text-shadow: 0 1px 2px rgba(0, 0, 0, .5);
  }
}


