@charset "UTF-8";

@import '../../mixins/components-base';


// ***************************************************************************************************************************************
// NOTE: *DO NOT* change the param names on existing skins (e.g. brd, shd, bg, etc) - the first argument passed to the param() functions. 
// these are saved in the site's data, changing them will break the site.
// you may give skin params any name you wish - but only in new components and their (new) skins.
// ***************************************************************************************************************************************
$f0: font_0;
$f1: font_1;
$f2: font_2;
$f3: font_3;
$f4: font_4;
$f5: font_5;
$f6: font_6;
$f7: font_7;
$f8: font_8;
$f9: font_9;
$f10: font_10;

:host {
  position: relative;
  cursor: pointer;
  color: #09f;
  width: 100%;
  word-wrap: break-word;
}

span {
  color: #09f;
}

span:hover {
  text-decoration: underline;
}

p {
  color: #09f;
}

p:hover {
  text-decoration: underline;
}

