@charset "UTF-8";

@import '../../mixins/components-base';



// ***************************************************************************************************************************************
// NOTE: *DO NOT* change the param names on existing skins (e.g. brd, shd, bg, etc) - the first argument passed to the param() functions. 
// these are saved in the site's data, changing them will break the site.
// you may give skin params any name you wish - but only in new components and their (new) skins.
// ***************************************************************************************************************************************
$tdr: BASE_THEME_DIRECTORY;



:host {
  cursor: default;
  padding: 10px 20px;
  border: 1px solid #e6e6e6;
  border-top: 1px solid #ccc;
  border-radius: 5px;
}

[data-state="on"] > #off {
  display: none;
}

[data-state="off"] > #off {
  display: block;
  margin-top: 3px;
}

[data-state="on"] > #on {
  display: block;
}

[data-state="off"] > #on {
  display: none;
}

