@charset "UTF-8";

@import '../../mixins/components-base';



// ***************************************************************************************************************************************
// NOTE: *DO NOT* change the param names on existing skins (e.g. brd, shd, bg, etc) - the first argument passed to the param() functions. 
// these are saved in the site's data, changing them will break the site.
// you may give skin params any name you wish - but only in new components and their (new) skins.
// ***************************************************************************************************************************************
$_BorderRadius: 3px;
$webThemeDir: WEB_THEME_DIRECTORY;



:host {
  @include param-border-radius(_BorderRadius, $_BorderRadius);
  position: relative;
  height: 34px;
  line-height: 34px;
  border: dashed 1px #A0A0A0;
  background: #f8f8f8;
}

#inlineContent {
  margin: 0 10px 10px 10px;
  line-height: 30px;
}

#inlineContent .disabled {
  @include opacity(0.4);
}

