@charset "UTF-8";

@import '../../mixins/components-base';


// ***************************************************************************************************************************************
// NOTE: *DO NOT* change the param names on existing skins (e.g. brd, shd, bg, etc) - the first argument passed to the param() functions. 
// these are saved in the site's data, changing them will break the site.
// you may give skin params any name you wish - but only in new components and their (new) skins.
// ***************************************************************************************************************************************

[data-state~="24h"] #hours24 {
  display: inline;
}

[data-state~="24h"] #hours12 {
  display: none;
}

[data-state~="24h"] #ampm {
  display: none;
}

[data-state~="12h"] #hours24 {
  display: none;
}

[data-state~="12h"] #hours12 {
  display: inline;
}

[data-state~="12h"] #ampm {
  display: inline;
}

[data-state~="hours"] #minutes {
  display: none;
}

[data-state~="hours"] #seconds {
  display: none;
}

[data-state~="half-hour"] #seconds {
  display: none;
}

[data-state~="quarter-hour"] #seconds {
  display: none;
}

[data-state~="minutes"] #minutes option {
  display: inline;
}

[data-state~="minutes"] #seconds {
  display: none;
}

[data-state~="allowEmpty"] option.empty {
  display: inline;
}

[data-state~="hideEmpty"] option.empty {
  display: none;
}

#message {
  visibility: hidden;
  height: 20px;
  line-height: 20px;
  color: #d00;
  font-size: 12px;
}

[data-state~="invalid"] #message {
  visibility: visible;
}

