@charset "UTF-8";

@import '../../mixins/components-base';



// ***************************************************************************************************************************************
// NOTE: *DO NOT* change the param names on existing skins (e.g. brd, shd, bg, etc) - the first argument passed to the param() functions. 
// these are saved in the site's data, changing them will break the site.
// you may give skin params any name you wish - but only in new components and their (new) skins.
// ***************************************************************************************************************************************
$bg: transparent;
$txt: color_15;
$linkColor: color_15;
$fntt: font_6;
$fntds: font_8;
$trans: opacity .3s ease 0s;
$trans2: opacity 0s;
$webThemeDir: WEB_THEME_DIRECTORY;
$rd: 5px;

@include exports("graphicCounter:skin", "wysiwyg.viewer.skins.paginatedgrid.counter.CounterGraphicSkin");

#itemsContainer {
  margin: auto;
  padding-bottom: 10px;
}

#graphicCounter {
  position: static;
  margin-top: 10px;
  width: 100%;
  text-align: center;
}

#counter {
  position: absolute;
  bottom: 6px;
  width: 100%;
  text-align: center;
}

.buttons {
  display: block !important;
  position: absolute;
  left: 10px;
  right: 10px;
  top: 50%;
  margin-top: -35px;
}

.buttons a {
  width: 40px;
  height: 43px;
  background-image: param-url(webThemeDir, $webThemeDir, "button/arrows-template-picker.gif");
  background-repeat: no-repeat;
  cursor: pointer;
  position: absolute;
}

#buttonPrev {
  left: 0;
  background-position: 19px 0;
}

#buttonNext {
  right: 0;
  background-position: 0 -130px;
}

#buttonPrev:hover {
  left: 0;
  background-position: 19px -43px;
}

#buttonNext:hover {
  right: 0;
  background-position: 0 -174px;
}

#buttonPrev:active {
  left: 0;
  background-position: 19px -86px;
}

#buttonNext:active {
  right: 0;
  background-position: 0 -81px;
}

