@charset "UTF-8";
@import "../dialogs";

// ***************************************************************************************************************************************
// NOTE: *DO NOT* change the param names on existing skins (e.g. brd, shd, bg, etc) - the first argument passed to the param() functions.
// these are saved in the site's data, changing them will break the site.
// you may give skin params any name you wish - but only in new components and their (new) skins.
// ***************************************************************************************************************************************
$bg: #fff;

#dialog {
	&:not(.responsive) {
		box-sizing: content-box;
		width: 455px;
		padding: 20px;

		.wrapper {
			background-color: param-bg-color(bg, $bg);
			padding: 45px 40px 0;
		}
	}
}

#header {
	padding-bottom: 25px;
	line-height: 30px;
}

#favIconImg {
	float: left;
	margin: 7px 7px 0 0;
}

[data-state~="mobile"] {
	#header {
		padding-bottom: 10px;
		line-height: 30px;
	}

	#favIconImg {
		display: none;
	}

	.footer {
		margin-top: 0;
		padding-bottom: 10px;
	}

	.wrapper {
		padding: 10px 12px;
	}
}

[data-state~="cancelHidden"] #cancel {
	display: none;
}

.footer {
	width: 100%;
	padding-bottom: 40px;
}

[data-state~="canBeClosed"] .footer {
	padding-bottom: 40px;
}

#errMsg {
	display: block;
}

#title {
	font-size: 20px;
	padding-bottom: 0;
}

#submitButton {
	font-family: Arial, sans-serif;
}

#password {
	input[type="password"] {
		height: 30px;
		font-size: 14px;
		line-height: 30px;
	}
}

[data-state~="mobile"] {
  #dialog {
	left: calc(50% - 140px);
  }
}
