@charset "UTF-8";
@import "../dialogs";
@import "../newDialogs";

@include exports("okButton:skin", "wysiwyg.viewer.skins.button.BasicButton");
@include exports("okButton:styleGroup", "b1");

// ***************************************************************************************************************************************
// NOTE: *DO NOT* change the param names on existing skins (e.g. brd, shd, bg, etc) - the first argument passed to the param() functions.
// these are saved in the site's data, changing them will break the site.
// you may give skin params any name you wish - but only in new components and their (new) skins.
// ***************************************************************************************************************************************


#header {
	line-height: 30px;
}

[data-state~="mobile"] {
	#header {
		line-height: 30px;
	}

	#favIconImg {
		display: none;
	}

	#content {
		width: auto;
	}

	.footer {
		margin-top: 0;
		padding-bottom: 10px;
	}

}

[data-state~="cancelHidden"] #cancel {
	display: none;
}

.footer {
	width: 100%;
	padding-bottom: 40px;
	text-align: left;
}

[data-state~="canBeClosed"] .footer {
	padding-bottom: 40px;
}

#content {
	width: 100%;
}

#inputWithValidationinput {
	padding: 0;
}

#password label {
	display: none;
}

[data-state~="desktop"] {
	.wrapper {
		width: 390px;
		padding: 0;
	}
}