@import "../../colors";

.column-header .menu-button {
  opacity: 0;

  &:hover {
    opacity: 1;
  }
}

.selected {
  background: #d9e1e8;
}

.icon-area-left {
  position: absolute;
  top: 0;
  left: 0;
  width: 31px;
  height: 30px;
}

.icon-area-right {
  position: absolute;
  top: 0;
  right: 0;
  width: 31px;
  height: 30px;
}

.icon {
  width: 100%;
  height: 100%;
}

.system-field {
  font-weight: bold;
  color: $d1;
}

.sort-index-container {
  position: absolute;
  top: 0;
  left: 0;
}

.sort-index {
  position: absolute;
  left: 15px;
  font-size: 9px;
  color: $d3;

  &-up {
    top: 10px;
  }

  &-down {
    top: 2px;
  }
}
