@charset "UTF-8";

@import '../../mixins/components-base';

// ***************************************************************************************************************************************
// NOTE: *DO NOT* change the param names on existing skins (e.g. brd, shd, bg, etc) - the first argument passed to the param() functions.
// these are saved in the site's data, changing them will break the site.
// you may give skin params any name you wish - but only in new components and their (new) skins.
// ***************************************************************************************************************************************
$tdr: BASE_THEME_DIRECTORY;
$bg: #000;
$trns: opacity .5s ease 0s;
$pad: 10px;

@include sum-params(heightSpacer, pad, pad);

:host {
  position: fixed !important;
  width: 100% !important;
  height: 100% !important;
  z-index: $zindex-media-zoom-skin-host;
}

#blockingLayer {
  background-color: mutate-bg-color-const(bg, alpha, .75, $bg);
  position: fixed;
  @include distance(0);
  visibility: visible;
  zoom: 1;
  overflow: auto;
  user-select:none;
}

[data-state~='mobile'], [data-state~='tablet'] {
  #blockingLayer {
    background-color: #5F6360;
  }
}

#dialogBox {
  margin: auto;
  background: #fff;
  min-width: 500px;
  position: relative;
  text-align: right;
  width: 500px;
  padding: $pad $pad 0;
  user-select:none;
  box-sizing: border-box;
}

#xButton {
  display: inline-block;
  right: -25px;
  width: 25px;
  height: 25px;
  background: #fff param-url(tdr, $tdr, "close.gif") no-repeat 50% 50%;
  cursor: pointer;
  position: absolute;
  top: 0;
  z-index: $zindex-media-zoom-skin-xbutton;
}

.btn {
  position: fixed;
  top: 0;
  width: 100px;
  height: 100%;
  background: param-url(tdr, $tdr, "arrows_white.png") no-repeat;
  overflow: hidden;
  text-indent: -9999px;
  cursor: pointer;
  @include opacity(0.3);
  @include param-transition(trns, $trns);
}

#buttonNext {
  right: 20px;
  background-position: -30px 50%;
}

#buttonPrev {
  left: 20px;
  background-position: 70px 50%;
}

.btn:hover {
  @include opacity(1);
}