@charset "UTF-8";

@import '../../mixins/components-base';

// ***************************************************************************************************************************************
// NOTE: *DO NOT* change the param names on existing skins (e.g. brd, shd, bg, etc) - the first argument passed to the param() functions. 
// these are saved in the site's data, changing them will break the site.
// you may give skin params any name you wish - but only in new components and their (new) skins.
// ***************************************************************************************************************************************
$tdr: BASE_THEME_DIRECTORY;
$bg: #000;
$trns: opacity .5s ease 0s;
$pad: 50px;

@include sum-params(heightSpacer, pad, pad);

:host {
  position: fixed !important;
  width: 100% !important;
  height: 100% !important;
  @include tap-highlight-color(rgba(0, 0, 0, 0));
  z-index: $zindex-non-optimized-media-zoom-skin-host;
}

#blockingLayer {
  background-color: $bg;
  position: fixed;
  @include distance(0);
  visibility: visible;
  zoom: 1;
  overflow: auto;
  user-select: none;
}

#dialogBox {
  position: relative;
  user-select: none;
  box-sizing: border-box;
}

.btn {
  display: inline-block;
  cursor: pointer;
  position: fixed;
  overflow: hidden;
  text-indent: -9999px;
  cursor: pointer;
  @include opacity(0.9);
  @include param-transition(trns, $trns);
  z-index: $zindex-media-zoom-skin-xbutton;
}

#xButton {
  background-color: mutate-bg-color-const(bg, alpha, 0.5, $bg);
  right: 15px;
  top: 15px;

  .svgButtonClose {
    stroke: white;
    stroke-width: 15;
    position: absolute;
  }
}

.svgNavButton {
  stroke: white;
  stroke-width: 25;
  position: absolute;
  top: 50%;
  background-color: mutate-bg-color-const(bg, alpha, 0.5, $bg);
  margin: 15px;
}

#buttonNext {
  top: 0;
  right: 0;
  width: 33%;
  height: 100%;
  .svgNavButton {
    right: 0;
  }
}
#buttonPrev {
  top: 0;
  left: 0;
  width: 33%;
  height: 100%;
  .svgNavButton {
    left: 0;
  }
}

.btn:hover {
  @include opacity(1);
}

[data-state~="hideButtons"] {
  .btn {
    display: none;
  }
}

@media (orientation: portrait) {
  #xButton {
    width: 75px;
    height: 75px;
  }

  [data-state~='mobile'] {

    .svgButtonClose {
      width: 45px;
      height: 45px;
      right: 15px;
      top: 15px;
    }

    .svgNavButton {
      width: 45px;
      height: 45px;
      margin-top: -22px;
    }

    #buttonNext .svgNavButton {
      padding: 15px 12px 15px 18px;
    }

    #buttonPrev .svgNavButton {
      padding: 15px 18px 15px 12px;
    }
  }

  [data-state~='tablet'] {

    .svgButtonClose {
      width: 35px;
      height: 35px;
      right: 20px;
      top: 20px;
    }

    .svgNavButton {
      width: 35px;
      height: 35px;
      margin-top: -17px;
    }

    #buttonNext .svgNavButton {
      padding: 20px 18px 20px 22px;
    }

    #buttonPrev .svgNavButton {
      padding: 20px 22px 20px 18px;
    }
  }
}

@media (orientation: landscape) {

  #xButton {
    width: 45px;
    height: 45px;
  }

  .svgNavButton {
    width: 25px;
    height: 25px;
    margin-top: -12px;
  }

  #buttonNext .svgNavButton {
    padding: 10px 9px 10px 11px;
  }

  #buttonPrev .svgNavButton {
    padding: 10px 11px 10px 9px;
  }

  [data-state~='tablet'] {
    .svgButtonClose {
      width: 19px;
      height: 19px;
      right: 13px;
      top: 13px;
    }
  }

  [data-state~='mobile'] {
    .svgButtonClose {
      width: 25px;
      height: 25px;
      right: 10px;
      top: 10px;
    }
  }
}