@charset "UTF-8";

@import '../../../../components/src/main/mixins/components-base';

// ***************************************************************************************************************************************
// NOTE: *DO NOT* change the param names on existing skins (e.g. brd, shd, bg, etc) - the first argument passed to the param() functions. 
// these are saved in the site's data, changing them will break the site.
// you may give skin params any name you wish - but only in new components and their (new) skins.
// ***************************************************************************************************************************************
$bg: color_11;
$rb1: color_14;
$rb2: color_15;
$rb3: color_15;

#bg {
  background: param-bg-color(bg, $bg);
}

#inlineContent,
#bg {
  @include abs-distances(0, 25px, 10px, 25px);
}

.left,
.right {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  bottom: 0;
  border: 20px solid;
  @include rotate(360);

  &:after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    bottom: -20px;
    border: 5px solid;
    border-color: param-border-color-alpha(rb3, $rb3) param-border-color-alpha(rb3, $rb3) transparent;
  }
}

.left {
  left: 0;
  border-color: param-border-color-alpha(rb1, $rb1);
  border-left: 15px solid transparent;

  &:after {
    left: 10px;
    border-left: 5px solid transparent;
  }
}

.right {
  right: 0;
  border-color: param-border-color-alpha(rb2, $rb2);
  border-right: 15px solid transparent;

  &:after {
    right: 10px;
    border-right: 5px solid transparent;
  }
}
