@charset "UTF-8";

@import '../../../../components/src/main/mixins/components-base';

// ***************************************************************************************************************************************
// NOTE: *DO NOT* change the param names on existing skins (e.g. brd, shd, bg, etc) - the first argument passed to the param() functions. 
// these are saved in the site's data, changing them will break the site.
// you may give skin params any name you wish - but only in new components and their (new) skins.
// ***************************************************************************************************************************************
$bg: color_11;
$brd: color_15;
$elm: color_15;
$elm2: color_15;
$brw: 6px;
$els: 0;
$shd: 0 1px 4px rgba(0, 0, 0, .6);

#bg {
  background-color: param-bg-color(bg, $bg);
  @include param-box-shadow(shd, $shd);
  border: param-border-size(brw, $brw) solid param-border-color-alpha(brd, $brd);
  @include abs-distance(0);
  bottom: calc(#{param-border-size(els, $els)} + 10px);
}

.ribbon {
  position: absolute;
  bottom: calc(-1 * (#{param-border-size(els, $els)} + 10px));
  height: 0;
  width: 0;
  border: calc(#{param-border-size(els, $els)} + 10px) solid transparent;
}

.fr {
  border-top-color: param-color-alpha(elm, $elm);
  border-left-width: 0;
  right: 0;
}

.fl {
  border-top-color: param-color-alpha(elm2, $elm2);
  border-right-width: 0;
  left: 0;
}

#inlineContent {
  @include abs-distance(0);
  bottom: calc(#{param-border-size(els, $els)} + 10px);
}

