@charset "UTF-8";

@import '../../../../components/src/main/mixins/components-base';

// ***************************************************************************************************************************************
// NOTE: *DO NOT* change the param names on existing skins (e.g. brd, shd, bg, etc) - the first argument passed to the param() functions.
// these are saved in the site's data, changing them will break the site.
// you may give skin params any name you wish - but only in new components and their (new) skins.
// ***************************************************************************************************************************************

$shd: 0 2px 5px rgba(0, 0, 0, .53);
$ishd: inset 0 0   6px 0 rgba(255, 255, 255, .59),
       inset 0 1px 0   0 rgba(255, 255, 255, .92),
       inset 0 0   5px 0 rgba(255, 255, 255, .20);
$rd: 2px;
$theme-dir: BASE_THEME_DIRECTORY;

#inlineContent,
#bg,
#glow {
  @include abs-distance(0);
}

#bg {
  background-color: param-bg-color(bg, color_11);
  @include param-box-shadow(shd, $shd);
  @include param-border-radius(rd, $rd);
  background-image: param-url(tdr, $theme-dir, "ironpatern.png");
}

#glow {
  @include param-box-shadow(ishd, $ishd);
  @include param-border-radius(rd, $rd);
}

.screw {
  display: inline-block;
  background: param-url(tdr, $theme-dir, "skrew.png") no-repeat;
  width: 15px;
  height: 15px;
}

.screwTL,
.screwTR,
.screwBL,
.screwBR {
  position: absolute;
}

.screwTL {
  top: 5px;
  left: 5px;
}

.screwTR {
  top: 5px;
  right: 5px;
}

.screwBL {
  bottom: 5px;
  left: 5px;
}

.screwBR {
  bottom: 5px;
  right: 5px;
}


