@charset "UTF-8";

@import '../../../../components/src/main/mixins/components-base';

:host {
  pointer-events: none;
  &.ie10 {
    max-width: 0;
    max-height: 0;
  }
}

#inlineContent {
  pointer-events: all;
}