@charset "UTF-8";

@import '../../../../components/src/main/mixins/components-base';

// ***************************************************************************************************************************************
// NOTE: *DO NOT* change the param names on existing skins (e.g. brd, shd, bg, etc) - the first argument passed to the param() functions. 
// these are saved in the site's data, changing them will break the site.
// you may give skin params any name you wish - but only in new components and their (new) skins.
// ***************************************************************************************************************************************
$bg: color_11;
$tdr: BASE_THEME_DIRECTORY;

#bg,
.bg2,
#inlineContent {
  @include abs-distance(3px);
}

#bg {
  background: param-bg-color(bg, $bg);

  &:before,
  &:after {
    position: absolute;
    content: "";
    background: param-url(tdr, $tdr, "sloppyhoriz.png") repeat-x;
    left: -7px;
    right: -7px;
    height: 10px;
  }

  &:before {
    background-position: 0 0;
    top: -7px;
  }

  &:after {
    background-position: 0 100%;
    bottom: -7px;
  }
}

.bg2 {
  &:before,
  &:after {
    position: absolute;
    content: "";
    background: param-url(tdr, $tdr, "sloppyvertical.png") repeat-y;
    top: 0;
    bottom: 0;
    width: 10px;
  }

  &:before {
    background-position: 0 0;
    left: -7px;
  }

  &:after {
    background-position: 100% 0;
    right: -7px;
  }
}




