@charset "UTF-8";

@import '../../../../components/src/main/mixins/components-base';

// ***************************************************************************************************************************************
// NOTE: *DO NOT* change the param names on existing skins (e.g. brd, shd, bg, etc) - the first argument passed to the param() functions. 
// these are saved in the site's data, changing them will break the site.
// you may give skin params any name you wish - but only in new components and their (new) skins.
// ***************************************************************************************************************************************
$bg: color_11;
$brd: color_15;
$brw: 1px;
$rd: 5px;
$tdr: BASE_THEME_DIRECTORY;

#bg {
  @include abs-distance(0);
  background-color: param-bg-color(bg, $bg);
  @include param-border-radius(rd, $rd);
  border: param-border-size(brw, $brw) solid param-border-color-alpha(brd, $brd);
}

#inlineContent {
  @include abs-distance(0);
}

.shd {
  position: absolute;
  bottom: -26px;
  width: 165px;
  height: 26px;
  background: param-url(tdr, $tdr, "liftedshadow_medium.png") no-repeat;
  pointer-events: none;
}

.left {
  left: -20px;
  background-position: 0 0;
}

.right {
  right: -20px;
  background-position: 100% 0;
}

