@charset "UTF-8";

@import '../../../../components/src/main/mixins/components-base';

// ***************************************************************************************************************************************
// NOTE: *DO NOT* change the param names on existing skins (e.g. brd, shd, bg, etc) - the first argument passed to the param() functions. 
// these are saved in the site's data, changing them will break the site.
// you may give skin params any name you wish - but only in new components and their (new) skins.
// ***************************************************************************************************************************************
$background-color: color_11;
$border-color: color_15;
$border-width: 1px;
$border-radius: 5px;

@include define-mapped-param(shc, bg, COLOR);

#bg {
  @include param-border-radius(rd, $border-radius);
  @include abs-distance(0);
  background-color: param-bg-color(bg, $background-color);
  border: solid param-border-color-alpha(brd, $border-color) param-border-size(brw, $border-width);
  box-shadow: 1px 1px mutate-color-param(shc, brightness, .5, bg),
              3px 3px mutate-color-param(shc, brightness, .5, bg),
              5px 5px mutate-color-param(shc, brightness, .5, bg),
              7px 7px mutate-color-param(shc, brightness, .5, bg),
              9px 9px mutate-color-param(shc, brightness, .5, bg);
}

#inlineContent {
  @include abs-distance(0);
}

