@charset "UTF-8";

@import '../../../../components/src/main/mixins/components-base';

// ***************************************************************************************************************************************
// NOTE: *DO NOT* change the param names on existing skins (e.g. brd, shd, bg, etc) - the first argument passed to the param() functions. 
// these are saved in the site's data, changing them will break the site.
// you may give skin params any name you wish - but only in new components and their (new) skins.
// ***************************************************************************************************************************************
$tdr: BASE_THEME_DIRECTORY;
$xxx: color_11;
$bg: color_11;
$brd: color_15;
$brw: 15px;
$rd: 5px;
$shd: 0 1px 4px rgba(0, 0, 0, .6);

#bg {
  overflow: hidden;
  border: param-border-size(brw, $brw) solid param-border-color-alpha(brd, $brd);
  background-color: param-bg-color(bg, $bg);
  @include param-border-radius(rd, $rd);
  @include param-box-shadow(shd, $shd);
  background: param-bg-color(xxx, $xxx) param-url(tdr, $tdr, "net.png") center center repeat;
}

#inlineContent,
#bg {
  @include abs-distance(0);
}

