/.idea/
/.cache/

/descriptors/
/karmit/lib/
/static/
/target/
/node_modules/
/conf/package-template/

/layout-integration/dist

/packages/documentServices/src/main/theme/skins/editorSkinsData.js
/packages/skins/src/main/util/skins.js
/packages/skins/src/main/util/evals.js

/js/plugins/**/experiment.js
/js/plugins/**/*.bundle.js
/js/test/test-main.js
/js/test/packagesList.js*
/js/vendor
/js/test/vendor
/js/external

/app/test
/app/localPLoaderConfig.js
/app/rjs-config.js
/app/main*js
/app/main-r/dist/
/app/partials/generated
/app-seo/main*

**/*.rt.js
**/*.json.js
/server/test/data
packages-bin
