.main-content {
    max-width: 100%;
}

.project-icon {
    margin: auto;
    background-color: rgba(214, 226, 235, 0.64);
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 2px solid rgba(51, 51, 51, 0.51);
}

.project-icon img {
    padding: 10px;
    max-width: 100%;
    max-height: 100%;
}
