@charset "UTF-8";

[data-state~="shouldUseFlex"] #link, [data-state~="shouldUseFlex"] #labelwrapper {
  text-align: initial;
  display: flex;
  align-items: center;
}

[data-state~="shouldUseFlex"][data-state~="center"] #link,
[data-state~="shouldUseFlex"][data-state~="center"] #labelwrapper {
  justify-content: center;
}

[data-state~="shouldUseFlex"][data-state~="left"] #link,
[data-state~="shouldUseFlex"][data-state~="left"] #labelwrapper {
  justify-content: flex-start;
}

[data-state~="shouldUseFlex"][data-state~="right"] #link,
[data-state~="shouldUseFlex"][data-state~="right"] #labelwrapper {
  justify-content: flex-end;
}
