@charset "UTF-8";

@import '../../../../components/src/main/mixins/components-base';
@import './button-common';

// ***************************************************************************************************************************************
// NOTE: *DO NOT* change the param names on existing skins (e.g. brd, shd, bg, etc) - the first argument passed to the param() functions. 
// these are saved in the site's data, changing them will break the site.
// you may give skin params any name you wish - but only in new components and their (new) skins.
// ***************************************************************************************************************************************
$background-color: color_17;
$hover-background-color: color_18;
$hover-text-color: color_15;
$text-color: color_15;
$font: font_5;

:host {
  overflow: hidden;
  @include rotate(360);
}

[data-disabled="false"] {
  cursor: pointer !important;

  &:active[data-state~="mobile"],
  &:hover[data-state~="desktop"] {
    .bg {
      background: param-border-color-alpha(bgh, $hover-background-color);
    }
    #label {
      color: param-text-color(txth, $hover-text-color);
    }
    .top {
      border-bottom-color: param-border-color-alpha(bgh, $hover-background-color) !important;
    }
    .bottom {
      border-top-color: param-border-color-alpha(bgh, $hover-background-color) !important;
    }
  }
}

.bg {
  background: param-border-color-alpha(bg, $background-color);
  @include abs-distances(0, 0, 0, 50px);
}

#link {
  @include abs-distance(0);
}

#label {
  @include param-font(fnt, $font);
  color: param-text-color(txt, $text-color);
  display: inline-block;
  position: relative;
  white-space: nowrap;
}

.top,
.bottom {
  border-left: 50px solid transparent;
  border-right: 0;
  left: 0;
  position: absolute;
}

[data-state~="mobile"] {
  .top, .bottom {
    left: 1px;
  }
}

.top {
  border-bottom: 50px solid param-border-color-alpha(bg, $background-color);
  bottom: 50%;
}

[data-state~="mobile"] {
  .top {
    transform: scale(1.01); //hack to solve #CLNT-3202
  }
}

.bottom {
  border-top: 50px solid param-border-color-alpha(bg, $background-color);
  top: 50%;
}

[data-disabled="true"] {
  .bg {
    background: disabled-param-border-color-alpha(bgd);
  }

  #label {
    @include disabled-text-color(txtd);
  }

  .top {
    border-bottom-color: disabled-param-border-color-alpha(bgd);
  }

  .bottom {
    border-top-color: disabled-param-border-color-alpha(bgd);
  }
}

