@charset "UTF-8";

@import '../../../../components/src/main/mixins/components-base';
@import './button-common';

// ***************************************************************************************************************************************
// NOTE: *DO NOT* change the param names on existing skins (e.g. brd, shd, bg, etc) - the first argument passed to the param() functions. 
// these are saved in the site's data, changing them will break the site.
// you may give skin params any name you wish - but only in new components and their (new) skins.
// ***************************************************************************************************************************************
$border-width: 0;
$border-color: color_15;
$hover-border-color: color_15;

$background-color: color_17;
$hover-background-color: color_18;

$text-color: color_15;
$hover-text-color: color_15;

$border-radius: 0;
$font: font_5;
$box-shadow-color: rgba(0, 1, 2, 1);
$box-shadow-2-color: rgba(0, 1, 2, 1);
$transition: border-color .2s ease 0s, background-color .2s ease 0s;
$label-transition: color .2s ease 0s;

#link {
  @include param-border-radius(rd, $border-radius);
  @include abs-distance(0);
  background-color: param-bg-color(bg, $background-color);
  box-shadow: 0px 1px 1px 0px param-box-shadow-color(shadowColor, $box-shadow-color), 0px 4px 6px 0px param-box-shadow-color(shadowColor2, $box-shadow-2-color);
  border: solid param-border-color-alpha(brd, $border-color) param-border-size(brw, $border-width);
  @include param-transition(trans1, $transition);
}

#label {
  @include param-font(fnt, $font);
  color: param-text-color(txt, $text-color);
  display: inline-block;
  margin: calc(-1 * #{param-border-size(brw, $border-width)}) param-border-size(brw, $border-width) 0;
  position: relative;
  white-space: nowrap;
  @include param-transition(trans2, $label-transition);
}

[data-disabled="false"] {
  cursor: pointer !important;

  &:active[data-state~="mobile"],
  &:hover[data-state~="desktop"] {
    #link {
      background-color: param-bg-color(bgh, $hover-background-color);
      border-color: param-border-color-alpha(brdh, $hover-border-color);

    }

    #label {
      color: param-text-color(txth, $hover-text-color);
    }
  }

  &:active[data-state~="desktop"] {
    #link {
      background-color: param-bg-color(bga, $background-color);
      border-color: param-border-color-alpha(brda, $border-color);
      transition: none;
    }

    #label {
      color: param-text-color(txta, $text-color);
      transition: none;
    }
  }
}

[data-disabled="true"] {
  #link {
    @include disabled-bg-color(bgd);
    @include disabled-border-color(brdd);
  }

  #label {
    @include disabled-text-color(txtd);
  }
}
