@charset "UTF-8";

@import '../../../../components/src/main/mixins/components-base';
@import './button-common';

// ***************************************************************************************************************************************
// NOTE: *DO NOT* change the param names on existing skins (e.g. brd, shd, bg, etc) - the first argument passed to the param() functions.
// these are saved in the site's data, changing them will break the site.
// you may give skin params any name you wish - but only in new components and their (new) skins.
// ***************************************************************************************************************************************
$bg: color_17;
$bgh: color_17;
$txth: color_15;
$txt: color_15;
$rd: 2;
$fnt: font_5;
$shd: 0 2px 5px rgba(0, 0, 0, .53);
$ishd:  rgba(255, 255, 255, .59) 0 0 6px 0 inset,
        rgba(255, 255, 255, .92) 0 1px 0 0 inset,
        rgba(255, 255, 255, .20) 0 0 5px 0 inset;
$trans1:  border-color .4s ease 0s,
          background-color .4s ease 0s,
          color .4s ease 0s;
$tdr: BASE_THEME_DIRECTORY;

#link {
  @include param-border-radius(rd, $rd);
  @include abs-distance(0);
  background-color: param-bg-color(bg, $bg);
  @include param-transition(trans1, $trans1);
  @include param-box-shadow(shd, $shd);
  background-image: param-url(tdr, $tdr, 'ironpatern.png');
  color: param-text-color(txt, $txt);
}

.glow {
  @include abs-distance(0);
  @include param-box-shadow(ishd, $ishd);
  @include param-border-radius(rd, $rd);
}

#label {
  @include param-font(fnt, $fnt);
  @include param-transition(trans1, $trans1);
  color: param-text-color(txt, $txt);
  display: inline-block;
  position: relative;
  white-space: nowrap;
}

.screw {
  @include sizes(15px, 15px);
  background-image: param-url(tdr, $tdr, 'skrew.png');
  background-repeat: no-repeat;
  display: inline-block;
}

.screw-tl,
.screw-tr,
.screw-bt,
.screw-br {
  position: absolute;
}

.screw-tl {
  left: 2px;
  top: 2px;
}

.screw-tr {
  right: 2px;
  top: 2px;
}

.screw-bt {
  bottom: 2px;
  left: 2px;
}

.screw-br {
  bottom: 2px;
  right: 2px;
}

[data-disabled="false"] {
  cursor: pointer !important;
  &:active[data-state~="mobile"],
  &:hover[data-state~="desktop"] {
    #link {
      background-color: param-bg-color(bgh, $bgh);
    }

    #label {
      color: param-text-color(txth, $txth);
    }
  }
}

[data-disabled="true"] {
  #link {
    @include disabled-bg-color(bgd);
  }

  #label {
    @include disabled-text-color(txtd);
  }
}