@charset "UTF-8";

@import '../../../../components/src/main/mixins/components-base';
@import './button-common';

// ***************************************************************************************************************************************
// NOTE: *DO NOT* change the param names on existing skins (e.g. brd, shd, bg, etc) - the first argument passed to the param() functions. 
// these are saved in the site's data, changing them will break the site.
// you may give skin params any name you wish - but only in new components and their (new) skins.
// ***************************************************************************************************************************************
$bg: color_17;
$bgh: color_18;
$txth: color_15;
$txt: color_15;
$fnt: font_5;
$trans1: border-color .4s ease 0s, background-color .4s ease 0s;
$trans2: color .4s ease 0s;
$tdr: BASE_THEME_DIRECTORY;
$offset: -4px;

[data-disabled="false"] {
  overflow: visible !important;
  cursor: pointer !important;

  &:active[data-state~="mobile"],
  &:hover[data-state~="desktop"] {
    #link {
      background-color: param-bg-color(bgh, $bgh);
      @include param-transition(trans1, $trans1);
    }

    #label {
      color: param-text-color(txth, $txth);
      @include param-transition(trans2, $trans2);
    }
  }
}

.brd {
  background: param-url(tdr, $tdr, 'sloppyframe.png') no-repeat;
  position: absolute;
}

.top {
  @include distances($offset, 0, 0, $offset);
  background-position: 0 0;
}

.bot {
  @include distances(0, $offset, $offset, 0);
  background-position: 100% 100%;
}

#link {
  @include abs-distance(4px);
  @include param-transition(trans1, $trans1);
  background-color: param-bg-color(bg, $bg);
}

#label {
  @include param-font(fnt, $fnt);
  @include param-transition(trans2, $trans2);
  color: param-text-color(txt, $txt);
  display: inline-block;
  margin: -4px 0 0 -4px;
  position: relative;
  white-space: nowrap;
}

[data-disabled="true"] {
  #link {
    @include disabled-bg-color(bgd);
  }

  #label {
    @include disabled-text-color(txtd);
  }
}

