@charset "UTF-8";

@import '../../../../components/src/main/mixins/components-base';
@import './button-common';


// ***************************************************************************************************************************************
// NOTE: *DO NOT* change the param names on existing skins (e.g. brd, shd, bg, etc) - the first argument passed to the param() functions. 
// these are saved in the site's data, changing them will break the site.
// you may give skin params any name you wish - but only in new components and their (new) skins.
// ***************************************************************************************************************************************
$bg: color_17;
$bgh: color_18;
$txth: color_15;
$txt: color_15;
$fnt: font_5;



.wrapper {
  @include abs-distance(0);
  width: 50%;
  background-color: param-border-color-alpha(bg, $bg);
}

.container {
  position: absolute;
  height: 50%;
  overflow: hidden;
  width: 100%;
  left: 100%;
}

.bottom {
  bottom: 0;
}

.ribbon {
  position: absolute;
  width: 0;
  height: 0;
  right: 0;
  border-style: solid;
}

.top .ribbon {
  top: 0;
  border-width: 500px 500px 0 0;
  border-color: param-border-color-alpha(bg, $bg) transparent transparent transparent;
}

.bottom .ribbon {
  bottom: 0;
  border-color: transparent transparent transparent param-border-color-alpha(bg, $bg);
  border-width: 500px 0 0 500px;
}

#link {
  @include abs-distance(0);
  overflow: hidden;
  height: 100%;
  cursor: pointer !important;
}

#label {
  @include param-font(fnt, $fnt);
  color: param-text-color(txt, $txt);
  white-space: nowrap;
  display: inline-block;
  position: relative;
}

:host {
  &:active[data-state~="mobile"],
  &:hover[data-state~="desktop"] {
    #label {
      color: param-text-color(txth, $txth);
    }

    .top    .ribbon {
      border-top-color: param-border-color-alpha(bgh, $bgh);
    }

    .bottom .ribbon {
      border-left-color: param-border-color-alpha(bgh, $bgh);
    }

    .wrapper {
      background-color: param-border-color-alpha(bgh, $bgh);
    }
  }
}  


