@charset "UTF-8";

@import '../../../../components/src/main/mixins/components-base';
@import './button-common';

// ***************************************************************************************************************************************
// NOTE: *DO NOT* change the param names on existing skins (e.g. brd, shd, bg, etc) - the first argument passed to the param() functions. 
// these are saved in the site's data, changing them will break the site.
// you may give skin params any name you wish - but only in new components and their (new) skins.
// ***************************************************************************************************************************************
$brw: 0;
$brd: color_15;
$brdh: color_15;
$bg: color_17;
$bgh: color_18;
$txth: color_15;
$txt: color_15;
$rd: 5px;
$fnt: font_5;
$shd: 0 1px 4px rgba(0, 0, 0, .6);
$trans1: border-color .4s ease 0s, background-color .4s ease 0s;
$trans2: color .4s ease 0s;
$tdr: BASE_THEME_DIRECTORY;

#link {
  @include abs-distance(0);
  @include param-border-radius(rd, $rd);
  @include param-transition(trans1, $trans1);
  @include param-box-shadow(shd, $shd);
  background: param-bg-color(bg, $bg) param-url(tdr, $tdr, 'shiny1button_bg.png') 50% 50% repeat-x;
  border: solid param-border-color-alpha(brd, $brd) param-border-size(brw, $brw);
}

#label {
  @include param-font(fnt, $fnt);
  @include param-transition(trans2, $trans2);
  color: param-text-color(txt, $txt);
  display: inline-block;
  margin-top: calc(-1 * #{param-border-size(brw, $brw)});
  position: relative;
  white-space: nowrap;
}

[data-state~="shouldUseFlex"] #label {
  margin-top: 0;
}

[data-disabled="false"] {
  cursor: pointer !important;
  &:active[data-state~="mobile"],
  &:hover[data-state~="desktop"] {
    #link {
      @include param-transition(trans1, $trans1);
      background-color: param-bg-color(bgh, $bgh);
      border-color: param-border-color-alpha(brdh, $brdh);
    }

    #label {
      @include param-transition(trans2, $trans2);
      color: param-text-color(txth, $txth);
    }
  }
}

[data-disabled="true"] {
  #link {
    @include disabled-bg-color(bgd);
    @include disabled-border-color(brdd);
  }

  #label {
    @include disabled-text-color(txtd);
  }
}

