@charset "UTF-8";

@import '../../../../components/src/main/mixins/components-base';
@import './button-common';

// ***************************************************************************************************************************************
// NOTE: *DO NOT* change the param names on existing skins (e.g. brd, shd, bg, etc) - the first argument passed to the param() functions. 
// these are saved in the site's data, changing them will break the site.
// you may give skin params any name you wish - but only in new components and their (new) skins.
// ***************************************************************************************************************************************
$theme-directory: BASE_THEME_DIRECTORY;
$border-width: 0;
$border-color: color_15;
$hover-border-color: color_15;
$background-color: color_17;
$hover-background-color: color_18;
$hover-text-color: color_15;
$text-color: color_15;
$border-radius: 0;
$font: font_5;
$box-shadow: 0 1px 4px rgba(0, 0, 0, .6);
$transition: border-color .4s ease 0s, background-color .4s ease 0s;
$label-transition: color .4s ease 0s;

#link {
  @include param-border-radius(rd, $border-radius);
  @include abs-distance(0);
  background-color: param-bg-color(bg, $background-color);
  @include param-transition(trans1, $transition);
  @include param-box-shadow(shd, $box-shadow);
  border: solid param-border-color-alpha(brd, $border-color) param-border-size(brw, $border-width);
}

#label {
  @include param-font(fnt, $font);
  @include param-transition(trans2, $label-transition);
  color: param-text-color(txt, $text-color);
  display: inline-block;
  margin: calc(-1 * #{param-border-size(brw, $border-width)}) param-border-size(brw, $border-width) 0;
  position: relative;
  white-space: nowrap;
}

.shd {
  background: param-url(tdr, $theme-directory, 'liftedshadow_medium.png') no-repeat 0 0;
  bottom: -26px;
  height: 26px;
  left: -20px;
  position: absolute;
  width: 165px;
}

[data-disabled="false"] {
  cursor: pointer !important;

  &:active[data-state~="mobile"],
  &:hover[data-state~="desktop"] {
    #link {
      background-color: param-bg-color(bgh, $hover-background-color);
      border-color: param-border-color-alpha(brdh, $hover-border-color);
      @include param-transition(trans1, $transition);
    }

    #label {
      color: param-text-color(txth, $hover-text-color);
      @include param-transition(trans2, $label-transition);
    }
  }
}

[data-disabled="true"] {
  #link {
    @include disabled-bg-color(bgd);
    @include disabled-border-color(brdd);
  }

  #label {
    @include disabled-text-color(txtd);
  }
}
