@charset "UTF-8";

@import '../../../../components/src/main/mixins/components-base';
@import './button-common';

// ***************************************************************************************************************************************
// NOTE: *DO NOT* change the param names on existing skins (e.g. brd, shd, bg, etc) - the first argument passed to the param() functions.
// these are saved in the site's data, changing them will break the site.
// you may give skin params any name you wish - but only in new components and their (new) skins.
// ***************************************************************************************************************************************

$border-radius: 4px;
$shadowColor: 0, 0, 0, .2;
$shadowInsetColor: 0, 0, 0, .7;
$shadowInsetColorOver: 68, 175, 233, .7;
$borderColor: #5b8fa7;
$borderColorOver: #237aa7;
$bgColor: #2aa7ea;
$bgColorOver: #179ce1;
$labelColor: #ffffff;

:host {
  padding: 0 8px;
  border: 1px solid param-border-color(borderColor, $borderColor);
  @include param-border-radius(rd, $border-radius);
  background-color: param-bg-color(bgColor, $bgColor);
  position: relative;
  text-align: center;
  cursor: pointer;

  &:active[data-state~="mobile"],
  &:hover[data-state~="desktop"] {
    border: 1px solid param-border-color(borderColorOver, $borderColorOver);
    background: param-bg-color(bgColorOver, $bgColorOver) none;
    box-shadow: 0 2px 3px 0 param-box-shadow-color(shadowColor, $shadowColor), 0 1px 2px 0 param-box-shadow-color(shadowInsetColorOver, $shadowInsetColorOver) inset;
  }
}

#label {
  color: param-text-color(labelColor, $labelColor);
  height: 1.8em;
  line-height: 1.8em;
  display: inline-block;
}
