@charset "UTF-8";

@import '../../../../components/src/main/mixins/components-base';
@import './button-common';


// ***************************************************************************************************************************************
// NOTE: *DO NOT* change the param names on existing skins (e.g. brd, shd, bg, etc) - the first argument passed to the param() functions. 
// these are saved in the site's data, changing them will break the site.
// you may give skin params any name you wish - but only in new components and their (new) skins.
// ***************************************************************************************************************************************
$tdr: BASE_THEME_DIRECTORY;
$xxx: color_1;
$brd: color_5;
$brdh: color_6;
$bg: color_1;
$bgh: color_2;
$txth: color_6;
$txt: color_5;
$rd: 10px;
$rd2: 5px;
$fnt: font_5;



:host {
  @include param-border-radius(rd, $rd);
  background-color: mutate-bg-color-const(brd, alpha, .6, $brd);
}

.bg {
  @include param-border-radius(rd2, $rd2);
  background-color: param-bg-color(bg, $bg);
  position: absolute;
  top: 5px;
  bottom: 5px;
  left: 5px;
  right: 5px;
  background: param-bg-color(xxx, $xxx) param-url(tdr, $tdr, "net.png") center center repeat;
}

#link {
  @include abs-distance(0);
}

#label {
  position: relative;
  @include param-font(fnt, $fnt);
  color: param-text-color(txt, $txt);
  white-space: nowrap;
  padding: 15px;
}

[data-disabled="false"] {
  cursor: pointer;
  &:active[data-state~="mobile"],
  &:hover[data-state~="desktop"] {
    background-color: param-bg-color(brdh, $brdh);

    .bg {
      background-color: param-bg-color(bgh, $bgh);
    }

    #label {
      color: param-text-color(txth, $txth);
    }
  }
}

[data-disabled="true"] {
  @include disabled-border-color(brdd);

  .bg {
    @include disabled-bg-color(bgd);
  }

  #label {
    @include disabled-text-color(txtd);
  }
}