$shadowInsetColor: rgba(0, 0, 0, .6);
$shadowInsetColorOver: rgba(255, 255, 255, .7);
$shadowColor: rgba(0, 0, 0, .35);

.color-selector-button {
  width: 28px;
  height: 28px;
  overflow: hidden;
  position: relative;
  cursor: pointer;
  border-radius: 4px;
  border: 1px solid #c4c4c4;
  margin: 3px 2px;
  float: left;

  &:hover {
    border: 1px solid #89a4af;
    background: #f2f3f5 none;
    box-shadow: 0 2px 3px 0 $shadowColor, 0 1px 2px 0 $shadowInsetColorOver inset;
    padding: 0;
  }

  &:active {
    background: #d6d6d6;
    box-shadow: 0 2px 3px 0 $shadowInsetColor inset;
  }
}

.color-selector-button-selected {
  background: #d6d6d6;
  box-shadow: 0 2px 3px 0 $shadowInsetColor inset;
}

.color-selector-button-bg {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 23px;
  height: 22px;
  margin: -11px 0 0 -11px;
}

.color-selector-button-frame {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 25px;
  height: 25px;
  margin: -12px 0 0 -12px;
}

.color-selector-buttons-container {
  margin-top: 3px;
  width: 171px;
}

.color-selector-more-colors {
  display: block;
  text-align: right;
  overflow: hidden;
}

.color-selector-static-colors {
  margin-top: 14px;
}