@charset "UTF-8";

@import "../../skins/wix-sites-base";

// ***************************************************************************************************************************************
// NOTE: *DO NOT* change the param names on existing skins (e.g. brd, shd, bg, etc) - the first argument passed to the param() functions. 
// these are saved in the site's data, changing them will break the site.
// you may give skin params any name you wish - but only in new components and their (new) skins.
// ***************************************************************************************************************************************
$shd: 0 1px 4px rgba(0, 0, 0, .6);
$rd: 5px;
$tdr: WEB_THEME_DIRECTORY;

#tooltip {
  display: none;
  position: absolute;
  width: 400px;
  z-index: $zindex-area-tooltip-skin-tooltip;
  white-space: pre-line;
}

.highligthed {
  border: 1px dashed #35eaff;
}

#content {
  font-family: "Helvetica Neue", "HelveticaNeueW01-55Roma", "HelveticaNeueW02-55Roma", "HelveticaNeueW10-55Roma", Helvetica, Arial, sans-serif;
  font-size: 12px;
  line-height: 16px;
  @include param-border-radius(rd, $rd);
  @include param-box-shadow(shd, $shd);
  min-height: 10px;
  min-width: 10px;
  color: #656565;
  background: #fffedf;
  padding: 20px 10px;
  top: 0;
  left: 0;
  box-shadow: 0 1px 3px rgba(0, 0, 0, .25);
  border: 1px solid #999;
  background-image: linear-gradient(to top, rgba(207, 229, 250, .1) 0, #fff 10px);
  background-position: bottom;
  max-width: 400px;
  position: relative;
  display: inline-block;
  overflow: hidden;
}

.content.left {
  float: right;
}

#tooltip .arrow {
  position: absolute;
  bottom: -6px;
  left: 1px;
  width: 14px;
  height: 9px;
  background-repeat: no-repeat;
  background-image: param-url(tdr, $tdr, "light-arrows.png");
  background-position: -5px -5px;
}

#tooltip .arrow.right {
  top: 50%;
  height: 15px;
  left: -8px;
  margin-top: -6px;
  background-image: param-url(tdr, $tdr, "light-arrows.png");
  background-position: -29px -5px;
}

#tooltip .arrow.bottom {
  height: 15px;
  top: -2px;
  left: 8px;
  margin-top: -6px;
  background-image: param-url(tdr, $tdr, "light-arrows.png");
  background-position: -67px -5px;
}

#tooltip .arrow.left {
  top: 50%;
  height: 15px;
  right: -13px;
  left: auto;
  margin-top: -6px;
  background-image: param-url(tdr, $tdr, "light-arrows.png");
  background-position: -48px -5px;
}

:host {
  background-color: rgba(0, 0, 0, 0);
  zoom: 1;
  display: block;
}

p {
  display: block;
  margin: 0;
}

strong, b, i, big {
  font-size: 12px;
}

#tooltipArea {
  width: 100%;
  height: 100%;
  zoom: 1;
  display: block;
  position: absolute;
  background: param-url(tdr, $tdr, "transparent.gif") repeat;
}

