@charset "UTF-8";

@import '../../mixins/components-base';

@include exports("inputWithValidation:skin", "wysiwyg.viewer.skins.InputWithValidationSkin");

$bg-block: #555;
$bg: #fff;
$bg-border: #aaa;
$txt: #9c9c9c;
$tdr: BASE_THEME_DIRECTORY;

:host {
  width: 100%;
  height: 100%;
  z-index: $zindex-dialogs-host;
  font-size: 1em;
  color: param-text-color(txt, $txt);
}

[data-state~="mobile"] {
  width: 100%;
  height: 100%;
  z-index: $zindex-dialogs-mobile;
  font-size: 1em;
  overflow-y: scroll;
  color: param-text-color(txt, $txt);

  #dialog {
    width: 260px;
    left: calc(50% - 130px);
    position: absolute;
    padding: 10px;
    top: 20px;

    &:not(.responsive) .wrapper {
      padding: 10px 20px;
    }
  }

  .wrapper {
    padding: 10px 20px;
  }

  #title {
    font-size: 14px;
  }

  #infoTitle {
    font-size: 14px;
    margin-bottom: 18px;
  }

  #cancel {
    font-size: 14px;
    line-height: 30px;
  }

  #errMsg {
    height: 24px;
  }

  #submitButton {
    height: 36px;
    font-size: 14px;
  }
}

#blockingLayer {
  background-color: mutate-bg-color-const(bg-block, alpha, .75, $bg-block);
  position: fixed;
  @include distance(0);
  visibility: visible;
  zoom: 1;
  overflow: auto;
}


#dialog {

  //height is defined dynamically. we assume here that the height is MORE OR LESS 500px, hence we reduce half of it
  top: calc(50% - 250px);

  &:not(.responsive) {
    background-color: mutate-bg-color-const(bg-border, alpha, .7, $bg-border);
    width: 500px;
    left: calc(50% - 250px);
    position: fixed;
    padding: 20px;
    box-sizing: border-box;
    visibility: hidden; // always mounts with animation fadeIn, the animation will change it in the end to 'visible'

    .wrapper {
      background-color: param-bg-color(bg, $bg);
      width: 100%;
      height: 100%;
      padding: 20px 40px;
      box-sizing: border-box;
    }
  }
}



[data-state~="canBeClosed"] #xButton {
  position: absolute;
  top: -14px;
  right: -14px;
  cursor: pointer;
  background: transparent param-url(tdr, $tdr, "viewer_login_sprite.png") no-repeat right top;
  height: 30px;
  width: 30px;

  &:hover {
    background-position: right -80px;
  }
}

#note {
  font-size: 12px;
  text-align: right;
  padding-bottom: 10px;
  float: right;
  margin-right: 4px;
}

#switchDialogLink {
  font-size: 12px;
  color: #0198ff;
  border-bottom: 1px solid #0198ff;
  float: right;

  &:hover {
    color: #04f;
    border-bottom-color: #04f;
  }
}

#title {
  font-size: 25px;
  font-weight: bold;
  color: #555;
  padding-bottom: 15px;
}

#infoTitle {
  color: #0198ff;
  font-size: 18px;
  margin-bottom: 28px;
  margin-top: 10px;
  font-weight: normal;
}

.footer {
  width: 100%;
  padding-bottom: 30px;
}

[data-state~="canBeClosed"] .footer {
  padding-bottom: 10px;
}

#cancel {
  color: param-text-color(txt, $txt);
  font-size: 18px;
  text-decoration: underline;
  line-height: 36px;
  float: left;

  &:hover {
    color: #9c3c3c;
  }
}

#errMsg {
  font-size: 12px;
  color: #d74401;
  height: 34px;
  margin-top: 5px;
}


#submitButton {
  display: block;
  margin-left: auto;
  margin-right: 0;
  cursor: pointer;
  border: solid 2px #0064a8;
  height: 36px;
  width: 143px;
  background: transparent param-url(tdr, $tdr, "viewer_login_sprite.png") repeat-x right -252px;
  color: #fff;
  font-size: 24px;
  font-weight: bold;

  &:hover {
    background-position: right -352px;
    border-color: #004286;
  }
}

#description {
  float: none;
  font-size: 15px;
  font-weight: bold;
  line-height: 25px;
  color: #585858;
  margin-bottom: 10px;
}
