@charset "UTF-8";
@import '../../mixins/components-base';

$background-color: color_11;
$secondary-color: color_12;
$primary-color: color_15;
$color-error: #ff3d3d; // FIXME - set dynamically
$fntfmly: Helvetica;
$headingL: font_5;
$input-height: 48px;

@mixin normalize-font-line-height() {
  line-height: .8em;
}

.wrapper {
  background: transparent;
  color: param-color(clr, $primary-color);
  font-family: $fntfmly;
}

#contentWrapper {

  &.vertical {
    #socialLoginWrapper,
    #divider {
      display: none;
    }
  }

  &.horizontal {
    iframe {
      width: 100%;
    }

    #dummySocialButtons {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;

      &.hide {
        opacity: 0;
        position: absolute;
        width: 0;
        height: 0;
      }

      &.google {
        #googleButton {
          display: block;
        }
      }

      &.facebook {
        #facebookButton {
          display: block;
        }
      }
    }

    #facebookButton,
    #googleButton {
      display: none;
      height: $input-height;
      line-height: $input-height;
      width: 100%;
      font-family: $fntfmly;
      font-size: 14px;
      color: white;
      margin-bottom: 24px;
      font-weight: 300;
      cursor: pointer;

      &:hover {
        opacity: 0.9;
      }

      &.loading {
        background-color: grey;
      }
    }

    #facebookButton {
      background-color: #3b5998;
    }

    #googleButton {
      background-color: #e53935;
    }
  }

}

[data-state~="desktop"] {

  .wrapper {
    width: 450px;
    display: inline-block;
  }

  #contentWrapper {

    &.horizontal {
      width: 800px;
      display: flex;
      justify-content: space-between;
      margin: auto;

      .customLogin {
        width: 50%;
      }

      #divider {
        @include opacity(.3);
        border-right: 1px solid param-color(secondary-color, $secondary-color);
        margin: -20px 66px;
      }

      #socialLoginWrapper {
        position: relative;
        width: 50%;
      }
    }
  }

  #content {
    &.validationError input {
      border: 1px solid $color-error;
    }
  }

}

#blockingLayer {
  background-color: param-color(bg-clr, $background-color);
}

#dialog {
  box-sizing: content-box;
  position: fixed;
  width:100%;
  text-align: center;
}

[data-state~="canBeClosed"] #xButton {
  position: fixed;
  top: 60px;
  right: 60px;
  background: none;

  svg {
    width: 25px;
    height: 25px;
    stroke: param-color(clr, $primary-color);
    stroke-width: 15;
    cursor: pointer;
    pointer-events: none;
  }
}

#submitButton, #okButton {
  height: 44px;
  width: 100%;
  border: 0;
  font-size: 14px;
  font-weight: 300;
  line-height: 44px;
  padding: 0;
}

#dialogTitle, #title {
  @include param-font(headingL, $headingL);
  @include normalize-font-line-height();
  padding-top: 20px;
  font-weight: normal;
  font-size: 56px;
  text-align: center;
  padding-bottom: 0;
  color: param-color(clr, $primary-color);
}

#title.single {
  padding-bottom: 85px;
}

#dialogDescription, #subtitle {
  font-family: $fntfmly;
  font-size: 16px;
  line-height: 16px;
  font-weight: 300;
  color: param-color(clr, $primary-color);
  text-align: center;
}

#subtitle {
  margin-top: 24px;
  padding-bottom: 80px;
}

#dialogDescription {
  padding-bottom: 35px;
}

[data-state~="mobile"] {

  #content {
    &.validationError input {
      border-bottom: 1px solid $color-error;
    }
  }

  .wrapper {
    padding: 0 10px 20px;
  }

  #contentWrapper {

    &.horizontal {
      height: 275px;
      display: flex;
      flex-direction: column;
      align-items: center;

      #socialLoginWrapper {
        position: relative;
        width: 240px;
        margin-top: 10px;
        margin-bottom: 120px;
      }

      #switchToEmailLink {
        font-family: $fntfmly;
        font-size: 14px;
        line-height: 14px;
        text-decoration: underline;
      }

      #switchDialogLink,
      #note {
        float: none;
      }

      #email,
      #password,
      #retypePassword {
        & label {
          display: none;
        }
      }
    }

    @mixin hide() {
      display: none;
    }

    @mixin show() {
      width: 100%;
    }

    &.socialLoginMode {
      .customLogin {
        @include hide();
      }

      #socialLoginWrapper {
        @include show();
      }
    }

    &.emailLoginMode {
      .customLogin {
        @include show();
      }

      #socialLoginWrapper {
        @include hide();
      }
    }
  }

  #dialogTitle, #title {
    @include normalize-font-line-height();
  }

  #dialogTitle {
    font-size: 30px;
  }

  #title {
    font-size: 36px;

    &.single {
      padding-bottom: 50px;
    }
  }

  #dialog {
    padding: 0;
    top: calc(50% - 190px);
  }

  #dialogDescription, #subtitle {
    font-size: 14px;
    line-height: 14px;
  }

  #dialogDescription {
    padding-bottom: 12px;
  }

  #subtitle {
    margin-top: 18px;
    padding-bottom: 44px;
  }

  #okButton {
    height: 40px;
    line-height: 40px;
  }

  #rememberMeCheckbox {
    & ~ label .checkbox {
      .checkbox-bg {
        fill: none;
        stroke: param-color(clr, $primary-color);
        stroke-width: 2;
      }
    }
  }

  #forgotYourPasswordLinkMobile {
    font-size: 14px;
    line-height: 14px;
    padding-top: 24px;
  }

  .switchToSignUpContainer {
    padding-top: 60px;
  }

  &[data-state~="canBeClosed"] #xButton {
    position: fixed;
    z-index: 3;
    top: 30px;
    right: 30px;
    width: 20px;
    height: 20px;

    svg {
      width: 20px;
      height: 20px;
      stroke-width: 12px;
    }

    &#free {
      top: 60px;
    }

  }

  #switchToSocialLink {
    position: fixed;
    z-index: 3;
    top: 30px;
    left: 30px;

    svg {
      height: 20px;
      stroke-width: 12px;
    }

    &#free {
      top: 60px;
    }

    &.socialLoginMode {
      display: none;
    }

  }

  .switchDialogContainer {
    color: param-color(clr, $primary-color);
    font-size: 14px;

    #switchDialogLink {
      float: none;
      text-decoration: none;
    }

    #note {
      float: none;
    }
  }

}

#email, #password, #retypePassword {
  input {
    padding-left: 0;
    height: $input-height;
    font-size: 32px;
    line-height: 32px;

    background-color: mutate-color-alpha-const(input_bg, alpha, .07, $primary-color);
    border: none;
    border-radius: 0;
    -webkit-appearance: none;
    color: param-color(clr, $primary-color);
  }
}

[data-state~="mobile"] {
  #email, #password, #retypePassword {
    input {
      background: none;
      border: none;
      border-radius: 0;
      border-bottom: solid 1px;
      color: param-color(clr, $primary-color);
    }
  }

}

#switchDialogLink, #forgotYourPasswordLink, #note {
  font-family: $fntfmly;
  font-size: 14px; /* Approximation due to font substitution */
  line-height: 14px; /* Approximation due to font substitution */

  border: none;
  text-align: left;
}

.switchLinkContainer {
  padding-top: 13px;
}

#switchDialogLink, #forgotYourPasswordLink {
  color: param-color(clr, $primary-color);
  cursor: pointer;

  &:hover {
    color: param-color(clr, $primary-color);
    text-decoration: underline;
  }
}

#switchDialogLink {
  font-weight: bold;
}

#footer {
  padding-bottom: 0;
}

#note {
  font-weight: 300;
  color: param-color(clr, $primary-color);
}

#errMsg {
  height: 24px;
  margin-top: -24px;
  display: block;
  font-family: $fntfmly;
  font-size: 12px;
  line-height: 24px;
  font-weight: 300;
  color: $color-error;
  text-align: left;

  /* REFACTOR - submit button related */
  padding-top: 0;
}

#socialLoginErrorMsg {
  display: none;
  font-family: $fntfmly;
  font-size: 14px;
  line-height: 14px;
  font-weight: 300;
  color: $color-error;

  &.enabled {
    display: block;
  }
}

[data-state~="mobile"] {
  #errMsg {
    height: 20px;
    padding-bottom: 20px;
  }

  #socialLoginErrorMsg {
    margin-bottom: 30px;
  }
}

#checkboxWrapper {
  position: relative;

  #rememberMeCheckbox {
    float: left;
    margin-right: 14px;
    margin-top: 5px;
    margin-left: 0;
    width: 12px;
    position: relative;
    opacity: 0;
    cursor: pointer;

    & ~ label .checkbox {
      pointer-events: none;
      display: block;
      position: absolute;
      top: 0;
      left: 0;

      .checkbox-mark {
        fill: param-color(clr, $primary-color);
      }

      .checkbox-bg {
        fill: mutate-color-alpha-const(input_bg, alpha, .07, $primary-color);
        stroke: none;
      }

    }

    &:checked {
      ~ label.checked .checkbox {
        display: block;
      }
      ~ label.unchecked .checkbox {
        display: none;
      }
    }

    &:not(checked) {
      ~ label.checked .checkbox {
        display: none;
      }
      ~ label.unchecked .checkbox {
        display: block;
      }
    }
  }
}