@charset "UTF-8";

@import "../../skins/wix-sites-base";



// ***************************************************************************************************************************************
// NOTE: *DO NOT* change the param names on existing skins (e.g. brd, shd, bg, etc) - the first argument passed to the param() functions. 
// these are saved in the site's data, changing them will break the site.
// you may give skin params any name you wish - but only in new components and their (new) skins.
// ***************************************************************************************************************************************
$rd: 5px;
$dropShadow: 2px 2px 7px 0 #3f3f3f;
$trans1: max-height .5s ease-out 0s;
$tdr: BASE_THEME_DIRECTORY;
$fnt: font_1;
$txt: #3D3D3D;



:host {
  display: inline-block;
  text-align: left;
  cursor: pointer;
  color: param-text-color(txt, $txt);
  @include param-font(fnt, $fnt);
}

#options li {
  padding: 0 4px;
  line-height: 28px;
  @include param-border-radius(rd, $rd);
}

#options li:hover {
  background: #09f;
  color: #fff;
}

#options li.selected {
  display: none;
}

#options {
  position: absolute;
  top: 0;
  background: #fff;
  border: solid 1px #cfcfcf;
  @include param-border-radius(rd, $rd);
  @include param-box-shadow(dropShadow, $dropShadow);
  padding: 39px 5px 1px 5px;
  top: 0;
  height: 28px;
  max-height: 28px;
  width: 100%;
  overflow: hidden;
  @include opacity(0);
  @include param-transition(trans1, $trans1);
}

:host:hover #options {
  max-height: 1000px;
  height: auto;
  @include opacity(1);
}

#options:after {
  content: "";
  position: absolute;
  top: 31px;
  right: 5px;
  left: 5px;
  height: 2px;
  border-top: solid 1px #808080;
}

#select {
  line-height: 23px;
  padding: 4px 12px 4px 30px;
  width: 100%;
  height: 28px;
  box-sizing: border-box;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  position: absolute;
  top: 2px;
  left: 2px;
}

#select:before {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  top: 4px;
  left: 5px;
  background: transparent param-url(tdr, $tdr, "langs_dropdown_bg.png") -6px -5px no-repeat;
}

#select:after {
  content: "";
  position: absolute;
  width: 11px;
  height: 10px;
  top: 9px;
  right: 9px;
  background: transparent param-url(tdr, $tdr, "langs_dropdown_bg.png") -114px -10px no-repeat;
}

