//colors from ag-fresh theme
//will be removed/replaced with style guide
$dark-grey: #808080;
$medium-grey: #a9a9a9;
$light-grey: #d3d3d3;
$range-selected-1: rgba(234, 247, 255, 1);
$range-selected-2: rgba(80, 80, 80, .4);
$range-selected-3: rgba(40, 40, 40, .4);
$range-selected-4: rgba(0, 40, 40, .4);
$almost-black: #222;
$dark-green: #006400;
$dark-red: #8b0000;
$pastel-green: #cec;
$white: #fff;
$pastel-blue: #bde2e5;
$black: #000;
$off-white: #f6f6f6;


//colors from wix style guide
$y1: #ffc233;
$saving-error: #e6ab20;
$b1: #3899ec;
$d6: #fff;
$d1: #162d3d;
$d5: #f0f3f5;
$d2: #2b5672;
$d3: #7a92a5;
$b5: #eaf7ff;
$b3x: #d5d5d5;
$d4: #d9e1e8;
$b2: #4eb7f5;

//colors not in style guide but in sketches
$text-color: #2d4150;
$shadow: rgba(22, 45, 61, 0.42);


