@import "../colors";

:global {
  .ag-wix {
    color: $text-color;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 12px;
    line-height: 2;

    .ag-root {
      border: 1px solid $b3x;
    }

    .ag-cell {
      overflow: visible;
      padding: 0px;

      &.invalid {
        border-bottom: 2px solid red;

        &.ag-cell-focus {
          border: 2px solid red;
        }

        &.ag-cell-focus, &:hover {
          .cell-tooltip {
            display: block;
          }
        }

        /* The following 2 rules make sure that error tooltip is always above other cells and also that tooltip of
           focused cell is always above hovered cell. */
        &:hover {
          z-index: 2
        }

        &.ag-cell-focus {
          z-index: 3
        }
      }
    }

    .cell-tooltip {
      display: none;
    }


    .ag-popup-editor {
      background: $white;

      .cell-editor-wrapper {
        width: 100%;
        height: 100%;

        // During positioning of the editor in popup mode, agGrid checks if contents of the popup has width > 0
        // if not, it assumes magic constant of 200px for popup height
        // since we render React component after popup is attached to DOM, offsetTop of the popup ends up incorrect
        // this patch ensures min width and height of popup contents to address that issue
        min-width: 1px;
        min-height: 1px;
      }

      .cell-editor-input {
        width: 190px;
        height: 25px;
        border: none;
        outline: none;
        padding: 1px 3px;
      }

      .cell-editor-content {
        width: 190px;
        height: 25px;
        padding: 1px 3px;
      }
    }

    .ag-cell-not-inline-editing {
      padding: 0px;
    }

    .ag-cell-range-selected-1:not(.ag-cell-focus) {
      background-color: $b5;
    }

    .ag-cell-range-selected-2:not(.ag-cell-focus) {
      background-color: $range-selected-2;
    }

    .ag-cell-range-selected-3:not(.ag-cell-focus) {
      background-color: $range-selected-3;
    }

    .ag-cell-range-selected-4:not(.ag-cell-focus) {
      background-color: $range-selected-4;
    }

    .ag-column-moving {
      .ag-cell {
        transition: left .2s;
      }

      .ag-header-cell {
        transition: left .2s;
      }

      .ag-header-group-cell {
        transition: left .2s;
      }
    }

    .ag-cell-focus {
      border: 2px solid $b1;
      outline: none;
    }

    .ag-cell-no-focus {
      border-bottom: 1px solid $b3x;
      border-left: 1px solid transparent;
      border-right: 1px solid $b3x;
      border-top: 1px solid transparent;
    }

    .ag-cell-first-right-pinned {
      border-left: 1px solid $dark-grey;
    }

    .ag-cell-last-left-pinned {
      border-right: 1px solid $b3x;
    }

    .ag-cell-highlight {
      border: 1px solid $y1;
    }

    .ag-cell-highlight-animation {
      transition: border 1s;
    }

    .ag-value-change-delta {
      padding-right: 2px;
    }

    .ag-value-change-delta-up {
      color: $y1;
    }

    .ag-value-change-delta-down {
      color: $b2;
    }

    .ag-value-change-value {
      background-color: transparent;
      border-radius: 1px;
      padding-left: 1px;
      padding-right: 1px;
      transition: background-color 1s;
    }

    .ag-value-change-value-highlight {
      background-color: $pastel-green;
      transition: background-color .1s;
    }

    .ag-rich-select {
      background-color: $white;
      border: 1px solid $dark-grey;
      font-size: 14px;
    }

    .ag-rich-select-value {
      padding: 2px;
    }

    .ag-rich-select-list {
      border-top: 1px solid $light-grey;
    }

    .ag-rich-select-row {
      padding: 2px;
    }

    .ag-rich-select-row-selected {
      background-color: $pastel-blue;
    }

    .ag-large-text {
      border: 1px solid $dark-grey;
    }

    .ag-header {
      background: $d5;
      border-bottom: 1px solid $b3x;
      color: $d1;
      font-weight: normal;
    }

    .ag-header-icon {
      color: $black;
      fill: $black;
      stroke: none;
    }

    .ag-no-scrolls .ag-header-container {
      background: linear-gradient($white $light-grey);
      border-bottom: 1px solid $dark-grey;
    }

    .ag-header-cell {
      border-right: 1px solid $b3x;
    }

    .ag-header-cell-moving {
      background-color: $light-grey;

      .ag-header-cell-label {
        // empty
      }
    }

    .ag-header-group-cell {
      border-right: 1px solid $dark-grey;
    }

    .ag-header-group-cell-with-group {
      border-bottom: 1px solid $dark-grey;
    }

    .ag-header-cell-label {
      padding: 4px 2px;
    }

    .ag-header-cell-text {
      padding-left: 2px;
    }

    .ag-header-group-cell-label {
      padding: 4px;
      padding-left: 10px;
    }

    .ag-header-group-text {
      margin-right: 2px;
    }

    .ag-header-cell-menu-button {
      border: 1px solid transparent;
      border-radius: 3px;
      box-sizing: content-box; //When using bootstrap, box-sizing was set to 'border-box'
      line-height: 0; //normal line height, a space was appearing below the menu button
      padding: 2px;
      float: none;
      position: absolute;
      right: 6px;
      top: 7px;
    }

    .ag-header-cell-resize {
      float: none;
      position: absolute;
      right: 0;
      top: 0;
    }

    .ag-pinned-right-header {
      border-left: 1px solid $dark-grey;
    }

    .ag-header-cell-menu-button:hover {
      border: 1px solid $dark-grey;
    }

    .ag-body {
      .ag-body-container {
        margin-right: 35px;
        margin-bottom: 23px;
      }
    }

    .ag-row {
      transition: background-color .1s;
    }

    .ag-row-odd {
      background-color: $d6;
    }

    .ag-row-even {
      background-color: $d6;
    }

    .ag-row-selected {
      background-color: $pastel-blue;
    }

    .ag-floating-top .ag-row {
      background-color: $light-grey;
    }

    .ag-floating-bottom .ag-row {
      background-color: $light-grey;
    }

    .ag-overlay-loading-wrapper {
      // empty
    }

    .ag-overlay-loading-center {
      background-color: $white;
      border: 1px solid $dark-grey;
      border-radius: 10px;
      padding: 10px;
    }

    .ag-overlay-no-rows-center {
      background-color: $white;
      border: 1px solid $dark-grey;
      border-radius: 10px;
      padding: 10px;
    }

    .ag-group-cell-entire-row {
      background-color: $off-white;
      padding: 2px;
    }

    .ag-footer-cell-entire-row {
      background-color: $off-white;
      padding: 2px;
    }

    .ag-group-cell {
      font-style: italic;
    }

    .ag-group-expanded {
      padding-right: 4px;
    }

    .ag-group-contracted {
      padding-right: 4px;
    }

    .ag-group-value {
      padding-right: 2px;
    }

    .ag-group-checkbox {
      padding-right: 2px;
    }

    .ag-footer-cell {
      font-style: italic;
    }

    .ag-menu {
      background-color: $d6;
      border-radius: 8px;
      box-shadow: 0 0 14px 0 $shadow;
      cursor: default;
    }
    .ag-menu-list {
      min-width: 100px;
      cursor: pointer;
      display: flex;
      flex-direction: column;
    }

    .ag-menu-separator {
      border-top: 1px solid $light-grey;
    }

    .ag-menu-option {
      padding: 3px 0;

      &:hover:not(.ag-menu-option-disabled) {
        background-color: $b1;
        color: $d6;
      }

      &:first-child {
        border-radius: 8px 8px 0 0;
        padding-top: 9px;
      }

      &:last-child {
        border-radius: 0  0 8px 8px;
        padding-bottom: 9px;
      }
    }

    .ag-menu-option-active {
      // empty
    }

    .ag-menu-option-icon,
    .ag-menu-option-shortcut,
    .ag-menu-option-popup-pointer {
      display: none;
    }

    .ag-menu-option-text {
      padding: 0 24px;
      vertical-align: middle;
    }

    .ag-menu-option-disabled {
      filter: alpha(opacity = 50);
      opacity: .5;
    }

    .ag-menu-column-select-wrapper {
      margin: 2px;
    }

    .ag-tab-header {
      background-color: $d5;
      border-radius: 8px 8px 0 0;
      display: flex;
    }

    .ag-tab {
      margin: 2px 2px 0;
      padding: 6px 8px;
    }

    .ag-tab-selected {
      background-color: $d6;
      border: 0;
      margin: 0;

      &:first-child {
        border-radius: 8px 0 0;
      }
    }

    .ag-filter-checkbox {
      left: 2px;
      position: relative;
      top: 2px;
    }

    .ag-filter-header-container {
      border-bottom: 1px solid $light-grey;
    }

    .ag-filter-apply-panel {
      border-top: 1px solid $light-grey;
      padding: 2px;
    }

    .ag-filter-value {
      margin-left: 4px;
    }

    .ag-selection-checkbox {
      padding-right: 4px;
    }

    .ag-paging-panel {
      padding: 4px;
    }

    .ag-paging-button {
      margin-left: 4px;
      margin-right: 4px;
    }

    .ag-paging-row-summary-panel {
      display: inline-block;
      width: 300px;
    }

    .ag-tool-panel {
      background-color: $off-white;
      border-bottom: 1px solid $dark-grey;
      border-right: 1px solid $dark-grey;
      border-top: 1px solid $dark-grey;
      color: $almost-black;

      .ag-column-select-panel {
        border-bottom: 1px solid $dark-grey;
      }
    }

    .ag-status-bar {
      background-color: $off-white;
      border-bottom: 1px solid $dark-grey;
      border-left: 1px solid $dark-grey;
      border-right: 1px solid $dark-grey;
      color: $almost-black;
      font-size: 14px;
      height: 22px;
      padding: 2px;
    }

    .ag-status-bar-aggregations {
      float: right;
    }

    .ag-status-bar-item {
      padding-left: 10px;
    }

    .ag-column-drop-cell {
      background: linear-gradient($white, $light-grey);
      border: 1px solid $dark-grey;
      color: $white;
    }

    .ag-column-drop-cell-ghost {
      filter: alpha(opacity = 50);
      opacity: .5;
    }

    .ag-column-drop-cell-text {
      padding-left: 2px;
      padding-right: 2px;
    }

    .ag-column-drop-cell-button {
      border: 1px solid transparent;
      border-radius: 3px;
      padding-left: 2px;
      padding-right: 2px;
    }

    .ag-column-drop-cell-button:hover {
      border: 1px solid $dark-grey;
    }

    .ag-column-drop-empty-message {
      color: $dark-grey;
      padding-left: 2px;
      padding-right: 2px;
    }

    .ag-column-drop-icon {
      padding-right: 4px;
    }

    .ag-column-drop {
      background-color: $off-white;
    }

    .ag-column-drop-horizontal {
      border-left: 1px solid $dark-grey;
      border-right: 1px solid $dark-grey;
      border-top: 1px solid $dark-grey;
      padding: 4px;

      .ag-column-drop-cell {
        padding: 2px;
      }
    }

    .ag-column-drop-vertical {
      border-bottom: 1px solid $dark-grey;
      padding: 4px 4px 10px;

      .ag-column-drop-cell {
        margin-top: 2px;
      }

      .ag-column-drop-empty-message {
        padding: 5px;
        text-align: center;
      }
    }

    .ag-pivot-mode {
      background-color: $off-white;
      border-bottom: 1px solid $dark-grey;
      padding: 4px;
    }

    .ag-select-agg-func-popup {
      background-color: $white;
      border: 1px solid $dark-grey;
      cursor: default;
      font-size: 14px;
      position: absolute;
    }

    .ag-select-agg-func-item {
      padding-left: 2px;
      padding-right: 2px;
    }

    .ag-select-agg-func-item:hover {
      background-color: $pastel-blue;
    }

    .row-column {
      background: $d5;
      color: $d1;
      text-align: center;
      text-overflow: clip;

      &.ag-cell-focus {
        border-right: 2px solid $b1;
      }

      &.row-selected {
        background: #d9e1e8;
      }
    }
  }
}
