@charset "UTF-8";

@import '../../../../components/src/main/mixins/components-base';

// ***************************************************************************************************************************************
// NOTE: *DO NOT* change the param names on existing skins (e.g. brd, shd, bg, etc) - the first argument passed to the param() functions.
// these are saved in the site's data, changing them will break the site.
// you may give skin params any name you wish - but only in new components and their (new) skins.
// ***************************************************************************************************************************************
$tdr: BASE_THEME_DIRECTORY;

.brd {
  background-image: param-url(tdr, $tdr, "sloppyframe.png");
  background-repeat: no-repeat;
  @include abs-distance(0);
}

.one {
  background-position: 0 0;
  bottom: 3px;
  right: 3px;
}

.two {
  background-position: 100% 100%;
  top: 3px;
  left: 3px;
}

#videoFrame {
  @include abs-distance(9px);
  display: block;
}

iframe {
  width: 100% !important;
  height: 100% !important;
}

.hidden {
  display: none !important;
}
