.DS_Store
Thumbs.db
*.log
*.iml
*.ipr
*.iws
.idea
.svn
target/
.idea/
src/test/framework/
src/main/index*
src/test/index*
src/test/generated/
tags
History.md
test/deployment/
src/main/index*.json
src/test/*debug.json
node_modules/
src/main/javascript/bootstrap.debug.js
JasmineAdapter-1.1.2.js
jasmine-1.1.0.js