@charset "UTF-8";

@import '../../../../components/src/main/mixins/components-base';


@include exports("enterPasswordDialog:skin", "wysiwyg.viewer.skins.dialogs.enterPasswordDialogSkin");
// ***************************************************************************************************************************************
// NOTE: *DO NOT* change the param names on existing skins (e.g. brd, shd, bg, etc) - the first argument passed to the param() functions.
// these are saved in the site's data, changing them will break the site.
// you may give skin params any name you wish - but only in new components and their (new) skins.
// ***************************************************************************************************************************************
$txth: color_1;
$txt: color_15;
$fnt: font_9;
$trans: color .4s ease 0s;

#link {
  @include abs-distance(0);
  text-align: center;
}

#label {
  @include param-font(fnt, $fnt);
  color: param-text-color(txt, $txt);
  white-space: nowrap;
  @include param-transition(trans, $trans);
}

a:hover span {
  color: param-text-color(txth, $txth);
  @include param-transition(trans, $trans);
}
