@import '../../../../components/src/main/mixins/components-base';

// ***************************************************************************************************************************************
// NOTE: *DO NOT* change the param names on existing skins (e.g. brd, shd, bg, etc) - the first argument passed to the param() functions. 
// these are saved in the site's data, changing them will break the site.
// you may give skin params any name you wish - but only in new components and their (new) skins.
// ***************************************************************************************************************************************
$fade_prev: opacity .5s ease 0s;
$fade_next: opacity .1s ease 0s;

#link {
  position: relative;
  display: block;
  z-index: $zindex-rssbutton-skin-link;
  overflow: visible;
  touch-action: none;
  user-select: none;
  @include tap-highlight-color(rgba(0, 0, 0, 0));
}

#link:after {
  content: "";
  position: absolute;
  z-index: $zindex-rssbutton-skin-link-after;
  width: 100%;
  height: 100%;
  display: block;
}

.correct-positioning{
  position: absolute;
}

#image {
  position: absolute;
  @include opacity(1);
}

#hoverImage {
  position: absolute;
  @include opacity(0);
}

#activeImage {
  position: absolute;
  @include opacity(0);
}

[data-state~="hovered"] #image {
  @include opacity(0);
}

[data-state~="hovered"] #hoverImage {
  @include opacity(1);
}

[data-state~="hovered"] #activeImage {
  @include opacity(0);
}

[data-state~="pressed"] #image {
  @include opacity(0);
}

[data-state~="pressed"] #hoverImage {
  @include opacity(0);
}

[data-state~="pressed"] #activeImage {
  @include opacity(1);
}

[data-state~="transition_fade"] {
  &[data-state~="prepare_adh"] #image,
  &[data-state~="prepare_ahd"] #hoverImage,
  &[data-state~="prepare_dah"] #activeImage,
  &[data-state~="prepare_dha"] #hoverImage,
  &[data-state~="prepare_had"] #activeImage,
  &[data-state~="prepare_hda"] #image {
    z-index: $zindex-rssbutton-skin-transition-fade-image;
    @include param-transition(fade_next, $fade_next);
  }

  &[data-state~="prepare_adh"] #activeImage,
  &[data-state~="prepare_ahd"] #activeImage,
  &[data-state~="prepare_dah"] #image,
  &[data-state~="prepare_dha"] #image,
  &[data-state~="prepare_had"] #hoverImage,
  &[data-state~="prepare_hda"] #hoverImage,
  &[data-state~="prepare_adh"] #hoverImage {
    z-index: $zindex-rssbutton-skin-prepare-adh-hover-image;
    @include param-transition(fade_prev, $fade_prev);
  }

  &[data-state~="prepare_ahd"] #image,
  &[data-state~="prepare_dah"] #hoverImage,
  &[data-state~="prepare_dha"] #activeImage,
  &[data-state~="prepare_had"] #image,
  &[data-state~="prepare_hda"] #activeImage {
    z-index: $zindex-rssbutton-skin-prepare-adh-active-image;
    @include param-transition(fade_prev, $fade_prev);
  }
}

@include exports("image:skin", "skins.core.ImageNewSkin");