@charset "UTF-8";

@import '../../mixins/components-base';



// ***************************************************************************************************************************************
// NOTE: *DO NOT* change the param names on existing skins (e.g. brd, shd, bg, etc) - the first argument passed to the param() functions. 
// these are saved in the site's data, changing them will break the site.
// you may give skin params any name you wish - but only in new components and their (new) skins.
// ***************************************************************************************************************************************
$bg: #404040;
$rd1: 0 0 6px 6px;
$rd2: 6px 6px 0 0;
$tdr: BASE_THEME_DIRECTORY;
$trans: all .3s ease-in-out;



:host {
  cursor: pointer;
  height: 40px;
}

#topRect {
  background-color: param-bg-color(bg, $bg);
  @include param-border-radius(rd1, $rd1);
  height: 26px;
  position: fixed;
  right: 50px;
  top: 0;
  overflow: hidden;
  @include param-transition(trans, $trans);
}

#topRect:hover {
  height: 97px;
  background-color: rgba(50,50,50,.8);
}

#topRectLabel {
  padding: 6px;
  font-size: 13px;
  line-height: 1.3em;
  color: #fff;
}

#topRectLabel .face {
  font-weight: bold;
}

#topRect:hover #topRectLabel {
  background-color: #222;
}

#topRect #topRectLabel .smallMusa {
  display: inline-block;
  text-indent: -9999px;
  width: 16px;
  height: 16px;
  margin-right: 5px;
  background-image: param-url(tdr, $tdr, "wixads/wf_label_static.png");
  background-repeat: no-repeat;
  background-position: 0% 0%;
}

#topRect #topRectLabel .face .smallMusa {
  margin-right: 8px;
}

#topRect #topRectLabel .smallLogo {
  display: inline-block;
  text-indent: -9999px;
  width: 29px;
  height: 16px;
  background-image: param-url(tdr, $tdr, "wixads/wf_label_static.png");
  background-repeat: no-repeat;
  background-position: -16px top;
}

#topRectContent {
  font-size: 13px;
  line-height: 1.3em;
  color: #ffffff;
  font-weight: bold;
  line-height: 18px;
  text-align: justify;
  padding: 5px 10px;
  width: 100%;
}

#topRectContent .spacer {
  line-height: 26px;
}

#topRectContent .emphasis {
  color: #ffcc00;
}

#topRectContent .cap {
  font-size: 16px;
  line-height: 1.3em;
  text-transform: uppercase;
}

#topRectContent .face {
  display: block;
  line-height: 18px;
  text-align: justify;
  padding: 0 20px;
  width: 120px;
}

#footerLabel {
  position: fixed;
  bottom: 0;
  width: 100%;
}

#footerLabel .adFootBox {
  height: 40px;
  width: 100%;
  text-align: center;
}

#footerLabel .siteBanner {
  background-color: param-bg-color(bg, $bg);
  @include param-border-radius(rd2, $rd2);
  width: 100%;
  height: 100%;
  text-align: center;
}

#footerLabel:hover .faceBanner, #footerLabel:hover .siteBanner {
  background-color: #222;
}

#footerLabel .siteBanner .wrapper {
  padding: 5px 0;
}

#footerLabel .siteBanner .wrapper div {
  display: inline-block;
  height: 30px;
}

#footerLabel .bigMusa {
  text-indent: -9999px;
  width: 36px;
  background: param-url(tdr, $tdr, "wixads/wf_label_static.png")left bottom no-repeat;
  position: relative;
  top: -19px;
}

#footerLabel .logoDot {
  text-indent: -9999px;
  width: 39px;
  height: 15px;
  position: relative;
  top: -4px;
  margin: 0 5px;
  background: param-url(tdr, $tdr, "wixads/wf_label_static.png") right -17px no-repeat;
}

#footerLabel .emphasis {
  color: #ffcc00;
  font-size: 16px;
  text-transform: uppercase;
}

#footerLabel .txt {
  color: #fff;
  font-weight: bold;
  font-size: 15px;
}

#footerLabel .siteBanner .txt {
  line-height: 47px;
}

#footerLabel .faceBanner {
  background-color: param-bg-color(bg, $bg);
  width: 500px;
  height: 100%;
  margin: 0 auto;
  @include param-border-radius(rd2, $rd2);
  padding: 5px 0 0 0;
}

#footerLabel .faceBanner div {
  display: inline-block;
  height: 30px;
}

#footerLabel .faceBanner .txt {
  color: #fff;
  font-weight: bold;
  font-size: 15px;
  text-align: justify;
  margin: -2px 10px 0 19px;
}

#footerLabel .faceBanner .logoDot {
  position: static;
  margin: 0 3px;
}

#footerLabel .faceBanner .emphasis {
  font-weight: bold;
  position: relative;
  top: -6px;
}

