@charset "UTF-8";

@import '../../../../components/src/main/mixins/components-base';
@import 'mixins/displayerMixins';

// ***************************************************************************************************************************************
// NOTE: *DO NOT* change the param names on existing skins (e.g. brd, shd, bg, etc) - the first argument passed to the param() functions.
// these are saved in the site's data, changing them will break the site.
// you may give skin params any name you wish - but only in new components and their (new) skins.
// ***************************************************************************************************************************************
$bgh: color_15;
$ttl: color_18;
$txt: color_18;
$rd: 2px;
$shd: 0 2px 5px rgba(0, 0, 0, .53);
$ishd: rgba(255, 255, 255, 0.59) 0px 0px 6px 0px inset, rgba(255, 255, 255, 0.92) 0px 1px 0px 0px inset, rgba(255, 255, 255, 0.2) 0px 0px 5px 0px inset;
$fntt: font_6;
$fntds: font_8;
$brw: 12px;
$trans: opacity .4s ease 0s;
$tdr: BASE_THEME_DIRECTORY;

@include exports(imageWrapperBottom, -12);
@include exports(imageWrapperTop, -12);
@include exports(imageWrapperRight, -12);
@include exports(imageWrapperLeft, -12);

@include define-mapped-param(contentPaddingLeft, brw);
@include define-mapped-param(contentPaddingRight, brw);
@include define-mapped-param(contentPaddingBottom, brw);
@include define-mapped-param(contentPaddingTop, brw);

@include exports("image:skin", "skins.core.ImageSkin");

#imageWrapper {
  @include abs-distance(0);
  @include param-box-shadow(shd, $shd);
  @include param-border-radius(rd, $rd);
  border: param-border-size(brw, $brw) solid transparent;
  background-image: param-url(tdr, $tdr, "ironpatern.png");
  box-sizing: border-box;
}

.screw {
  display: inline-block;
  background: param-url(tdr, $tdr, "skrew.png") no-repeat;
  width: 15px;
  height: 15px;
}

.screw-bl,
.screw-br,
.screw-tl,
.screw-tr {
  position: absolute;
}

.screw-tl {
  top: -7px;
  left: -7px;
}

.screw-tr {
  top: -7px;
  right: -7px;
}

.screw-bl {
  bottom: -7px;
  left: -7px;
}

.screw-br {
  bottom: -7px;
  right: -7px;
}

.boxShadow {
  @include param-box-shadow(ishd, $ishd);
  @include param-border-radius(rd, $rd);
  @include abs-distance(-12px);
}

#image {
  @include param-border-radius(rd, $rd);
}

#zoom {
  @include abs-distance(0);
  background: param-bg-color(bgh, $bgh);
  @include param-border-radius(rd, $rd);
  padding: 0 10%;
  @include opacity(0);
  overflow: hidden;
}

#title {
  @include param-font(fntt, $fntt);
  color: param-text-color(ttl, $ttl);
  white-space: nowrap;
  padding-top: 10%;
}

#description {
  color: param-text-color(txt, $txt);
  @include param-font(fntds, $fntds);
  white-space: normal;
}

#link {
  color: param-text-color(txt, $txt);
  @include param-font(fntds, $fntds);
  position: absolute;
  bottom: 10px;
  text-decoration: underline !important;
  white-space: nowrap;
}

@include align-states();

[data-state~="noLink"] #link {
  display: none;
}

:host:hover #zoom {
  @include opacity(1);
}
