@charset "UTF-8";

@import '../../../../components/src/main/mixins/components-base';
@import 'mixins/displayerMixins';
@include displayer-text-overflow;

// ***************************************************************************************************************************************
// NOTE: *DO NOT* change the param names on existing skins (e.g. brd, shd, bg, etc) - the first argument passed to the param() functions.
// these are saved in the site's data, changing them will break the site.
// you may give skin params any name you wish - but only in new components and their (new) skins.
// ***************************************************************************************************************************************
$bg: color_15;
$txt: color_11;
$s: brw;
$ishd: rgba(255, 255, 255, 0.4) 0px 0px 6px 0px inset, rgba(255, 255, 255, 0.701961) 0px 1px 0px 0px inset, rgba(255, 255, 255, 0.2) 0px 0px 5px 0px inset;
$brw: 15px;
$fntt: font_6;
$fntds: font_8;
$rd: 2px;
$trns: opacity .5s ease 0s;
$tdr: BASE_THEME_DIRECTORY;
$image-wrapper-bottom: 140px;
$image-wrapper-top: 12px;
$image-wrapper-right: 12px;
$image-wrapper-left: 12px;

@include define-mapped-param(s, brw);
@include exports(imageWrapperBottom, 12);
@include exports(imageWrapperTop, 12);
@include exports(imageWrapperRight, 12);
@include exports(imageWrapperLeft, 12);
@include exports('image:skin', 'skins.core.ImageSkin');

#imageWrapper {
  position: absolute;
}

.imgBorder {
  @include param-border-radius(rd, $rd);
  @include param-box-shadow(ishd, $ishd);
  background-image: param-url(tdr, $tdr, "ironpatern.png");
  border-bottom: 0 solid transparent;
  height: 100%;
  width: 100%;
}

#zoom {
  position: absolute;
  top: param-top(imageWrapperTop, $image-wrapper-top) !important;
  right: param-right(imageWrapperRight, $image-wrapper-right) !important;
  bottom: param-bottom(imageWrapperBottom, $image-wrapper-bottom) !important;
  left: param-left(imageWrapperLeft, $image-wrapper-left) !important;
}

#panel {
  background-color: param-bg-color(bg, $bg);
  border-bottom: 1px solid rgba(255, 255, 255, .1);
  border-radius: 5px;
  border-top: 1px solid #191919;
  bottom: 12px;
  height: 92px;
  left: 12px;
  min-height: 18px;
  overflow: hidden;
  padding: 11px 15px 10px;
  position: absolute;
  right: 12px;
}

.screw {
  display: inline-block;
  background: param-url(tdr, $tdr, "skrew.png") no-repeat;
  width: 15px;
  height: 15px;
}

.screw-tl,
.screw-tr,
.screw-bl,
.screw-br {
  position: absolute;
}

.screw-tl {
  top: 5px;
  left: 5px;
}

.screw-tr {
  top: 5px;
  right: 5px;
}

.screw-bl {
  bottom: 135px;
  left: 5px;
}

.screw-br {
  bottom: 135px;
  right: 5px;
}

#title {
  @include param-font(fntt, $fntt);
  color: param-text-color(txt, $txt);
}

#description {
  @include param-font(fntds, $fntds);
  color: param-text-color(txt, $txt);
  max-height: 50px;
}

#link {
  @include param-font(fntds, $fntds);
  color: param-text-color(txt, $txt);
  margin-top: 5px;
}

[data-state~="link"] #link {
  text-decoration: underline;
  cursor: pointer;
  @include param-font(fntds, $fntds);
  color: param-text-color(txt, $txt);
}

[data-state~="noLink"] #link {
  display: none;
}
