@charset "UTF-8";

@import '../../../../components/src/main/mixins/components-base';
@import 'mixins/displayerMixins';
@include displayer-text-overflow;



// ***************************************************************************************************************************************
// NOTE: *DO NOT* change the param names on existing skins (e.g. brd, shd, bg, etc) - the first argument passed to the param() functions.
// these are saved in the site's data, changing them will break the site.
// you may give skin params any name you wish - but only in new components and their (new) skins.
// ***************************************************************************************************************************************
$bgh: color_17;
$bg: color_11;
$ttl: color_15;
$txt: color_15;
$fntt: font_6;
$fntds: font_8;
$tdr: BASE_THEME_DIRECTORY;
$trans: opacity .4s ease 0s;

@include exports("image:skin", "skins.core.ImageSkin");

:host {
  background: param-bg-color(bg, $bg);
}

:host:before {
  content: "";
  background-repeat: no-repeat;
  position: absolute;
  z-index: $zindex-gallery-matrix-displayer-sloppy-host-before;
  top: -5px;
  left: -5px;
  bottom: 0;
  right: 0;
  background: param-url(tdr, $tdr, "sloppyframe.png");
  background-position: 0 0;
}

:host:after {
  content: "";
  background-repeat: no-repeat;
  position: absolute;
  z-index: $zindex-gallery-matrix-displayer-sloppy-host-after;
  top: 0;
  left: 0;
  bottom: -5px;
  right: -5px;
  background: param-url(tdr, $tdr, "sloppyframe.png");
  background-position: 100% 100%;
}

#zoom {
  position: absolute;
  top: 4px;
  bottom: 4px;
  left: 4px;
  right: 4px;
  background: param-bg-color(bgh, $bgh);
  padding: 10px;
  @include opacity(0);
  @include param-transition(trans, $trans);
  overflow: hidden;
  z-index: $zindex-gallery-matrix-displayer-sloppy-zoom;
}

#title {
  @include param-font(fntt, $fntt);
  color: param-text-color(ttl, $ttl);
  white-space: nowrap;
}

#description {
  color: param-text-color(txt, $txt);
  @include param-font(fntds, $fntds);
}

#link {
  color: param-text-color(txt, $txt);
  @include param-font(fntds, $fntds);
  position: absolute;
  left: 10px;
  right: 10px;
  bottom: 10px;
  text-decoration: underline !important;
  white-space: nowrap;
  z-index: $zindex-gallery-matrix-displayer-sloppy-link;
}

[data-state~="alignLeft"] #title {
  text-align: left;
}

[data-state~="alignCenter"] #title {
  text-align: center;
}

[data-state~="alignRight"] #title {
  text-align: right;
}

[data-state~="alignLeft"] #description {
  text-align: left;
}

[data-state~="alignCenter"] #description {
  text-align: center;
}

[data-state~="alignRight"] #description {
  text-align: right;
}

[data-state~="alignLeft"] #link {
  text-align: left;
}

[data-state~="alignCenter"] #link {
  text-align: center;
}

[data-state~="alignRight"] #link {
  text-align: right;
}

[data-state~="noLink"] #link {
  display: none;
}

:host:hover #zoom {
  @include opacity(1);
  @include param-transition(trans, $trans);
}
