@charset "UTF-8";

@import '../../../../components/src/main/mixins/components-base';
@import 'mixins/displayerMixins';

// ***************************************************************************************************************************************
// NOTE: *DO NOT* change the param names on existing skins (e.g. brd, shd, bg, etc) - the first argument passed to the param() functions.
// these are saved in the site's data, changing them will break the site.
// you may give skin params any name you wish - but only in new components and their (new) skins.
// ***************************************************************************************************************************************
$img-height-diff: 80px;
$brw: 0;
$padding-size: 0;
$rd: 0;
$bgh: color_17;
$brd: color_15;
$ttl: color_15;
$txt: color_15;
$lnk: color_15;
$fntt: font_6;
$fntds: font_8;
$trans: opacity .4s ease 0s;

@include define-mapped-param(imageWrapperBottom, brw);
@include define-mapped-param(imageWrapperTop, brw);
@include define-mapped-param(imageWrapperRight, brw);
@include define-mapped-param(imageWrapperLeft, brw);

@include exports("customDiff", "panel");
@include exports("heightDiff", 80);
@include exports("m_heightDiff", 40);
@include exports("image:skin", "skins.core.ImageSkin");

:host {
  @include abs-distance(0);
  @include param-border-radius(rd, $rd);
  overflow: hidden;
}

#imageWrapper {
  @include abs-distance(0);
  @include param-border-radius(rd, $rd);
}

.imgBorder {
  @include abs-distance(0);
  @include param-border-radius(rd, $rd);
  border: param-border-color-alpha(brd, $brd) solid param-border-size(brw, $brw);
}

#image {
  @include param-border-radius(rd, $rd);
}

#zoom {
  @include abs-distance(param-size(brw, $brw));
  background: param-bg-color(bgh, $bgh);
  @include param-border-radius(rd, $rd);
  @include opacity(0);
  @include param-transition(trans, $trans);
}

#title {
  @include param-font(fntt, $fntt);
  color: param-text-color(ttl, $ttl);
  white-space: nowrap;
  display: block;
  line-height: normal;
}

#description {
  color: param-text-color(txt, $txt);
  @include param-font(fntds, $fntds);
  display: block;
  line-height: normal;
}

#link {
  @include param-font(fntds, $fntds);
  display: block;
  color: param-text-color(lnk, $lnk);
}

.panel {
  height: param-height(imgHeightDiff, $img-height-diff);
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  box-sizing: border-box;
}

.panelWrap {
  position: absolute;
  left: param-margin-size(paddingSize, $padding-size);
  right: param-margin-size(paddingSize, $padding-size);
  top: mutate-size-param(paddingTop, increase, 3, paddingSize);
  bottom: mutate-size-param(paddingBottom, increase, 20, paddingSize);
}

a {
  position: absolute;
  left: param-margin-size(paddingSize, $padding-size);
  right: param-margin-size(paddingSize, $padding-size);
  bottom: param-margin-size(paddingSize, $padding-size);
  overflow: hidden;
  text-decoration: underline !important;
}

@include align-states();

[data-state~="noLink"] #link {
  display: none;
}

[data-state~="noLink"] .panelWrap {
  bottom: param-margin-size(paddingSize, $padding-size);
}

:host:hover #zoom {
  @include opacity(1);
  @include param-transition(trans, $trans);
}
