@charset "UTF-8";

@import '../../../../components/src/main/mixins/components-base';
@import 'mixins/displayerMixins';
@include displayer-text-overflow;

// ***************************************************************************************************************************************
// NOTE: *DO NOT* change the param names on existing skins (e.g. brd, shd, bg, etc) - the first argument passed to the param() functions.
// these are saved in the site's data, changing them will break the site.
// you may give skin params any name you wish - but only in new components and their (new) skins.
// ***************************************************************************************************************************************
$brd: color_15;
$bgh: color_11;
$ttl: color_15;
$txt: color_15;
$brw: 0;
$s: brw;
$rd: 0;
$fntt: font_6;
$fntds: font_8;
$tdr: BASE_THEME_DIRECTORY;
$trans: opacity .4s ease 0s;

@include define-mapped-param(imageWrapperBottom, brw);
@include define-mapped-param(imageWrapperTop, brw);
@include define-mapped-param(imageWrapperRight, brw);
@include define-mapped-param(imageWrapperLeft, brw);
@include exports("image:skin", "skins.core.ImageSkin");

#imageWrapper,
.imgBorder {
  @include abs-distance(0);
}

.imgBorder {
  @include param-border-radius(rd, $rd);
  border: solid param-border-size(brw, $brw) param-border-color-alpha(brd, $brd);
  background: param-border-color-alpha(brd, $brd);

  &:before,
  &:after {
    content: "";
    position: absolute;
    width: 165px;
    height: 26px;
    bottom: calc(-1 * #{mutate-size-param(s, increase, 26, brw)});
    background: param-url(tdr, $tdr, "liftedshadow_medium.png") no-repeat;
  }

  &:before {
    left: -15px;
    background-position: 0 0;
  }

  &:after {
    right: -15px;
    background-position: 100% 0;
  }
}

#image {
  @include param-border-radius(rd, $rd);
}

#zoom {
  @include abs-distance(0);
  background: param-bg-color(bgh, $bgh);
  @include param-border-radius(rd, $rd);
  padding: 10px;
  @include opacity(0);
  @include param-transition(trans, $trans);
  overflow: hidden;
}

#title {
  @include param-font(fntt, $fntt);
  color: param-text-color(ttl, $ttl);
  white-space: nowrap;
}

#description {
  color: param-text-color(txt, $txt);
  @include param-font(fntds, $fntds);
}

#link {
  color: param-text-color(txt, $txt);
  @include param-font(fntds, $fntds);
  position: absolute;
  left: 10px;
  right: 10px;
  bottom: 10px;
  text-decoration: underline !important;
  white-space: nowrap;
}

@include align-states();

[data-state~="noLink"] #link {
  display: none;
}

:host:hover #zoom {
  @include opacity(1);
  @include param-transition(trans, $trans);
}
