@charset "UTF-8";

@import '../../../../components/src/main/mixins/components-base';



// ***************************************************************************************************************************************
// NOTE: *DO NOT* change the param names on existing skins (e.g. brd, shd, bg, etc) - the first argument passed to the param() functions.
// these are saved in the site's data, changing them will break the site.
// you may give skin params any name you wish - but only in new components and their (new) skins.
// ***************************************************************************************************************************************
$bg: color_11;
$bgh: color_6;
$txth: color_15;
$fnt: font_8;
$fnt1: font_8;

@include exports("heightDiff", 20);
@include exports("widthDiff", 20);
@include exports("image:skin", "skins.core.ImageSkin");

:host {
  background-color: param-bg-color(bg, $bg);
  cursor: pointer;
}

#link {
  background-color: param-bg-color(bg, $bg);
}

#imageWrapper {
  margin: 10px;
}

.panelWrapper {
  height: 100%;
  width: 100%;
  position: relative;
  top: -100%;
  display: table;
  @include abs-distance(0);
  padding: 10px;
  visibility: hidden;
}

#panel {
  display: table-cell;
  vertical-align: middle;
  padding: 5px;
  background-color: param-bg-color(bgh, $bgh);
  @include param-font(fnt, $fnt);
  text-align: center;
  color: param-text-color(txth, $txth);
}

#title {
  @include param-font(fnt, $fnt);
}

#description {
  @include param-font(fnt1, $fnt1);
}

:host:hover #panel {
  visibility: visible;
}
