@charset "UTF-8";

@import '../../../../components/src/main/mixins/components-base';
@import 'mixins/displayerMixins';
@include displayer-text-overflow;

// ***************************************************************************************************************************************
// NOTE: *DO NOT* change the param names on existing skins (e.g. brd, shd, bg, etc) - the first argument passed to the param() functions.
// these are saved in the site's data, changing them will break the site.
// you may give skin params any name you wish - but only in new components and their (new) skins.
// ***************************************************************************************************************************************
$fntt: font_6;
$fntds: font_8;
$brd: color_15;
$bgh: color_17;
$txt: color_15;
$ttl: color_15;
$brw: 0;
$shd: 0 1px 3px rgba(0, 0, 0, .5);
$trns: opacity .5s ease 0s;

@include define-mapped-param(imageWrapperBottom, brw);
@include define-mapped-param(imageWrapperTop, brw);
@include define-mapped-param(imageWrapperRight, brw);
@include define-mapped-param(imageWrapperLeft, brw);
@include exports("addMarginToContainer", "true");
@include exports("image:skin", "skins.core.ImageSkin");


:host {
  border-radius: 50%;
  background-color: param-bg-color(brd, $brd);
  @include param-box-shadow(shd, $shd);
  overflow: hidden;

  &:hover #zoom {
    @include opacity(1);

    #title {
      @include param-font(fntt, $fntt);
      color: param-text-color(ttl, $ttl);
    }
  }
}

.imgBorder {
  @include abs-distance(param-size(brw, $brw));
  overflow: hidden;
}

#zoom {
  @include opacity(0);
  @include param-transition(trns, $trns);
  border-radius: 50%;
  background-color: param-bg-color(bgh, $bgh);
  text-align: center;
  padding: 15%;
  @include abs-distance(param-size(brw, $brw));
  overflow: hidden;
}

#title {
  color: param-text-color(ttl, $ttl);
  @include param-font(fntt, $fntt);
  white-space: nowrap;
}

#description {
  color: param-text-color(txt, $txt);
  @include param-font(fntds, $fntds);
}

#link {
  color: param-text-color(txt, $txt);
  @include param-font(fntds, $fntds);
  white-space: nowrap;
  text-decoration: underline !important;
}

#image {
  overflow: hidden;
  border-radius: 50%;
}

@include align-states();

[data-state~="noLink"] #link {
  display: none;
}
