@charset "UTF-8";

@import '../../../../components/src/main/mixins/components-base';
@import 'mixins/displayerMixins';
@include displayer-text-overflow;

// ***************************************************************************************************************************************
// NOTE: *DO NOT* change the param names on existing skins (e.g. brd, shd, bg, etc) - the first argument passed to the param() functions.
// these are saved in the site's data, changing them will break the site.
// you may give skin params any name you wish - but only in new components and their (new) skins.
// ***************************************************************************************************************************************
$brd: color_15;
$ttl: color_15;
$txt: color_15;
$brw: 0;
$rd: 0;
$shd: 0 1px 4px rgba(0, 0, 0, .6);
$fntt: font_6;
$fntds: font_8;
$trans: opacity .4s ease 0s;

@include exports("image:skin", "skins.core.ImageSkin");
@include define-mapped-param(imageWrapperBottom, brw);
@include define-mapped-param(imageWrapperTop, brw);
@include define-mapped-param(imageWrapperRight, brw);
@include define-mapped-param(imageWrapperLeft, brw);

#image,
.imgBorder,
#imageWrapper,
#zoom {
  @include param-border-radius(rd, $rd);
}

#imageWrapper,
.imgBorder,
#zoom {
  @include abs-distance(0);
}

.imgBorder {
  border: solid param-border-size(brw, $brw) param-border-color-alpha(brd, $brd);
  background: transparent;
}

#zoom {
  background: param-bg-color(bgh, #ffffff);
  padding: 10px;
  @include opacity(0);
  @include param-transition(trans, $trans);
  overflow: hidden;
}

#link {
  color: param-text-color(txt, $txt);
  @include param-font(fntds, $fntds);
  position: absolute;
  left: 10px;
  right: 10px;
  bottom: 10px;
  text-decoration: underline !important;
  white-space: nowrap;
}

@include align-states();

#title, #description, [data-state~="noLink"] #link {
  display: none;
}

:host:hover #zoom {
  @include opacity(0.15);
  @include param-transition(trans, $trans);
}
