@charset "UTF-8";

@import '../../../../components/src/main/mixins/components-base';
@import 'mixins/displayerMixins';
@include displayer-text-overflow;



// ***************************************************************************************************************************************
// NOTE: *DO NOT* change the param names on existing skins (e.g. brd, shd, bg, etc) - the first argument passed to the param() functions.
// these are saved in the site's data, changing them will break the site.
// you may give skin params any name you wish - but only in new components and their (new) skins.
// ***************************************************************************************************************************************
$brw: 0;
$rd: 0;
$shd: 0 1px 4px rgba(0, 0, 0, .6);
$brd: color_15;
$bgh: color_17;
$ttl: color_15;
$txt: color_15;
$fntt: font_6;
$fntds: font_8;
$trans: opacity .4s ease 0s;

@include exports("heightDiff", 80);
@include exports("m_heightDiff", 40);
@include exports("image:skin", "skins.core.ImageSkin");

#imageWrapper {
  @include abs-distance(0);
  @include param-border-radius(rd, $rd);
  @include param-box-shadow(shd, $shd);
}

.imgBorder {
  @include abs-distance(0);
  @include param-border-radius(rd, $rd);
  border: solid param-border-size(brw, $brw) param-border-color-alpha(brd, $brd);
  background: param-border-color-alpha(brd, $brd);
}

#image {
  @include param-border-radius(rd, $rd);
}

#zoom {
  @include abs-distance(0);
  background: param-bg-color(bgh, $bgh);
  @include param-border-radius(rd, $rd);
  padding: 10px;
  @include opacity(0);
  @include param-transition(trans, $trans);
}

.panel {
  height: 75px;
  position: absolute;
  overflow: visible;
  bottom: 0;
  left: 0;
  right: 0;
}

.ttl {
  position: absolute;
  bottom: 40px;
  left: 0;
  right: 0;
}

#title {
  @include param-font(fntt, $fntt);
  color: param-text-color(ttl, $ttl);
  white-space: nowrap;
  overflow: hidden;
  height: auto;
}

[data-state~="mobileView"] .ttl {
  bottom: 10px;
}

.desc {
  position: absolute;
  bottom: 20px;
  left: 0;
  right: 0;
}

#description {
  color: param-text-color(txt, $txt);
  @include param-font(fntds, $fntds);
  overflow: hidden;
  height: 1.2em;
}

[data-state~="mobileView"] #description {
  display: none;
}

.lnk {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  @include param-font(fntds, $fntds);
  text-overflow: ellipsis !important;
}

#link {
  color: param-text-color(txt, $txt);
  text-decoration: underline !important;
  white-space: nowrap;
  overflow: hidden;
  height: 1.2em;
}

[data-state~="alignLeft"] #title {
  text-align: left;
}

[data-state~="alignCenter"] #title {
  text-align: center;
}

[data-state~="alignRight"] #title {
  text-align: right;
}

[data-state~="alignLeft"] #description {
  text-align: left;
}

[data-state~="alignCenter"] #description {
  text-align: center;
}

[data-state~="alignRight"] #description {
  text-align: right;
}

[data-state~="alignLeft"] #link {
  text-align: left;
}

[data-state~="alignCenter"] #link {
  text-align: center;
}

[data-state~="alignRight"] #link {
  text-align: right;
}

[data-state~="noLink"] #link {
  display: none;
}

[data-state~="rollover"] :hover #zoom {
  @include opacity(1);
  @include param-transition(trans, $trans);
}
