@charset "UTF-8";

@import '../../../../components/src/main/mixins/components-base';

// ***************************************************************************************************************************************
// NOTE: *DO NOT* change the param names on existing skins (e.g. brd, shd, bg, etc) - the first argument passed to the param() functions.
// these are saved in the site's data, changing them will break the site.
// you may give skin params any name you wish - but only in new components and their (new) skins.
// ***************************************************************************************************************************************
$bg: color_11;
$txt: color_15;
$rd: 0;
$shd: 0 1px 3px rgba(0, 0, 0, .5);
$brw: 0;
$s: brw;
$fntt: font_6;
$fntds: font_8;
$trns: opacity .3s ease 0s;

@include define-mapped-param(s, brw);
@include define-mapped-param(imageWrapperBottom, brw);
@include define-mapped-param(imageWrapperTop, brw);
@include define-mapped-param(imageWrapperRight, brw);
@include define-mapped-param(imageWrapperLeft, brw);

@include exports("heightDiff", 70);
@include exports("image:skin", "skins.core.ImageSkin");

#imageWrapper {
  background-color: param-bg-color(bg, $bg);
  @include param-box-shadow(shd, $shd);
  @include param-border-radius(rd, $rd);
  position: absolute;
}

#zoom {
  @include abs-distance(param-size(brw, $brw));
}

#image {
  @include param-border-radius(rd, $rd);
}

#panel {
  @include param-transition(trns, $trns);
  height: 50px;
  position: absolute;
  bottom: 20px;
  left: 0;
  right: 130px;
}

#title {
  @include param-font(fntt, $fntt);
  color: param-text-color(txt, $txt);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-top: 10px;
}

#description {
  @include param-font(fntds, $fntds);
  color: param-text-color(txt, $txt);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#link {
  @include param-font(fntds, $fntds);
  color: param-text-color(txt, $txt);
  white-space: nowrap;
  text-decoration: underline;
  cursor: pointer;
  position: absolute;
  right: -112px;
  top:39px;
}

[data-state~="link"]   #link {
  text-decoration: underline;
  cursor: pointer;
}

[data-state~="noLink"] #link {
  display: none;
}


[data-state~="defaultPanelState"] #panel {
  @include opacity(0);
}
[data-state~="showPanel"] #panel {
  @include opacity(1);
}
[data-state~="transOut"] #panel {
  @include opacity(0);
}
[data-state~="transIn"]  #panel {
  @include opacity(0);
}
