@charset "UTF-8";

@import '../../../../components/src/main/mixins/components-base';
@import 'mixins/displayerMixins';
@include displayer-text-overflow;
// ***************************************************************************************************************************************
// NOTE: *DO NOT* change the param names on existing skins (e.g. brd, shd, bg, etc) - the first argument passed to the param() functions.
// these are saved in the site's data, changing them will break the site.
// you may give skin params any name you wish - but only in new components and their (new) skins.
// ***************************************************************************************************************************************
$bg: color_15;
$txt: color_11;
$brw: 0;
$s: brw;
$fntt: font_6;
$fntds: font_8;
$rd: 0;
$trns: opacity .5s ease 0s;

@include define-mapped-param(s, brw);

@include define-mapped-param(imageWrapperBottom, brw);
@include define-mapped-param(imageWrapperTop, brw);
@include define-mapped-param(imageWrapperRight, brw);
@include define-mapped-param(imageWrapperLeft, brw);

@include exports("image:skin", "skins.core.ImageSkin");

#imageWrapper {
  position: absolute;
}

#panel {
  @include param-border-radius(rd, $rd);
  background-color: param-bg-color(bg, $bg);
  @include param-transition(trns, $trns);
  @include opacity(0);
  position: absolute;
  right: param-margin-size(brw, $brw);
  left: param-margin-size(brw, $brw);
  bottom: param-margin-size(brw, $brw);
  padding: 10px 100px 10px 10px;
  min-height: 18px;
  border-top-left-radius: 0 !important;
  border-top-right-radius: 0 !important;
}

#zoom {
  @include abs-distance(param-size(brw, $brw));
}

#image {
  @include param-border-radius(rd, $rd);
}

#title {
  @include param-font(fntt, $fntt);
  color: param-text-color(txt, $txt);
}

#description {
  @include param-font(fntds, $fntds);
  color: param-text-color(txt, $txt);
}

#link {
  @include param-font(fntds, $fntds);
  color: param-text-color(txt, $txt);
}


[data-state~="link"] #link {
  text-decoration: underline;
  cursor: pointer;
  @include param-font(fntds, $fntds);
  color: param-text-color(txt, $txt);
}

[data-state~="noLink"] #link {
  display: none;
}

[data-state~="showPanel"] #panel {
  @include opacity(1);
}

[data-state~="notShowPanel"] #panel {
  @include opacity(0);
}


[data-state~="transOut"] #panel {
  @include opacity(0);
}

[data-state~="transIn"]  #panel {
  @include opacity(0);
}
