@charset "UTF-8";

@import '../../../../components/src/main/mixins/components-base';



// ***************************************************************************************************************************************
// NOTE: *DO NOT* change the param names on existing skins (e.g. brd, shd, bg, etc) - the first argument passed to the param() functions.
// these are saved in the site's data, changing them will break the site.
// you may give skin params any name you wish - but only in new components and their (new) skins.
// ***************************************************************************************************************************************
$brw: 12px;
$txt: color_15;
$ttl: color_15;
$fnt: font_8;
$fntds: font_9;

@include exports("heightDiff", 50);
@include exports("widthDiff", 0);
@include exports("image:skin", "skins.core.ImageSkin");

#image {
  border: solid param-border-size(brw, $brw);
}

#panel {
  position: absolute;
  height: 50px;
  bottom: 0;
  left: 0;
  right: 0;
}

#title {
  @include param-font(fnt, $fnt);
  color: param-text-color(ttl, $ttl);
}

#description {
  @include param-font(fntds, $fntds);
  color: param-text-color(txt, $txt);
}

#link {

}
