atlassian-ide-plugin.xml
.DS_Store
Thumbs.db
*.log
*.iml
*.ipr
*.iws
.idea
.svn
target/
.idea/
src/test/framework/
src/test/generated/
src/main/index.json
src/test/web.test.json
tags
History.md
src/wix-wysiwyg-editor-min.js
src/wix-wysiwyg-viewer-min.js
/counter.txt
src/test/java/wysiwyg/*Resource.java
src/main/index*.json
src/test/*debug.json
src/test/wysiwyg.specs.json
src/main/SLM.debug.mobile.json
src/main/local.SLM.debug.mobile.json
src/main/local.debug.json
src/main/local-ie.json
src/main/remote.debug.json
src/main/javascript/angular/propertypanel/templatesCache.js
src/test/web.test.json
node_modules/
src/main/SLM.debug.mobile.json
*SkinMap.js
.sass-cache/
src/main/javascript/ngannotate/
src/main/javascript/angular/**/*.css
src/main/css/stylesheets/*.css
src/main/css/stylesheets/*.css.map