@charset "UTF-8";

@import '../../mixins/components-base';



// ***************************************************************************************************************************************
// NOTE: *DO NOT* change the param names on existing skins (e.g. brd, shd, bg, etc) - the first argument passed to the param() functions. 
// these are saved in the site's data, changing them will break the site.
// you may give skin params any name you wish - but only in new components and their (new) skins.
// ***************************************************************************************************************************************
$themeDir: THEME_DIRECTORY;



:host {
  cursor: pointer;
  display: inline;
}

[disabled] {
  cursor: default;
}

.buttonLeft {
  display: inline-block;
  background: param-url(themeDir, $themeDir, "btns_left.png") no-repeat;
  height: 35px;
  width: 9px;
}

.buttonCenter {
  display: inline-block;
  font-weight: bold;
  height: 35px;
  background: param-url(themeDir, $themeDir, "btns_mid.png") repeat-x top;
  vertical-align: top;
  line-height: 34px;
}

.buttonRight {
  display: inline-block;
  background: param-url(themeDir, $themeDir, "btns_right.png") no-repeat;
  height: 35px;
  width: 9px;
}

.buttonStates {
  background-position: 0 -72px;
  color: #444;
}

[data-state="grayed"] .buttonStates {
  background-position: 0 -146px!important;
  color: #555;
}

[disabled] .buttonStates {
  background-position: 0 -109px!important;
  color: #888;
}

