@charset "UTF-8";

@import '../../mixins/components-base';

// ***************************************************************************************************************************************
// NOTE: *DO NOT* change the param names on existing skins (e.g. brd, shd, bg, etc) - the first argument passed to the param() functions. 
// these are saved in the site's data, changing them will break the site.
// you may give skin params any name you wish - but only in new components and their (new) skins.
// ***************************************************************************************************************************************
$themeDir: THEME_DIRECTORY;
$padding: padding1;
$_overlayBgColor: 0, 0, 0, .8;
$overlayFontColor: 255, 255, 255, 1;
$_fontTitle: fontSubTitle;
$_fontDesc: fontText;

@include exports("img:skin", "skins.core.ImageSkin");

:host {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#img {
  position: absolute;
}

#img > div {
  margin: 0;
  padding: 0;
  position: absolute !important;
}

#controls {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100%;
}

.opacity {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: param-bg-color(_overlayBgColor, $_overlayBgColor);
}

.holder {
  position: absolute;
  bottom: 0;
  padding: param-cssstring(padding, $padding);
  color: param-text-color(overlayFontColor, $overlayFontColor);
}

#infoButton, #exitButton {
  position: absolute;
  top: 5px;
  width: 2.5em;
  height: 2.5em;
}

#infoButton {
  right: 5px;
}

#exitButton {
  left: 5px;
}

#title {
  @include param-font(_fontTitle, $_fontTitle);
}

#description {
  @include param-font(_fontDesc, $_fontDesc);
}

