@charset "UTF-8";

@import '../../mixins/components-base';



// ***************************************************************************************************************************************
// NOTE: *DO NOT* change the param names on existing skins (e.g. brd, shd, bg, etc) - the first argument passed to the param() functions. 
// these are saved in the site's data, changing them will break the site.
// you may give skin params any name you wish - but only in new components and their (new) skins.
// ***************************************************************************************************************************************
$_font: fontTitle;
$fontColor: headerTextColor;
$spacing: componentSpacing;



:host {
  @include param-font(_font, $_font);
  color: param-text-color(fontColor, $fontColor);
  padding: param-cssstring(spacing, $spacing) 0;
  margin-bottom: param-cssstring(spacing, $spacing);
}

