@charset "UTF-8";

@import '../../mixins/components-base';



// ***************************************************************************************************************************************
// NOTE: *DO NOT* change the param names on existing skins (e.g. brd, shd, bg, etc) - the first argument passed to the param() functions. 
// these are saved in the site's data, changing them will break the site.
// you may give skin params any name you wish - but only in new components and their (new) skins.
// ***************************************************************************************************************************************
$themeDir: THEME_DIRECTORY;
$_ButtonBgColor: areaBgColor;
$ButtonBorder: borderButton;
$ItemSpacing: itemSpacing;
$_BorderRadius: radiusButton;
$_ButtonIconBgColor: iconBgColor;
$_ButtonIconBorderRadius: radiusIcon;
$_ButtonIconBorder: borderIcon;
$_font: fontButton;
$fontColor: textColor;
$bulletSize: bulletSize;
$iconSize: iconSize;



:host {
  position: relative;
  border: param-cssstring(ButtonBorder, $ButtonBorder);
  overflow: hidden;
  margin: param-cssstring(ItemSpacing, $ItemSpacing) 0;
  @include param-border-radius(_BorderRadius, $_BorderRadius);
  min-height: param-padding-size(iconSize, $iconSize);
  color: param-text-color(fontColor, $fontColor);
}

:host > .bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: param-bg-color(_ButtonBgColor, $_ButtonBgColor);
  @include param-border-radius(_BorderRadius, $_BorderRadius);
  background-image: param-url(themeDir, $themeDir, "inlineShadow.png");
  background-repeat: repeat-x;
}

:host > .btnIcon {
  z-index: $zindex-menu-button-skin-button-icon-after-host;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  border-right: param-cssstring(_ButtonIconBorder, $_ButtonIconBorder);
  background-color: param-bg-color(_ButtonIconBgColor, $_ButtonIconBgColor);
  @include param-border-radius(_ButtonIconBorderRadius, $_ButtonIconBorderRadius);
}

:host > .btnIcon img {
  position: relative;
  @include param-border-radius(_ButtonIconBorderRadius, $_ButtonIconBorderRadius);
  width: param-padding-size(iconSize, $iconSize);
  height: param-padding-size(iconSize, $iconSize);
}

:host > .btnBullet {
  z-index: $zindex-menu-button-skin-button-bult-after-host;
  position: absolute;
  top: 0;
  bottom: 0;
  right: .3em;
  line-height: inherit;
}

:host > .btnBullet> div {
  display: table;
  height: 100%;
}

:host > .btnBullet> div> div {
  display: table-cell;
  vertical-align: middle;
}

:host > .btnBullet> div> div> div {
  background: param-url(themeDir, $themeDir, "rightPointer.png") no-repeat right center;
  height: param-padding-size(iconSize, $iconSize);
  width: param-padding-size(bulletSize, $bulletSize);
}

:host > .btnText {
  @include param-font(_font, $_font);
  position: relative;
  padding: 0 param-padding-size(bulletSize, $bulletSize) 0 param-padding-size(iconSize, $iconSize);
  word-wrap: break-word;
}

