@charset "UTF-8";

@import '../../mixins/components-base';



// ***************************************************************************************************************************************
// NOTE: *DO NOT* change the param names on existing skins (e.g. brd, shd, bg, etc) - the first argument passed to the param() functions. 
// these are saved in the site's data, changing them will break the site.
// you may give skin params any name you wish - but only in new components and their (new) skins.
// ***************************************************************************************************************************************
$thumbSpacing: thumbSpacing;
$_thumbBorderRadius: radiusThumb;
$borderThumb: borderThumb;
$componentSpacing: componentSpacing;

@include exports("itemSkinClassName", "skins.core.ImageSkin");
@include exports("fullScreenViewSkinClassName", "mobile.core.skins.PhotoGalleryFullScreenDefaultSkin");

:host {
  text-align: center;
  overflow: hidden;
  margin-bottom: param-cssstring(componentSpacing, $componentSpacing);
}

#imagesContainer {
  margin: 0 auto;
}

#imagesContainer div {
  float: left;
}

#imagesContainer div[comp="core.components.Image"] {
  margin: 0 param-cssstring(thumbSpacing, $thumbSpacing) param-cssstring(thumbSpacing, $thumbSpacing) param-cssstring(thumbSpacing, $thumbSpacing);
  @include param-border-radius(_thumbBorderRadius, $_thumbBorderRadius);
  border: param-cssstring(borderThumb, $borderThumb);
}

