@charset "UTF-8";

@import '../../mixins/components-base';



// ***************************************************************************************************************************************
// NOTE: *DO NOT* change the param names on existing skins (e.g. brd, shd, bg, etc) - the first argument passed to the param() functions. 
// these are saved in the site's data, changing them will break the site.
// you may give skin params any name you wish - but only in new components and their (new) skins.
// ***************************************************************************************************************************************
$fnt: font_7;
$bgc1: color_3;
$bgc2: color_3;
$c1: color_8;
$c2: color_8;
$rd: 3px;



.field {
  @include param-border-radius(rd, $rd);
  background-color: param-bg-color(bgc1, $bgc1);
  margin: 0 0 5px 0;
  padding: 5px;
  overflow: hidden;
}

input, textarea {
  @include param-font(fnt, $fnt);
  color: param-text-color(c1, $c1);
  border: 0;
  padding: 0;
  margin: 0;
  background: none;
  width: 100% !important;
}

#button {
  @include param-border-radius(rd, $rd);
  background-color: param-bg-color(bgc2, $bgc2);
  @include param-font(fnt, $fnt);
  color: param-text-color(c2, $c2);
  width: 35%;
  float: right;
  height: 30px;
  line-height: 30px;
  margin: 5px 0 0 0;
  text-align: center;
  cursor: pointer;
}

#notifications p {
  @include param-border-radius(rd, $rd);
  padding: 5px;
  background-color: #fff;
}

[data-state="errors"] #notifications * {
  color: #8B0000;
}

