@charset "UTF-8";

@import '../../mixins/components-base';



// ***************************************************************************************************************************************
// NOTE: *DO NOT* change the param names on existing skins (e.g. brd, shd, bg, etc) - the first argument passed to the param() functions. 
// these are saved in the site's data, changing them will break the site.
// you may give skin params any name you wish - but only in new components and their (new) skins.
// ***************************************************************************************************************************************
$bg: #000;
$tdr: WEB_THEME_DIRECTORY;
$rd: 5px;



:host {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: $zindex-admin-login-skin-host;
}

#blockingLayer {
  background-color: mutate-bg-color-const(bg, alpha, .75, $bg);
  position: fixed;
  @include distance(0);
  visibility: visible;
  zoom: 1;
  overflow: auto;
}

#dialog {
  @include param-border-radius(rd, $rd);
  background-color: #FAFAFA;
  width: 295px;
  height: 90px;
  position: absolute;
  padding-left: 27px;
  padding-top: 14px;
}

.controlContent {
  margin-top: 10px;
}

#header {
  margin-botton: 12px;
  position: relative;
  width: 200px;
}

#xButton {
  position: absolute;
  top: 12px;
  right: 12px;
  cursor: pointer;
  background: param-url(tdr, $tdr, "/x.png") no-repeat;
  height: 10px;
  width: 10px;
}

#passwordInput {
  margin-right: 7px;
  padding: 10px;
  border: solid 1px #CCCCCC;
  font: 14px Arial;
  font-style: italic;
  color: #9D9D9D;
  height: 30px;
  width: 202px;
}

#favIcon {
  vertical-align: top;
  width: 16px;
  height: 16px;
}

#submitButton {
  cursor: pointer;
  border: solid 1px #5B8FA7;
  border-radius: 5px;
  background-color: #28A6E9;
  height: 30px;
  width: 60px;
  color: #FFFFFF;
  font: 18px Arial;
  position: relative;
  top: -10px;
}

#submitButton:hover {
  background-color: #137BA8;
}

[data-state="normal"] #error {
  display: none;
}

[data-state="error"] #error {
  display: block;
  font: italic 12px Arial;
  color: #FD0B0B;
  margin-top: 5px;
}

h1 {
  display: inline;
  font: 16px Arial;
  font-weight: lighter;
  color: #9D9D9D;
}

