.wix-property-panel-footer {
  position: relative;
  overflow: hidden;
  margin-top: 35px;
  width: 100%;
}

.property-panel-content {
  max-height: 550px;
  min-height: 150px;
  margin-bottom: 35px;
  padding: 11px 11px 25px;
}

.ng-content-panel {
  position: relative;
  font-size: 12px;
  line-height: 1.2em;
}

.ng-content-panel .groupBox {
  padding: 10px;
  border: 1px solid #CCCCCC;
  background: white;
  border-radius: 5px;
  margin-bottom: 6px
}

.ng-content-panel .bold {
  font-weight: bold;
}

.wix-ng-panel form[name="generalProperties"] {
  width: 100%;
  height: auto;
}

.wix-ng-panel form[name="generalProperties"] span {
  cursor: pointer;
}

.wix-ng-panel form[name="generalProperties"] .allowAnchorsButton {
  float: right;
  margin-left: 5px;
  cursor: pointer;
  display: inline-block;
  width: 23px;
  height: 21px;
  background-position: 0 63px;
}

.wix-ng-panel form[name="generalProperties"] [name="aInput"] {
  width: 30px;
  font-size: 11px;
  padding: 0px;
  border: 1px solid #ddd;
  border-radius: 3px;
  float: left;
}

.wix-ng-panel form[name="generalProperties"] .angleIcon {
  margin-right: 2px;
  float: left;
  height: 20px;
  width: 20px;
}

.wix-ng-panel form[name="generalProperties"] .angle {
  float: right;
}

.wix-ng-panel form[name="generalProperties"] .generalPos {
  float: left;
  margin-left: 12px;
  margin-right: 15px;
  width: 88px;
}

.wix-ng-panel form[name="generalProperties"] .generalSize {
  margin-right: 10px;
  float: left;
  width: 175px;
}

.wix-ng-panel form[name="generalProperties"] .posInput {
  width: 30px;
  font-size: 11px;
  padding: 0px;
  border: 1px solid #ddd;
  border-radius: 3px;
}

.wix-ng-panel form[name="generalProperties"] .posInputDiv {
  display: inline-block;
  font-size: 11px;
  margin-right: 5px;
}

.wix-ng-panel form[name="generalProperties"] .generalSize .posInputDiv {
  float: right;
  margin-right: 0px !important;
  margin-left: 5px;
}

.wix-ng-panel form[name="generalProperties"] .generalPos .posInputDiv:last-child {
  margin-right: 0px;
}

.wix-ng-panel form[name="generalProperties"] .generalSize .posInputDiv:last-child {
  margin-left: 0px;
}

.wix-ng-panel-show-on-all-pages-wrapper {
  padding: 0 15px 10px;
}

.wix-ng-panel-show-on-all-pages {
  font-size: 12px;
  padding: 6px;
  border-radius: 3px;
  background-color: rgb(205, 237, 248);
}

.all-pages-selected {
  background-color: rgb(255, 211, 146);
}