<div class="wix-property-panel-footer wix-ng-panel" ng-controller="GeneralPropertiesController as generalPropertiesController">
    <div class="wix-ng-panel-show-on-all-pages-wrapper">
        <div class="wix-ng-panel-show-on-all-pages"
             ng-class="{'all-pages-selected': generalPropertiesController.showOnAllPages}">
            <wix-checkbox wix-data="generalPropertiesController.showOnAllPages" label="SHOW_ON_ALL_PAGES"
                          tooltip="Component_Panel_is_in_master_ttid"
                          ng-click="generalPropertiesController._toggleComponentScope($event)"/>
        </div>
    </div>
    <form ng-keyup="generalPropertiesController.onKeyup($event)" name="generalProperties" class="clearfix">
        <div class="generalPos">
            <div class="posInputDiv">
                <label>
                    <span>x</span>
                    <input name="xInput" class="posInput" ng-model="generalPropertiesController.layoutData.layout.x"
                           ng-blur="generalPropertiesController.applyProperties($event)"/>
                </label>
            </div>
            <div class="posInputDiv">
                <label>
                    <span>y</span>
                    <input name="yInput" class="posInput" ng-model="generalPropertiesController.layoutData.layout.y"
                           ng-blur="generalPropertiesController.applyProperties($event)"/>
                </label>
            </div>
        </div>
        <div class="generalSize">
            <div class="allowAnchorsButton"
                 ng-style="{'background-image':'url({{generalPropertiesController.webThemeDir}}editingFrame/lock_btn.png)'}"></div>
            <div ng-show="generalPropertiesController.layoutData.rotatable" class="angle posInputDiv">
                <div class="angleIcon"
                     ng-style="{'background-image':'url({{generalPropertiesController.webThemeDir}}editingFrame/angle_icon.png)'}"></div>
                <input name="angle" ng-model="generalPropertiesController.layoutData.layout.angle" class="posInput"
                       ng-blur="generalPropertiesController.applyProperties($event)"/>
            </div>
            <div class="posInputDiv">
                <label>
                    <span>h</span>
                    <input name="height" ng-model="generalPropertiesController.layoutData.layout.height"
                           class="posInput"
                           ng-blur="generalPropertiesController.applyProperties($event)"/>
                </label>
            </div>
            <div class="posInputDiv">
                <label>
                    <span>w</span>
                    <input name="width" ng-model="generalPropertiesController.layoutData.layout.width" class="posInput"
                           ng-blur="generalPropertiesController.applyProperties($event)"/>
                </label>
            </div>
        </div>
    </form>
</div>