@charset "UTF-8";

@import "../../skins/wix-sites-base";

// ***************************************************************************************************************************************
// NOTE: *DO NOT* change the param names on existing skins (e.g. brd, shd, bg, etc) - the first argument passed to the param() functions. 
// these are saved in the site's data, changing them will break the site.
// you may give skin params any name you wish - but only in new components and their (new) skins.
// ***************************************************************************************************************************************
$txth: #0092cc;
$txt: #3d3d3d;
$fnt: font_1;

.olo {
  position: absolute;
  text-align: right;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  @include param-font(fnt, $fnt);
  color: param-text-color(txt, $txt);
}

#memberTitle {
  top: 0;
  right: 0;
}

#actionTitle {
  cursor: pointer;
  bottom: 0;
  right: 0;
}

[data-state~="auth"] #actionTitle {
  color: param-text-color(txth, $txth);
}

