/*Wix Slider*/

.wix-slider-disabled {
  opacity: 0.5;
}

.wix-slider-label {
  display: block;
}

.wix-slider-sliderArea {
  position: relative;
}

.wix-slider-container {
  position: relative;
  height: 26px;
  margin: 0 6em 0 4px;
}

.wix-slider-container-units {
  margin-right: 7em;
}

.wix-slider-leftCorner {
  position: absolute;
  height: 26px;
  width: 4px;
  top: 0;
  left: -4px;
}

.wix-slider-rightCorner {
  position: absolute;
  height: 26px;
  width: 4px;
  top: 0;
  right: -4px;
}

.wix-slider-sliderKnob {
  position: absolute;
  height: 26px;
  width: 26px;
  top: 0;
  left: 50%;
  margin-left: -13px;
  cursor: pointer;
}

.wix-slider-input-container {
  position: absolute;
  top: 2px;
  right: 0;
}

/*-----------------*/