.circle-preloader {
  $diameter: 30px;
  $border-width: 3px;
  $timing: 1s;
  $blue1: #7fccf7;
  $blue2: #3899ec;
  $white1: #f0f0f0;
  $white2: #dcdcdc;

  @mixin semi-circle() {
    content: '';
    top: 0;
    left: 0;
    right: -100%;
    bottom: 0;
    border: $border-width solid currentColor;
    border-color: currentColor transparent transparent currentColor;
    border-radius: 50%;
    position: absolute;
    transform: rotate(-45deg);
    animation: inner-rotate $timing / 2 1ms linear infinite alternate;
  }

  animation: semi-rotate $timing 1ms linear infinite;
  height: $diameter;
  left: 50%;
  margin-left: - $diameter / 2;
  margin-top: - $diameter / 2;
  overflow: hidden;
  position: absolute;
  top: 50%;
  transform-origin: 100% 50%;
  width: $diameter / 2;

  &::before {
    @include semi-circle();
    color: $blue1;
  }

  &::after {
    @include semi-circle();
    color: $blue2;
    opacity: 0;
  }

  &.white {
    &::before {
      color: $white1;
    }

    &::after {
      color: $white2;
    }
  }

}

@keyframes inner-rotate {
  to {
    opacity: 1;
    transform: rotate(115deg);
  }
}

@keyframes semi-rotate {
  from {
    animation-timing-function: ease-out;
    transform: rotate(180deg);
  }
  45% {
    transform: rotate(198deg);
  }
  55% {
    transform: rotate(234deg);
  }
  to {
    transform: rotate(540deg);
  }
}