@import "z-index";

html.device-phone {
  body {
    overflow-y: auto;
  }
}

html.device-mobile-optimized {
  &.device-android {
    margin-bottom: 1px;
  }

  &.blockSiteScrolling {
    > body {
      position: fixed;
      width: 100%;
    }
  }

  &.media-zoom-mode {
    > body {
      touch-action: manipulation;

      > #SITE_CONTAINER {
        height: 100%;
        overflow: hidden;

        > .noop {
          height: 100%;

          > .siteAspectsContainer {
            height: 100%;
            z-index: $zindex-full-screen-overlay;
          }
        }
      }
    }
  }
}

.siteAspectsContainer {
  position: absolute;
  top: 0;
  margin: 0 auto;
  left: 0;
  right: 0;
}

body {
  // When in Mobile and in Public Viewer Mode
  &.device-mobile-optimized {
    overflow-x: hidden;
    overflow-y: scroll;

    //should be deleted as soon as eyes pass 7/9/2016
    &.qa-mode{
      overflow-y: auto;
    }

    #SITE_CONTAINER {
      width: 320px;
      overflow-x: visible;
      margin: 0 auto;
      position: relative;
    }

    // Prevents any block directly inside a body to be wider than it. On some browsers anything that is wider than body can result unexpected zooming
    > * {
      max-width: 100% !important;
    }

    // On Mobile, site structure should have no inner scroll either
    .SITE_ROOT {
      overflow-x: hidden;
      overflow-y: hidden;
    }
  }

  &.device-mobile-non-optimized {

    #SITE_CONTAINER {
      > :not(.mobile-non-optimized-overflow) {
        // On Mobile with non-optimized view, site structure should have no inner scroll either
        .SITE_ROOT {
          overflow-x: hidden;
          overflow-y: auto;
        }
      }
    }

    &.fullScreenMode {
      background-color: #5f6360;

      .SITE_ROOT,
      #SITE_BACKGROUND,
      #MOBILE_ACTIONS_MENU {
        visibility: hidden;
      }
    }
  }

  // When in full screen mode
  &.fullScreenMode {
    overflow-x: hidden !important;
    overflow-y: hidden !important;

    &.device-mobile-optimized #TINY_MENU {
      opacity: 0;
      pointer-events: none;
    }
  }

  // Current solution for scrollable full screen mode components, such as
  // the old eCommerce. Don't apply this to e.g. images due to site
  // losing its current scroll position. See SE-12840
  &.fullScreenMode-scrollable.device-mobile-optimized {
    overflow-x: hidden !important;
    overflow-y: auto !important;

    //When in wixapps full screen mode for wixapps zoom temporarily hide site structure
    .SITE_ROOT,
    #masterPage {
      overflow-x: hidden !important;
      overflow-y: hidden !important;
    }

    #masterPage,
    #SITE_BACKGROUND {
      height: auto !important;
    }
  }
}

.fullScreenOverlay {
  z-index: $zindex-full-screen-overlay;
  position: fixed;
  left: 0;
  top: -60px;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  overflow-y: hidden;

  > .fullScreenOverlayContent {
    margin: 0 auto;
    position: absolute;
    right: 0;
    top: 60px;
    left: 0;
    bottom: 0;
    overflow: hidden;
    transform: translateZ(0);
  }
}

.mobile-actions-menu-wrapper{
  z-index: $zindex-mobile-actions-menu-wrapper;
}
