// When in Text Editor
body[contenteditable] {
  overflow-x: auto;
  overflow-y: auto;
}

// *******************OLD text classes, DO NOT DELETE ****************

.bold {
  font-weight: bold;
}

.italic {
  font-style: italic;
}

.underline {
  text-decoration: underline;
}

.lineThrough {
  text-decoration: line-through;
}

.singleLineText {
  white-space: nowrap;
  text-overflow: ellipsis;
}

.alignLeft {
  text-align: left;
}

.alignCenter {
  text-align: center;
}

.alignRight {
  text-align: right;
}

.alignJustify {
  text-align: justify;
}

// ************************  NEW text, used in migration for exceptions **************************
ul, ol {
  &.font_100 {
    color: rgb(8, 8, 8);
    font-family: 'Arial, Helvetica, sans-serif', serif;
    font-size: 10px;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    margin: 0;
    text-decoration: none;
    line-height: normal;
    letter-spacing: normal;

    li {
      margin-bottom: 12px;
    }
  }
}

// For SplitHtmlText
letter {
  position: relative;
  display: inline-block;
}

word {
  display: inline-block;
  white-space: nowrap;
}

word,
letter {
  &.space {
    display: inline;
  }
}
