.wixapps-less-spacers-align {
  &.ltr {
    text-align: left;
  }

  &.center {
    text-align: center;
  }

  &.rtl {
    text-align: right;
  }
  > div,
  > a {
    display: inline-block !important;
  }
}

.flex_display {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
}

//  padding-top - muhahahaha, check out w3 spec http://www.w3.org/TR/CSS2/box.html#collapsing-margins
//  Incredible! in display:block margin-top collapses!
//
.flex_vbox {
  box-sizing: border-box;
  padding-top: 0.01em;
  padding-bottom: 0.01em;
}

a.wixAppsLink img {
  cursor: pointer;
}

.singleLine {
  white-space: nowrap;
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  word-wrap: normal;
}
