@charset "UTF-8";

@import '../../../../components/src/main/mixins/components-base';

// ***************************************************************************************************************************************
// NOTE: *DO NOT* change the param names on existing skins (e.g. brd, shd, bg, etc) - the first argument passed to the param() functions. 
// these are saved in the site's data, changing them will break the site.
// you may give skin params any name you wish - but only in new components and their (new) skins.
// ***************************************************************************************************************************************

:host {
  left: 0;
  cursor: pointer;
  z-index: $zindex-back-to-top-button-host;
  @include param-zoom-by-screen-properties(zoom);
}

#bg {
  width: 44px;
  height: 44px;
  right: 0;
  position: fixed;
  bottom: 87px;
  opacity: 0;
  visibility: hidden;
  transition: visibility 0s .5s, opacity .5s ease 0s;

  svg {
       fill: rgba(0, 0, 0, 0.3);
       pointer-events: none;
       stroke: #fff;

        .arrow {
            stroke-width: 1.5;
        }

        .border {
            stroke-width: 1;
        }
    }
}

.visible {
  opacity: 1;
  visibility: visible;
  transition-delay: 0s;
}

#linkToTop {
  height: 100%;
  width: 100%;
  position: absolute;
}
