@charset "UTF-8";

@import '../../mixins/components-base';



// ***************************************************************************************************************************************
// NOTE: *DO NOT* change the param names on existing skins (e.g. brd, shd, bg, etc) - the first argument passed to the param() functions. 
// these are saved in the site's data, changing them will break the site.
// you may give skin params any name you wish - but only in new components and their (new) skins.
// ***************************************************************************************************************************************


#likeboxContainer {
  @include abs-distance(0);
}

[data-state~="bgStyle-light"] {
  #likeboxContainer {
    background-color: white;
  }
}

[data-state~="bgStyle-dark"] {
  #likeboxContainer {
    background-color: black;
  }
}

[data-state~="bgStyle-noBg"] {
  #likeboxContainer {
    background-color: transparent;
  }
}

#iframe {
  border: 0;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
}
