.wix-image-picker {
  display: block;
  min-height: 60px;
  position: relative;
  .wix-image-picker-image {
    position: absolute;
  }

  .wix-image-picker-button {
    margin-left: 76px;
    padding-top: 15px;
  }

  .wix-image-picker-remove {
    float: left
  }
}

.wix-image-picker-transparent-background {
  .wix-image-picker-image {
    background-image: url(http://localhost/skins/images/wysiwyg/core/themes/editor_web/panel/transparent_pattern_10x10.png);
  }
}

