<div class="wix-image-picker">
    <div class="wix-image-picker-image">
        <wix-image wix-data="wixData.uri" img-height="{{height}}" img-width="{{width}}"
                   img-style='{"background-size": "cover", "background-position": "50% 50%", "cursor": "pointer"}'
                   ng-click="handleClick()"></wix-image>
    </div>
    <div ng-click="removeImage()" wix-translate="'IMAGE_REMOVE'" class="wix-image-picker=remove"
         ng-show="{{removeEnabled}}"></div>
    <div class="wix-image-picker-button">
        <wix-button label="{{label}}" click-handler="handleClick()"></wix-button>
    </div>
</div>
