<head>
    <base href="http://localhost/editor-base/">
    <script>
        var siteId = '<%= siteId %>';
        var metasiteId = '<%= metasiteId %>';
        //        var serviceTopology = {
        //            scriptsLocationMap: {
        //                langs: 'http://static.parastorage.com/services/langs/2.508.0'
        //            }
        //        };
        var editorModel = {
            languageCode: 'en',
            metaSiteId: metasiteId,
            siteHeader: {
                id: siteId
            }
        };
    </script>
    <link rel="stylesheet" href="cssCache/packages/rEditor/src/main/editor.css" type="text/css"/>
</head>
<body>
<div id="root">
    <div class="preloader"></div>
</div>
<script src="generated/serviceTopologyLocal.js"></script>
<script src="target/santa-viewer/target/versions/pLoaderConfig.js"></script>
<script data-main="target/main-r.js" src="http://localhost/editor-base/bower_components/requirejs/require.js"></script>
</body>
