@charset "UTF-8";

@import '../../mixins/components-base';

$tdr: BASE_THEME_DIRECTORY;

@include exports("image:skin", "wysiwyg.viewer.skins.TouchMediaZoomItem");

:host {
  position: static;
  width: 100%;
  height: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  background-color: black;
  z-index: $zindex-aspect-container-mobile-media-zoom;
  will-change: transform;
}

#centeredDiv {
  overflow: visible;
  width: 100%;
  height: 100%;
  perspective: 1px;

  > #swipeStage {
    display: flex;
    position: relative;
    transform-style: preserve-3d;
    height: 100%;

    &.animate {
      transition: transform 0.15s ease-out;
    }
  }
}

#xButton {
  position: absolute;
  overflow: hidden;
  cursor: pointer;
  background-size: cover;
  background-image: param-url(tdr, $tdr, "x_button.png");
  background-repeat: no-repeat;
  background: no-repeat center/100% param-url(tdr, $tdr, "x_button.png");
  width: 48px;
  height: 48px;
  top: 5px;
  right: 5px;

  &.hidden {
    display: none;
  }

  &.force-hide {
    display: none;
  }
}
