.container(ng-click="$ctrl.onClick()" data-hook="container")
  .hero-unit
    %h1
      {{'general.YO' | translate}}
      %i.logo-on-header.component-test-kit-svg-font-icons-wix-logo
    %div
      This is {{$ctrl.name}} (
      %span(data-hook="counter") {{$ctrl.clicks}}
      )
    %h3 Enjoy coding! - Yeoman
