@charset "UTF-8";

@import '../../mixins/components-base';



// ***************************************************************************************************************************************
// NOTE: *DO NOT* change the param names on existing skins (e.g. brd, shd, bg, etc) - the first argument passed to the param() functions. 
// these are saved in the site's data, changing them will break the site.
// you may give skin params any name you wish - but only in new components and their (new) skins.
// ***************************************************************************************************************************************
$trans: opacity .3s ease-out 0s;
$trans1: opacity 1.2s ease-out 0s;
$bg: #000000;
$rd: 2px;



:host {
  position: relative;
}

.tipContainer {
  text-align: center;
  position: absolute;
  top: -57px;
  left: 0;
  right: 0;
}

#tooltip {
  display: inline-block;
  padding: 12px 15px;
  min-width: 33px;
  background-color: mutate-bg-color-const(bg, alpha, .66, $bg);
  @include param-border-radius(rd, $rd);
  color: #ffffff;
  font-size: 15px;
  margin: 0 auto;
}

[data-state~="displayed"] #tooltip {
  @include opacity(1);
  @include param-transition(trans, $trans);
}

[data-state~="hidden"]    #tooltip {
  @include opacity(0);
  @include param-transition(trans1, $trans1);
}

