@charset "UTF-8";

@import '../../mixins/components-base';



// ***************************************************************************************************************************************
// NOTE: *DO NOT* change the param names on existing skins (e.g. brd, shd, bg, etc) - the first argument passed to the param() functions. 
// these are saved in the site's data, changing them will break the site.
// you may give skin params any name you wish - but only in new components and their (new) skins.
// ***************************************************************************************************************************************
$txt: #222222;
$rd: 300px;



:host {
  
}

#link {
  display: block;
  @include abs-distance(0);
  color: param-border-color(txt, $txt);
  border: 7px solid param-border-color(txt, $txt);
  background: white;
  @include param-border-radius(rd, $rd);
}

#link:before {
  display: block;
  content: "";
  position: absolute;
  right: 35%;
  left: 35%;
  top: 0;
  bottom: 50%;
  margin-bottom: -7px;
  border-bottom: 14px solid param-border-color(txt, $txt);
}

#link:after {
  display: block;
  content: "";
  position: absolute;
  top: 35%;
  bottom: 35%;
  left: 0;
  right: 50%;
  margin-right: -7px;
  border-right: 14px solid param-border-color(txt, $txt);
}

