@charset "UTF-8";

@import '../../mixins/components-base';



// ***************************************************************************************************************************************
// NOTE: *DO NOT* change the param names on existing skins (e.g. brd, shd, bg, etc) - the first argument passed to the param() functions. 
// these are saved in the site's data, changing them will break the site.
// you may give skin params any name you wish - but only in new components and their (new) skins.
// ***************************************************************************************************************************************
$bg: #000;
$rd: 7px;
$themeDir: THEME_DIRECTORY;



[data-state="content"] #error {
  display: none;
}

[data-state="content"] #loading {
  display: none;
}

[data-state="error"] #inlineContent {
  display: none;
}

[data-state="error"] #loading {
  display: none;
}

[data-state="loading"] #loading {
  position: fixed;
  @include distance(0);
  background-color: mutate-bg-color-const(bg, alpha, .4, $bg);
}

[data-state="rendering"] #loading {
  position: fixed;
  @include distance(0);
  background-color: mutate-bg-color-const(bg, alpha, .4, $bg);
}

[data-state="loading"] #loading p {
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  line-height: 50px;
  letter-spacing: 1px;
  height: 100px;
  width: 200px;
  position: absolute;
  top: 50%;
  margin-top: -50px;
  left: 50%;
  margin-left: -100px;
  @include param-border-radius(rd, $rd);
//  background: transparent param-url(themeDir, $themeDir, "gif_preloader.gif") center 42px no-repeat;
}

[data-state="loading"] #error {
  display: none;
}

[data-state="rendering"] #inlineContent {
  @include opacity(0);
}

[data-state="rendering"] #error {
  display: none;
}

[data-state="rendering"] #loading p {
  display: none;
}

[data-state="content"] #inlineContent {
  @include opacity(1);
}

#inlineContent > div {
  width: 100%;
}

#inlineContent {
  box-sizing: border-box !important;
}

.singleLine {
  white-space: nowrap;
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  word-wrap: normal;
}

