@charset "UTF-8";

@import '../../mixins/components-base';



// ***************************************************************************************************************************************
// NOTE: *DO NOT* change the param names on existing skins (e.g. brd, shd, bg, etc) - the first argument passed to the param() functions. 
// these are saved in the site's data, changing them will break the site.
// you may give skin params any name you wish - but only in new components and their (new) skins.
// ***************************************************************************************************************************************
$tdr: BASE_THEME_DIRECTORY;



:host {
  background: #ffffff;
  color: #000000;
  margin: 0 7px 7px 0;
  padding: 0 7px;
  min-width: 33px;
  height: 50px;
  font-size: 13px;
  line-height: 50px;
  display: inline-block;
  border: solid 1px #8e8e8e;
  text-align: center;
  position: relative;
}

[data-state~="selected"] .selectedCheckmark {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background:rgba(30, 30, 30, 0.5) param-url(tdr, $tdr, "wix_apps/smallcheck.png") no-repeat 50% 50%;
  background-size: 22px 21px;
}

[data-state~="selected"] #size {
  display: inline;
}

[data-state~="disabled"] {
  display: none;
}

#description {
  display: none;
}

#size {
  cursor: default;
}

