@charset "UTF-8";

@import '../../mixins/components-base';



// ***************************************************************************************************************************************
// NOTE: *DO NOT* change the param names on existing skins (e.g. brd, shd, bg, etc) - the first argument passed to the param() functions. 
// these are saved in the site's data, changing them will break the site.
// you may give skin params any name you wish - but only in new components and their (new) skins.
// ***************************************************************************************************************************************
$bg: #ffffff;
$bg2: #aaaaaa;
$brd: #888888;
$txt: #888888;
$brw: 2px;
$rd: 5px;



:host {
  position: relative;
  display: inline-block !important;
}

#collection {
  @include param-border-radius(rd, $rd);
  @include appearance(none);
  background-color: param-bg-color(bg, $bg);
  color: param-text-color(txt, $txt);
  border: solid param-border-size(brw, $brw) param-border-color(brd, $brd);
  padding: 5px 18px 5px 5px;
  margin: 0 !important;
  position: relative;
  min-width: 100%;
  min-height: 100%;
  font-size: 60px;
  line-height: 60px;
  text-align: center;
  margin-left: 60px;
}

#collection option {
  min-width: 100%;
  text-align: center;
}

:host:after {
  content: "▼";
  position: absolute;
  @include param-border-radius(rd, $rd);
  background-color: param-bg-color(bg2, $bg2);
  top: 1px;
  bottom: 1px;
  right: 1px;
  width: 90px;
  pointer-events: none;
  color: #fff;
  text-align: center;
  font-size: 40px;
  line-height: 80px;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}

.err {
  position: absolute;
  top: 50%;
  left: 0;
  height: 1px;
  width: 1px;
}

[data-state~="invalid"] .err:before {
  color: #fff;
  background: #d00;
  border: 2px solid #fff;
  border-radius: 50%;
  box-shadow: 0 1px 3px rgba(0, 0, 0, .5);
  text-align: center;
  font-size: 12px;
  content: "!";
  position: absolute;
  top: 5px;
  left: -15px;
  width: 20px;
  height: 20px;
  line-height: 20px !important;
}

[data-state~="invalid"] .err:after {
  color: #fff;
  font-size: 10px;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, .5);
  content: "►";
  position: absolute;
  top: 10px;
  left: 8px;
}

