@charset "UTF-8";

@import '../../mixins/components-base';

// ***************************************************************************************************************************************
// NOTE: *DO NOT* change the param names on existing skins (e.g. brd, shd, bg, etc) - the first argument passed to the param() functions. 
// these are saved in the site's data, changing them will break the site.
// you may give skin params any name you wish - but only in new components and their (new) skins.
// ***************************************************************************************************************************************
$bg: #e3e3e3;
$brd: #e3e3e3;
$txt: #000000;
$brw: 1px;
$fnt: font_8;
$rd: 0;
$trns: opacity .5s ease 0s, border .5s ease 0s, color .5s ease 0s;

:host {
  position: relative;
}

#input {
  background-color: param-bg-color(bg, $bg);
  @include param-border-radius(rd, $rd);
  box-sizing: border-box !important;
  @include param-font(fnt, $fnt);
  @include param-transition(trns, $trns);
  color: param-text-color(txt, $txt);
  border: param-border-size(brw, $brw) solid param-border-color(brd, $brd);
  padding: 6px;
  margin: 0;
  width: 100%;
  min-height: 100%;
}

input ::-ms-clear {
  display: none;
}

#erase {
  position: absolute;
  font-size: 12px;
  top: 5px;
  right: 5px;
  cursor: pointer;
  width: 20px;
  height: 20px;
  text-align: center;
  line-height: 20px;
  color: param-text-color(txt, $txt);
}

#message {
  margin-top: 13px;
  color: #d00;
}

[data-state~="showButton"] {
  #erase {
    display: block;
  }
  #input {
    padding-right: 30px;
  }
}

[data-state~="hideButton"] #erase {
  display: none;
}

[data-state~="invalid"] #input {
  border-color: #d00;
}

