@charset "UTF-8";

@import '../../mixins/components-base';

// ***************************************************************************************************************************************
// NOTE: *DO NOT* change the param names on existing skins (e.g. brd, shd, bg, etc) - the first argument passed to the param() functions. 
// these are saved in the site's data, changing them will break the site.
// you may give skin params any name you wish - but only in new components and their (new) skins.
// ***************************************************************************************************************************************
$bg: color_11;
$bgh: color_11;
$brd: color_11;
$brdh: color_11;
$txt: color_15;
$txth: color_14;
$brw: 0;
$rd: 0;
$fnt: font_8;
$trans1: border-color .4s ease 0s, background-color .4s ease 0s;
$trans2: color .4s ease 0s;

#link {
  @include param-border-radius(rd, $rd);
  @include abs-distance(0);
  background-color: param-bg-color(bg, $bg);
  @include param-transition(trans1, $trans1);
  border: solid param-border-color(brd, $brd) param-border-size(brw, $brw);
  cursor: pointer !important;
}

#label {
  @include param-font(fnt, $fnt);
  @include param-transition(trans2, $trans2);
  color: param-text-color(txt, $txt);
  white-space: nowrap;
  margin: calc(-1 * #{param-border-size(brw, $brw)}) param-border-size(brw, $brw) 0 param-border-size(brw, $brw);
  display: inline-block;
  position: relative;
}

:host:hover {
  #link {
    background-color: param-bg-color(bgh, $bgh);
    border-color: param-border-color(brdh, $brdh);
    @include param-transition(trans1, $trans1);
  }
  #label {
    color: param-text-color(txth, $txth);
    @include param-transition(trans2, $trans2);
  }

}
