@charset "UTF-8";

@import '../../mixins/components-base';

// ***************************************************************************************************************************************
// NOTE: *DO NOT* change the param names on existing skins (e.g. brd, shd, bg, etc) - the first argument passed to the param() functions. 
// these are saved in the site's data, changing them will break the site.
// you may give skin params any name you wish - but only in new components and their (new) skins.
// ***************************************************************************************************************************************
$bg: #e3e3e3;
$bgh: #e3e3e3;
$brd: #e3e3e3;
$brdh: #a3d9f6;
$txt: #000000;
$brw: 1px;
$tdr: BASE_THEME_DIRECTORY;
$fnt: font_8;
$rd: 0;
$trns: opacity .5s ease 0s, border .5s ease 0s, color .5s ease 0s;

:host {
  position: relative;
  min-height: 25px;
}

#input {
  background-color: param-bg-color(bg, $bg);
  @include param-border-radius(rd, $rd);
  box-sizing: border-box !important;
  @include param-font(fnt, $fnt);
  @include param-transition(trns, $trns);
  color: param-text-color(txt, $txt);
  border: param-border-size(brw, $brw) solid param-border-color(brd, $brd);
  padding: 6px;
  margin: 0;
  width: 100%;
  min-height: 100%;

  &:hover, &:focus {
    border-color: param-border-color(brdh, $brdh);
    background-color: param-bg-color(bgh, $bgh);
  }
}

[data-state~="invalid"] {
  #input {
    border-color: #d00;
    background: param-url(tdr, $tdr, "error.png") no-repeat 100% 50%;
    background-color: param-bg-color(bg, $bg);
    padding-right: 40px;

    &:hover + p {
      @include opacity(1);
    }
  }

  p {
    color: #d00;
  }
}

p {
  @include param-transition(trns, $trns);
  @include opacity(0);
  @include param-border-radius(rd, $rd);
  display: inline-block;
  position: absolute;
  right: 0;
  bottom: 100%;
  width: 140px;
  padding: 10px;
  white-space: normal;
  font-size: 13px;
  line-height: 16px;
  background: #fff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, .6);

  &:after {
    content: "▼";
    position: absolute;
    bottom: -12px;
    right: 10px;
    color: #fff;
    text-shadow: 0 1px 3px rgba(0, 0, 0, .6);
    @include param-border-radius(rd, $rd);
  }
}
