@charset "UTF-8";

@import '../../mixins/components-base';



// ***************************************************************************************************************************************
// NOTE: *DO NOT* change the param names on existing skins (e.g. brd, shd, bg, etc) - the first argument passed to the param() functions. 
// these are saved in the site's data, changing them will break the site.
// you may give skin params any name you wish - but only in new components and their (new) skins.
// ***************************************************************************************************************************************
$bg: color_11;
$brd: color_15;
$rd: 5px;
$brw: 1px;
$shd: 0 1px 4px rgba(0, 0, 0, .6);
$tdr: BASE_THEME_DIRECTORY;



#bg {
  @include abs-distance(0);
  background-color: param-bg-color(bg, $bg);
  @include param-border-radius(rd, $rd);
  @include param-box-shadow(shd, $shd);
  border: param-border-size(brw, $brw) solid param-border-color-alpha(brd, $brd);
  background-image: param-url(tdr, $tdr, "apple_box.png");
  background-repeat: repeat-x;
  background-position: 0 0;
}

[data-state~="mobileView"] #bg {
  left: 10px;
  right: 10px;
}

#inlineContent {
  @include abs-distance(0);
  bottom: 20px;
}

