@charset "UTF-8";

@import '../../mixins/components-base';



// ***************************************************************************************************************************************
// NOTE: *DO NOT* change the param names on existing skins (e.g. brd, shd, bg, etc) - the first argument passed to the param() functions. 
// these are saved in the site's data, changing them will break the site.
// you may give skin params any name you wish - but only in new components and their (new) skins.
// ***************************************************************************************************************************************
$tdr: BASE_THEME_DIRECTORY;
$rd: 5px;
$brd: color_15;
$brw: 2px;
$shd: 0 1px 3px rgba(0, 0, 0, .5);
$contentPaddingLeft: brw;
$contentPaddingRight: brw;
$contentPaddingBottom: brw;
$contentPaddingTop: brw;

@include define-mapped-param(contentPaddingLeft, brw);
@include define-mapped-param(contentPaddingRight, brw);
@include define-mapped-param(contentPaddingBottom, brw);
@include define-mapped-param(contentPaddingTop, brw);

@include exports("img:skin", "skins.core.ImageNewSkinZoomable");

:host {
  background: param-url(tdr, $tdr, "net.png") center center repeat;
}

#link {
  display: block;
  @include param-border-radius(rd, $rd);
  @include param-box-shadow(shd, $shd);
  background-color: param-border-color-alpha(brd, $brd);
  border: param-border-size(brw, $brw) solid param-border-color-alpha(brd, $brd);
  overflow: hidden;
  height: 100%;
}

#img {
  @include param-border-radius(rd, $rd);
  overflow: hidden;
}

