@charset "UTF-8";

@import '../../mixins/components-base';



// ***************************************************************************************************************************************
// NOTE: *DO NOT* change the param names on existing skins (e.g. brd, shd, bg, etc) - the first argument passed to the param() functions. 
// these are saved in the site's data, changing them will break the site.
// you may give skin params any name you wish - but only in new components and their (new) skins.
// ***************************************************************************************************************************************
$tdr: BASE_THEME_DIRECTORY;
$bg: #fff;
$brd: #aaa;
$rd: 3px;



:host {
  position: relative;
  width: 16px;
  height: 16px;
  margin-right: 16px;
  display: inline-block;
  overflow: visible;
}

input[data-type="checkbox"] {
  position: absolute;
  top: -9999px;
  left: -9999px;
  overflow: visible;
}

label {
  width: 16px;
  height: 16px;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  cursor: pointer;
}

div {
  width: 16px;
  height: 16px;
  border: 1px solid param-border-color-alpha(brd, $brd);
  background: param-bg-color(bg, $bg) param-url(tdr, $tdr, "vi.png") no-repeat -999px -999px;
  @include param-border-radius(rd, $rd);
  box-sizing: border-box !important;
}

input[data-type="checkbox"]:checked ~ div {
  background-position: 50% 50%;
}

input#input.isPlaceholder {
  color: #999;
}

