@charset "UTF-8";

@import '../../mixins/components-base';



// ***************************************************************************************************************************************
// NOTE: *DO NOT* change the param names on existing skins (e.g. brd, shd, bg, etc) - the first argument passed to the param() functions. 
// these are saved in the site's data, changing them will break the site.
// you may give skin params any name you wish - but only in new components and their (new) skins.
// ***************************************************************************************************************************************
$bg: color_1;
$txt: color_10;
$shd: 0 1px 3px rgba(0, 0, 0, .5);

@include exports("heightDiff", 40);
@include exports("imageItem:skin", "wysiwyg.viewer.skins.displayers.CircleDetailedDisplayer");
@include exports("imageItem:styleGroup", "inherit");

#showMore {
  @include param-box-shadow(shd, $shd);
  background-color: param-bg-color(bg, $bg);
  color: param-text-color(txt, $txt);
  cursor: pointer;
  position: absolute;
  bottom: 0;
  left: 35%;
  right: 35%;
  text-align: center;
  height: 30px;
  line-height: 30px;
}

[data-state~="fullView"] #showMore {
  display: none;
}

