@charset "UTF-8";

@import '../../mixins/components-base';



// ***************************************************************************************************************************************
// NOTE: *DO NOT* change the param names on existing skins (e.g. brd, shd, bg, etc) - the first argument passed to the param() functions. 
// these are saved in the site's data, changing them will break the site.
// you may give skin params any name you wish - but only in new components and their (new) skins.
// ***************************************************************************************************************************************
$bgc: color_11;
$brd: color_15;

@include exports("heightDiff", 60);
@include exports("image:skin", "skins.core.ImageSkin");

#zoom {
  @include abs-distance(0);
  border: 5px solid param-border-color-alpha(brd, $brd);
}

#panel {
  background-color: param-bg-color(bgc, $bgc);
  height: 40px;
  padding: 10px;
  color: #fff;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

