@charset "UTF-8";

@import '../../mixins/components-base';

// ***************************************************************************************************************************************
// NOTE: *DO NOT* change the param names on existing skins (e.g. brd, shd, bg, etc) - the first argument passed to the param() functions. 
// these are saved in the site's data, changing them will break the site.
// you may give skin params any name you wish - but only in new components and their (new) skins.
// ***************************************************************************************************************************************
$tdr: BASE_THEME_DIRECTORY;

@include exports("minH", 40);
@include exports("maxH", 40);
@include exports("repeaterButton:skin", "wysiwyg.viewer.skins.dropmenubutton.SeparatedArrowsMenuButtonNSkin");
@include exports("repeaterButton:styleGroup", "inherit");

.deprect {
  @include abs-distance(0);
  background: param-url(tdr, $tdr, "net.png") center center repeat;
}

#itemsContainer {
  overflow: hidden;
  background: transparent !important;
}

#moreContainer {
  position: absolute;
  z-index: $zindex-separate-arrows-menu-nskin-more-container;
}

