@charset "UTF-8";

@import '../../mixins/components-base';



// ***************************************************************************************************************************************
// NOTE: *DO NOT* change the param names on existing skins (e.g. brd, shd, bg, etc) - the first argument passed to the param() functions. 
// these are saved in the site's data, changing them will break the site.
// you may give skin params any name you wish - but only in new components and their (new) skins.
// ***************************************************************************************************************************************
$trns: opacity .5s ease 0s;
$bgc: color_11;

@include exports("image:skin", "skins.core.ImageSkin");

:host {
  @include param-transition(trns, $trns);
}

[data-state~="transOut"] {
  @include opacity(0);
}

[data-state~="transIn"] {
  @include opacity(0);
}

#panel {
  background-color: param-bg-color(bgc, $bgc);
  height: 40px;
  padding: 10px;
  color: #fff;
  position: absolute;
  bottom: 50px;
  left: 0;
  right: 100px;
}

