@charset "UTF-8";

@import '../../mixins/components-base';



// ***************************************************************************************************************************************
// NOTE: *DO NOT* change the param names on existing skins (e.g. brd, shd, bg, etc) - the first argument passed to the param() functions. 
// these are saved in the site's data, changing them will break the site.
// you may give skin params any name you wish - but only in new components and their (new) skins.
// ***************************************************************************************************************************************
$bg: color_11;
$tdr: BASE_THEME_DIRECTORY;



.bg2:before {
  position: absolute;
  content: "";
  background: param-url(tdr, $tdr, "sloppyvertical.png") repeat-y 0 0;
  left: -8px;
  top: 0;
  bottom: 0;
  width: 10px;
}

.bg2:after {
  position: absolute;
  content: "";
  background: param-url(tdr, $tdr, "sloppyvertical.png") repeat-y 100% 0;
  right: -8px;
  top: 0;
  bottom: 0;
  width: 10px;
}

#bg:before {
  position: absolute;
  content: "";
  background: param-url(tdr, $tdr, "sloppyhoriz.png") repeat-x 0 0;
  left: -8px;
  top: -8px;
  right: -8px;
  height: 10px;
}

#bg:after {
  position: absolute;
  content: "";
  background: param-url(tdr, $tdr, "sloppyhoriz.png") repeat-x 0 100%;
  left: -8px;
  bottom: -8px;
  right: -8px;
  height: 10px;
}

#bg {
  position: absolute;
  top: 3px;
  bottom: 3px;
  left: 3px;
  right: 3px;
  background: param-bg-color(bg, $bg);
}

.bg2 {
  position: absolute;
  top: 3px;
  bottom: 3px;
  left: 3px;
  right: 3px;
}

#inlineContent {
  position: absolute;
  top: 3px;
  bottom: 3px;
  left: 3px;
  right: 3px;
}

