@charset "UTF-8";

@import '../../mixins/components-base';



// ***************************************************************************************************************************************
// NOTE: *DO NOT* change the param names on existing skins (e.g. brd, shd, bg, etc) - the first argument passed to the param() functions. 
// these are saved in the site's data, changing them will break the site.
// you may give skin params any name you wish - but only in new components and their (new) skins.
// ***************************************************************************************************************************************
$shd: 0 1px 4px rgba(0, 0, 0, .6);
$rd: 5px;



:host {
  font-family: "Helvetica Neue","HelveticaNeueW01-55Roma","HelveticaNeueW02-55Roma","HelveticaNeueW10-55Roma", Helvetica, Arial,sans-serif;
  font-size: 12px;
  line-height: 16px;
  @include param-border-radius(rd, $rd);
  @include param-box-shadow(shd, $shd);
  min-height: 10px;
  min-width: 10px;
  max-width: 300px;
  color: #656565;
  background: #fffedf;
  position: absolute;
  padding: 5px;
  top: 0;
  left: 0;
}

p {
  display: block;
  margin: 0 0 5px 0;
}

strong, b, i, big {
  font-size: 12px;
}

[data-state~="hidden"] {
  visibility: hidden!important;
}

