@charset "UTF-8";

@import '../../mixins/components-base';



// ***************************************************************************************************************************************
// NOTE: *DO NOT* change the param names on existing skins (e.g. brd, shd, bg, etc) - the first argument passed to the param() functions. 
// these are saved in the site's data, changing them will break the site.
// you may give skin params any name you wish - but only in new components and their (new) skins.
// ***************************************************************************************************************************************
$rd: 0;
$trans: opacity .5s ease 0s;

@include exports("heightDiff", 0);
@include exports("image:skin", "skins.core.ImageSkin");

:host {
  cursor: pointer;
}

#image {
  @include param-border-radius(rd, $rd);
  @include opacity(0.7);
  @include param-transition(trans, $trans);
}

:host:hover #image {
  @include opacity(1);
  @include param-transition(trans, $trans);
}

#title, #description {
  display: none;
}

