@charset "UTF-8";

@import '../../mixins/components-base';

// ***************************************************************************************************************************************
// NOTE: *DO NOT* change the param names on existing skins (e.g. brd, shd, bg, etc) - the first argument passed to the param() functions. 
// these are saved in the site's data, changing them will break the site.
// you may give skin params any name you wish - but only in new components and their (new) skins.
// ***************************************************************************************************************************************
$rd: 10px;

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  padding: 10px;
  margin-left: 3px;
  border: solid 2px #accdef;
  cursor: pointer;
  background: #accdef;
  @include param-border-radius(rd, $rd);
  position: relative;
}

li:hover {
  border-color: #c33;
}

#playButton {
  background: #770;
  display: inline-block;
}

#pauseButton {
  background: rgba(0, 255, 0, .8);
  display: none;
}

#stopButton {
  background: rgba(0, 0, 255, .8);
  display: inline-block;
}

[data-state="playing"] #playButton {
  display: none;
}

[data-state="playing"] #pauseButton {
  display: inline-block;
}

