@charset "UTF-8";

@import '../../mixins/components-base';



// ***************************************************************************************************************************************
// NOTE: *DO NOT* change the param names on existing skins (e.g. brd, shd, bg, etc) - the first argument passed to the param() functions. 
// these are saved in the site's data, changing them will break the site.
// you may give skin params any name you wish - but only in new components and their (new) skins.
// ***************************************************************************************************************************************
$fnt: font_1;
$txt: color_15;
$txth: color_15;
$txts: color_15;
$pad: 5px;
$bg: color_11;
$bgh: color_17;
$bgs: color_18;
$rd: 10px;
$tdr: BASE_THEME_DIRECTORY;
$shd: 0 1px 4px rgba(0, 0, 0, .6);
$trans: background-color .4s ease 0s;
$trans2: color .4s ease 0s;



:host {
  display: inline-block;
}

.gapper {
  padding: 0 param-padding-size(pad, $pad);
}

.wrapper {
  cursor: pointer;
  background: param-bg-color(bg, $bg) param-url(tdr, $tdr, "shiny1button_bg.png") center center repeat-x;
  @include param-border-radius(rd, $rd);
  @include param-box-shadow(shd, $shd);
  @include param-transition(trans, $trans);
}

#label {
  padding: 0 10px;
  @include param-font(fnt, $fnt);
  color: param-text-color(txt, $txt);
  @include param-transition(trans2, $trans2);
}

:host:first-child {
  padding-left: 0;
}

:host:last-child {
  padding-right: 0;
}

:host:hover .wrapper {
  background-color: param-bg-color(bgh, $bgh);
  @include param-transition(trans, $trans);
}

:host:hover #label {
  color: param-text-color(txth, $txth);
  @include param-transition(trans2, $trans2);
}

[data-state="selected"] .wrapper {
  background-color: param-bg-color(bgs, $bgs);
  @include param-transition(trans, $trans);
}

[data-state="selected"] #label {
  color: param-text-color(txts, $txts);
  @include param-transition(trans2, $trans2);
}

