@charset "UTF-8";

@import '../../mixins/components-base';

// ***************************************************************************************************************************************
// NOTE: *DO NOT* change the param names on existing skins (e.g. brd, shd, bg, etc) - the first argument passed to the param() functions. 
// these are saved in the site's data, changing them will break the site.
// you may give skin params any name you wish - but only in new components and their (new) skins.
// ***************************************************************************************************************************************
$baseThemeDir: BASE_THEME_DIRECTORY;
$webThemeDir: WEB_THEME_DIRECTORY;
$skinImagesDir: base-viewer-url();

:host {
  pointer-events: none;
}

#wrapper {
  position: fixed;
  z-index: $zindex-mobile-actions-menu-skin-wrapper;
  //  pointer-events: none;
  width: 100%;
  right: 0;
  left: 0;
  transition: bottom .2s ease-in-out;
  bottom: -58px;
}

[data-state~="opened"] #wrapper {
  bottom: 0;
}

#knobContainer {
  text-align: center;
  width: 100%;
}

#knob {
  pointer-events: auto;
  width: 150px;
  height: 40px;
  margin: 0 auto;
  background-image: url($skinImagesDir + "/quickAction_darkSprite.png");
  background-position: 50% -430px;
  background-size: 430px;
}

[data-state~="light"] #knob {
  background-image: url($skinImagesDir + "/quickAction_lightSprite.png");
}

#menuContainer {
  display: table;
  width: 100%;
  background-color: #3e3e3e;
  background-position: 50% 60%;
  background-size: 100% 23px;
  background-repeat: no-repeat;
  background-image: url($skinImagesDir + "/quickActions_dark_bg.png");
  height: 53px;
  box-shadow: 0 -5px 15px 0 rgba(0, 0, 0, .5);
  pointer-events: auto;
}

[data-state~="light"] #menuContainer {
  background: linear-gradient(to bottom, #fff 35%, #d7d7d7 80%);
  background-position: inherit;
  background-size: inherit;
  background-repeat: inherit;
}

#menuContainer ul {
  display: table-row;
  list-style: none;
//  pointer-events: auto;
}

#menuContainer ul li {
   display: table-cell;
   text-align: center;
   height: 53px;
   border: 1px solid #575757;
   border-left-color: #363636;
//    pointer-events: auto;
 }

[data-state~="light"] #menuContainer ul li {
  border: 1px solid #d9d9d9;
  border-left-color: #999;
}

#menuContainer ul li a {
  background: url($skinImagesDir + "/quickAction_darkSprite.png") no-repeat;
  width: 40px;
  height: 100%;
  display: inline-block;
  overflow: hidden;
  direction: ltr;
  white-space: nowrap;
  text-indent: -9999em;
  background-size: 420px;
}

[data-state~="light"] #menuContainer ul li a {
  background-image: url($skinImagesDir + "/quickAction_lightSprite.png");
}

#menuContainer ul li div {
  border: 1px solid #666;
  border-bottom-color: #999;
  margin: 3px;
}

#actionsMenu .menu ul li div {
  border: 1px solid #666;
  border-bottom-color: #999;
  margin: 3px;
}

#menuContainer ul li.navigation a {
  background-position: -13px -4px;
}

#menuContainer ul li.phone a {
  background-position: -78px -4px;
}

#menuContainer ul li.email a {
  background-position: -141px -4px;
}

#menuContainer ul li.address a {
  background-position: -208px -4px;
}

#menuContainer ul li.socialLinks a {
  background-position: -273px -4px;
}

#lists {
  position: fixed;
  background: rgba(0, 0, 0, .1);
  width: 100%;
  height: 100%;
  display: block;
  z-index: $zindex-mobile-actions-menu-skin-lists;
  top: 0;
  pointer-events: auto;
}

#lists #header {
  left: 0;
  right: 0;
  position: absolute;
  background-color: rgba(255, 255, 255, .9);
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, .26) 26%, rgba(255, 255, 255, .52) 52%, rgba(214, 214, 214, .72) 72%, rgba(201, 201, 201, 1) 100%);
}

#lists #header #closeBtn {
  width: 35px;
  height: 35px;
  float: right;
  background-image: url($skinImagesDir + "/x.png"); //url(http://static.parastorage.com/services/web/2.995.4/images/wysiwyg/viewer/x.png);
  background-size: 40%;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  border-left: 1px #B0AFAF solid;
//  pointer-events: auto;
}

#lists #header #listTitle {
  float: left;
  color: #808080;
  line-height: 35px;
  padding-left: 15px;
  margin: 0;
  font-size: 1.3em;
}

#listsShadow {
  display: block;
  top: 50px;
  bottom: 0;
  left: 13px;
  right: 13px;
  position: absolute;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, .3);
  transition: top .8s ease-in-out;
}

#listsContainer {
  top: 35px;
  bottom: 0;
  left: 0;
  right: 0;
  background: #FFF;
  position: absolute;
  overflow-y: auto;
//  pointer-events: auto;
}

#listsContainer .list {
  background-color: rgba(255, 255, 255, .9);
}

[data-state~="nolist"] #lists {
  display: none;
}

[data-state~="nolist"] #listsShadow {
  top: 1000px;
}

#listsContainer .list ul {
  width: 100%;
  height: 100%;
}

#listsContainer .list ul li a.selected {
  color: #FFF;
  background: rgba(16, 90, 200, .7);
}

#listsContainer .list ul li a {
  color: #000;
  font-size: 1.7em;
  background: transparent;
  text-decoration: none;
  cursor: pointer;
  display: block;
  padding: 1em;
  border-bottom: 1px #B0AFAF solid;
//  pointer-events: auto;
}




