@charset "UTF-8";

@import '../../mixins/components-base';

// ***************************************************************************************************************************************
// NOTE: *DO NOT* change the param names on existing skins (e.g. brd, shd, bg, etc) - the first argument passed to the param() functions. 
// these are saved in the site's data, changing them will break the site.
// you may give skin params any name you wish - but only in new components and their (new) skins.
// ***************************************************************************************************************************************
$rd: 10px;
$bgDrop: color_11;
$pad: 5px;

@include exports("repeaterButton:skin", "wysiwyg.viewer.skins.dropmenubutton.SeparateArrowDownMenuButtonNSkin");
@include exports("repeaterButton:styleGroup", "inherit");

* {
  box-sizing: border-box;
}

#itemsContainer {
  position: relative;
  overflow: hidden;
}

#dropWrapper {
  visibility: hidden;
  position: absolute;
}

#moreContainer {
  position: absolute;
  z-index: $zindex-separate-arrows-down-menu-nskin-more-container;
  margin: 15px 0;
  background-color: param-bg-color(bgDrop, $bgDrop);
  @include param-border-radius(rd, $rd);
  padding: 10px;
}

#moreContainer > * {
  margin-top: 10px;
  padding: 0 param-padding-size(pad, $pad) !important;
}

