@charset "UTF-8";

@import '../../mixins/components-base';

// ***************************************************************************************************************************************
// NOTE: *DO NOT* change the param names on existing skins (e.g. brd, shd, bg, etc) - the first argument passed to the param() functions. 
// these are saved in the site's data, changing them will break the site.
// you may give skin params any name you wish - but only in new components and their (new) skins.
// ***************************************************************************************************************************************
$themeDir: WEB_THEME_DIRECTORY;
$_bgColor: color_1;
$_boxShadow: 0 1px 3px rgba(0, 0, 0, .5);

@include exports("img:skin", "skins.core.ImageSkin");


span {
  display: block;
}

#link {
  cursor: default;
}

#wrp {
  @include abs-distance(0);
  padding: 10px 10px 20px 10px;
  @include param-box-shadow(_boxShadow, $_boxShadow);
  background-color: param-bg-color(_bgColor, $_bgColor);
}

#img {
  height: 100%;
}

#left, #right {
  position: absolute;
  bottom: -30px;
  width: 127px;
  height: 36px;
  background-image: param-url(themeDir, $themeDir, "pic_shadow.png");
  background-repeat: no-repeat;
}

#left {
  left: -10px;
  background-position: 0 0;
}

#right {
  right: -10px;
  background-position: 100% 0;
}

