@charset "UTF-8";

@import '../../mixins/components-base';



// ***************************************************************************************************************************************
// NOTE: *DO NOT* change the param names on existing skins (e.g. brd, shd, bg, etc) - the first argument passed to the param() functions.
// these are saved in the site's data, changing them will break the site.
// you may give skin params any name you wish - but only in new components and their (new) skins.
// ***************************************************************************************************************************************
$bg: color_11;
$brd: color_15;
$rd: 5px;
$brw: 1px;
$shd: inset 0 1px 2px rgba(0, 0, 0, .6), inset 0 -1px 1px rgba(255, 255, 255, .75);



#bg {
  @include param-border-radius(rd, $rd);
  @include abs-distance(0);
  background-color: param-bg-color(bg, $bg);
  border: solid param-border-color-alpha(brd, $brd) param-border-size(brw, $brw);
  @include param-box-shadow(shd, $shd);
}

[data-state~="mobileView"] #bg {
  left: 10px;
  right: 10px;
}

#inlineContent {
  position: absolute;
  width: 100%;
  height: 100%;
}

