@charset "UTF-8";

@import '../../mixins/components-base';



// ***************************************************************************************************************************************
// NOTE: *DO NOT* change the param names on existing skins (e.g. brd, shd, bg, etc) - the first argument passed to the param() functions. 
// these are saved in the site's data, changing them will break the site.
// you may give skin params any name you wish - but only in new components and their (new) skins.
// ***************************************************************************************************************************************
$bgh: color_17;
$itemBg: color_11;
$itemBrc: color_12;
$paging: color_15;
$itemBrw: 1px;
$rd: 0;
$shd: 0 0 0 rgba(0, 0, 0, .15);
$txtHoverOutOfStock: 228, 82, 63, 1;

.hid {
  display: none;
}

#itemsContainer {
  box-sizing: border-box !important;
  overflow: hidden;
  cursor: pointer !important;

  &.show-counter {
    height: calc(100% - 40px) !important; // we reduce 40px in order to leave enough space to the pagination/'ul' element
  }
}


#itemsContainer .galleryDisplayer {
  box-sizing: border-box !important;
  background-color: param-bg-color(itemBg, $itemBg);
  @include param-border-radius(rd, $rd);
  @include param-box-shadow(shd, $shd);
  border: param-border-color-alpha(itemBrc, $itemBrc) solid param-border-size(itemBrw, $itemBrw);
}

#itemsContainer .galleryDisplayer:hover {
  background-color: param-bg-color(bgh, $bgh);
}

#itemsContainer .galleryDisplayer:hover .txtHoverColorOutOfStock * {
  color: param-text-color(txtHoverOutOfStock, $txtHoverOutOfStock) !important;
}

.rolloverHolder {
  background-color: param-bg-color(bgh, $bgh);
  box-sizing: border-box !important;
  @include param-border-radius(rd, $rd);
  @include param-box-shadow(shd, $shd);
  border: param-border-color-alpha(itemBrc, $itemBrc) solid param-border-size(itemBrw, $itemBrw);
}

.multiline span {
  white-space: normal;
}

ul {
  position: absolute;
  bottom: 10px;
  left: 0;
  right: 0;
  text-align: center;
  color: param-text-color(paging, $paging) !important;
}

#buttonPrev {
  cursor: pointer !important;
}

#buttonPrev > span:before {
  content: '◄';
}

#buttonNext > span:before {
  content: '►';
}

#buttonNext {
  cursor: pointer !important;
}

li {
  padding: 0 5px;
  display: inline !important;
  font-size: 14px;
  color: param-text-color(paging, $paging) !important;
}

