@charset "UTF-8";

@import '../../mixins/components-base';



// ***************************************************************************************************************************************
// NOTE: *DO NOT* change the param names on existing skins (e.g. brd, shd, bg, etc) - the first argument passed to the param() functions. 
// these are saved in the site's data, changing them will break the site.
// you may give skin params any name you wish - but only in new components and their (new) skins.
// ***************************************************************************************************************************************
$bg: #000000;
$rd: 5px;



:host {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: $zindex-mobile-try-again-message-view-skin-host;
  color: #404040;
  font-size: 14px;
  font-family: "Helvetica Neue","HelveticaNeueW01-55Roma","HelveticaNeueW02-55Roma","HelveticaNeueW10-55Roma", Helvetica, Arial, sans-serif;
}

#blockingLayer {
  background-color: mutate-bg-color-const(bg, alpha, .75, $bg);
  position: fixed;
  @include distance(0);
  visibility: visible;
  zoom: 1;
  overflow: auto;
}

#dialog {
  @include param-border-radius(rd, $rd);
  position: absolute;
  top: 35%;
  left: 50%;
  margin-left: -140px;
  width: 280px;
  background: #fdfdfd;
}

#title {
  padding: 0 10px;
  line-height: 34px;
  border-bottom: 1px solid #ccc;
  display: block;
  font-size: 15px;
  font-style: normal;
  font-variant: normal;
  font-weight: 700;
}

#description {
  max-height: 650px;
  min-height: 10px;
  height: auto;
  padding: 10px;
}

#okButton {
  float: right;
  margin: 10px;
}

#backButton {
  float: left;
  margin: 10px;
  text-decoration: underline;
  cursor: pointer;
}

