@charset "UTF-8";

@import '../../mixins/components-base';



// ***************************************************************************************************************************************
// NOTE: *DO NOT* change the param names on existing skins (e.g. brd, shd, bg, etc) - the first argument passed to the param() functions. 
// these are saved in the site's data, changing them will break the site.
// you may give skin params any name you wish - but only in new components and their (new) skins.
// ***************************************************************************************************************************************




:host {
  position: relative;
}

#textarea {
  resize: none;
  width: 100% !important;
  min-height: 100px;
  overflow: auto;
}

p {
  display: none;
  position: absolute;
}

[data-state~="invalid"] #textarea {
  color: #d00;
  border-color: #d00;
}

textarea:focus {
  color: #444  !important;
  border-color: #000 !important;
}

.err {
  position: absolute;
  top: 50%;
  left: 0;
  height: 1px;
  width: 1px;
}

[data-state~="invalid"] .err:before {
  color: #fff;
  background: #d00;
  border: 2px solid #fff;
  border-radius: 50%;
  box-shadow: 0 1px 3px rgba(0, 0, 0, .5);
  text-align: center;
  font-size: 12px;
  content: "!";
  position: absolute;
  top: 5px;
  left: -15px;
  width: 20px;
  height: 20px;
  line-height: 20px !important;
}

[data-state~="invalid"] .err:after {
  color: #fff;
  font-size: 10px;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, .5);
  content: "►";
  position: absolute;
  top: 10px;
  left: 8px;
}

