@charset "UTF-8";

@import '../../mixins/components-base';



// ***************************************************************************************************************************************
// NOTE: *DO NOT* change the param names on existing skins (e.g. brd, shd, bg, etc) - the first argument passed to the param() functions. 
// these are saved in the site's data, changing them will break the site.
// you may give skin params any name you wish - but only in new components and their (new) skins.
// ***************************************************************************************************************************************
$_borderRadius: 3px;
$shadowColor: 0,0,0,.1;



:host {
  padding-top: 5px;
}

#label {
  margin-bottom: 5px;
  display: block;
}

[data-state~="noLabel"] #label {
  display: none;
}

[disabled] #label {
  @include opacity(0.5);
}

select#collection {
  width: 100%;
  margin: 0 0 5px 0;
  padding: 1px 3px;
  line-height: 1.1em;
  height: 1.8em;
  font-size: 1em;
  @include param-border-radius(_borderRadius, $_borderRadius);
  border: 1px solid #b4b4b4;
  box-shadow: 0 1px 1px 0 param-box-shadow-color(shadowColor, $shadowColor) inset;
}

#collection:hover {
  border-color: #a3d9f6;
}

#collection:focus {
  border-color: #19a0e9;
}

