@charset "UTF-8";

@import '../../mixins/components-base';

// ***************************************************************************************************************************************
// NOTE: *DO NOT* change the param names on existing skins (e.g. brd, shd, bg, etc) - the first argument passed to the param() functions. 
// these are saved in the site's data, changing them will break the site.
// you may give skin params any name you wish - but only in new components and their (new) skins.
// ***************************************************************************************************************************************
$shd: 0 1px 3px rgba(0, 0, 0, .5);
$bg-block: #555555;
$bg: #ffffff;
$bg-border: #aaaaaa;
$txt: #9c9c9c;
$tdr: BASE_THEME_DIRECTORY;

@include exports("passwordInput:skin", "wysiwyg.viewer.skins.input.TextInputSquareSkin");

:host {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: $zindex-password-login-skin-host;
  font-family: Arial, sans-serif;
  font-size: 1em;
  color: param-text-color(txt, $txt);
}

#blockingLayer {
  background-color: mutate-bg-color-const(bg-block, alpha, .75, $bg-block);
  position: fixed;
  @include distance(0);
  visibility: visible;
  zoom: 1;
  overflow: auto;
}

#dialog {
  background-color: mutate-bg-color-const(bg-border, alpha, .7, $bg-border);
  width: 455px;
  position: fixed;
  padding: 20px;
}

.wrapper {
  background-color: param-bg-color(bg, $bg);
  padding: 45px 40px 0 40px;
}

#xButton {
  position: absolute;
  top: -14px;
  right: -14px;
  cursor: pointer;
  background: transparent param-url(tdr, $tdr, "viewer_login_sprite.png") no-repeat right top;
  height: 30px;
  width: 30px;

  &:hover {
    background-position: right -80px;
  }
}

#header {
  padding-bottom: 25px;
  line-height: 30px;
}

#favIcon {
  float: left;
  margin: 7px 7px 0 0;
  width: 16px;
  height: 16px;
}

#title {
  font-size: 20px;
  font-weight: bold;
  color: #555555;
}

[data-state~="mobile"] {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: $zindex-password-login-skin-mobile;
  font-family: Arial, sans-serif;
  font-size: 1em;
  color: param-text-color(txt, $txt);
  top: 0;

  #header {
    padding-bottom: 10px;
    line-height: 30px;
  }
  #favIcon {
    display: none;
  }
  #title {
    font-size: 14px;
  }
  #dialog {
    width: 260px;
    padding: 10px;
    position: absolute;
  }
  .footer {
    margin-top: 0;
    padding-bottom: 10px;
  }
  #cancel {
    font-size: 14px;
    line-height: 30px;
  }
  .wrapper {
    padding: 14px 12px 0 12px;
  }
  #submitButton {
    height: 30px;
    width: 100px;
    font-size: 14px;
  }
}

.forgot {
  text-align: left;
  font-size: 12px;
  a {
    color: #0198ff;
    border-bottom: 1px solid #0198ff;
    &:hover {
      color: #0044ff;
      border-bottom: 1px solid #0044ff;
    }
  }
}

.error {
  font-size: 12px;
  color: #d74401;
  text-align: right;
}

.footer {
  width: 100%;
  margin-top: 27px;
  padding-bottom: 40px;
}

#cancel {
  color: param-text-color(txt, $txt);
  font-size: 18px;
  text-decoration: underline;
  line-height: 36px;
  &:hover {
    color: #9c3c3c;
  }
}

#passwordInput label {
  font-size: 14px;

  &[data-type="password"] {
    font-size: 14px;
    line-height: 30px;
    height: 30px;
  }
}

#submitButton {
  float: right;
  cursor: pointer;
  border: solid 2px #0064a8;
  height: 36px;
  width: 143px;
  background: transparent param-url(tdr, $tdr, "viewer_login_sprite.png") repeat-x right -252px;
  color: #ffffff;
  font-size: 24px;
  font-weight: bold;
  @include param-box-shadow(shd, $shd);

  &:hover {
    background-position: right -352px;
    border-color: #004286;
  }
}

[data-state="normal"] #error {
  display: none;
}

[data-state="error"] {
  #error {
    display: block;
    font-size: 12px;
    color: #d74401;
    text-align: right;
  }

  #passwordInput {
    border-color: #d74401;
  }
}

