@charset "UTF-8";

@import '../../mixins/components-base';

// ***************************************************************************************************************************************
// NOTE: *DO NOT* change the param names on existing skins (e.g. brd, shd, bg, etc) - the first argument passed to the param() functions. 
// these are saved in the site's data, changing them will break the site.
// you may give skin params any name you wish - but only in new components and their (new) skins.
// ***************************************************************************************************************************************
$transitionOp2: opacity 1s;

@include exports("widthDiff", 20);
@include exports("heightDiff", 20);
@include exports("image:skin", "skins.core.ImageSkin");

:host:hover > #panel {
  @include opacity(1);
}

#link {
  background: #f00;
  padding: 10px;
  color: #000;
  @include abs-distances(50%, 0, 10px, 0);
}

#panel {
  padding: 0 10px;
  color: #fff;
  @include abs-distances(0, 0, 10px, 0);
  @include opacity(0);
  @include param-transition(transitionOp2, $transitionOp2);
}

