@charset "UTF-8";

@import '../../mixins/components-base';

// ***************************************************************************************************************************************
// NOTE: *DO NOT* change the param names on existing skins (e.g. brd, shd, bg, etc) - the first argument passed to the param() functions. 
// these are saved in the site's data, changing them will break the site.
// you may give skin params any name you wish - but only in new components and their (new) skins.
// ***************************************************************************************************************************************
$bg: #fff;
$bg2: #aaa;
$brd: #1ab1ab;
$txt: #333;
$rd: 5px;
$brw: 2px;

:host {
  position: relative;
  display: inline-block;
  padding: 0;
  margin: 0;
}

select {
  color: param-text-color(txt, $txt);
  border: solid param-border-size(brw, $brw) param-border-color(brd, $brd);
  padding: 5px 40px 5px 5px;
  @include param-border-radius(rd, $rd);
  box-sizing: border-box !important;
  @include appearance(none !important);
  background-color: param-bg-color(bg, $bg);
  position: relative;
  cursor: pointer;
}

option {
  border: solid param-border-size(brw, $brw) param-border-color(brd, $brd);
  background-color: param-bg-color(bg, $bg);
  padding: 5px;
}

:host:after {
  content: "▼";
  position: absolute;
  top: 2px;
  bottom: 2px;
  right: 0;
  width: 35px;
  pointer-events: none;
  @include param-border-radius(rd, $rd);
  box-sizing: border-box !important;
  background-color: param-bg-color(bg2, $bg2);
  border: param-border-size(brw, $brw) solid param-border-color(brd, $brd);
  color: #fff;
  text-align: center;
  font-size: 10px;
  line-height: 30px;
  text-shadow: inset 0 1px 2px rgba(0, 0, 0, .6);
  cursor: pointer !important;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}

[data-state~="invalid"] select {
  border-color: #d00;
  color: #d00;
}

[data-state~="invalid"] :after {
  content: "▼";
  position: absolute;
  top: 2px;
  bottom: 2px;
  right: 0;
  width: 35px;
  pointer-events: none;
  @include param-border-radius(rd, $rd);
  box-sizing: border-box !important;
  background-color: param-bg-color(bg2, $bg2);
  border: #d00 solid param-border-color(brd, $brd);
  color: #d00;
  text-align: center;
  font-size: 10px;
  line-height: 30px;
  text-shadow: inset 0 1px 2px rgba(0, 0, 0, .6);
  cursor: pointer !important;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}

[data-state~="invalid"] :hover + p {
  @include opacity(1);
  color: #d00;
}

p {
  @include param-border-radius(rd, $rd);
  @include opacity(0);
  display: inline-block;
  position: absolute;
  left: 0;
  bottom: 100%;
  width: 140px;
  padding: 10px;
  font-size: 13px;
  line-height: 16px;
  background: #fff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, .6);
}

p:after {
  content: "▼";
  position: absolute;
  bottom: -12px;
  left: 10px;
  color: #fff;
  text-shadow: 0 1px 3px rgba(0, 0, 0, .6);
  @include param-border-radius(rd, $rd);
}

