@charset "UTF-8";

@import '../../mixins/components-base';



// ***************************************************************************************************************************************
// NOTE: *DO NOT* change the param names on existing skins (e.g. brd, shd, bg, etc) - the first argument passed to the param() functions. 
// these are saved in the site's data, changing them will break the site.
// you may give skin params any name you wish - but only in new components and their (new) skins.
// ***************************************************************************************************************************************
$tdr: BASE_THEME_DIRECTORY;
$rd: 3px;
$bg: color_11;
$txt: color_15;
$fnt: font_7;

@include exports("heightDiff", 50);
@include exports("widthDiff", 10);
@include exports("image:skin", "skins.core.ImageSkin");

:host {
  background-color: param-bg-color(bg, $bg);
  @include param-border-radius(rd, $rd);
  overflow: visible !important;
}

#imageWrapper {
  position: absolute;
  top: 5px;
  left: 5px;
}

#panel {
  position: absolute;
  bottom: 0;
  padding: 5px;
  @include param-font(fnt, $fnt);
  color: param-text-color(txt, $txt);
}

.shd {
  position: absolute;
  bottom: -7px;
  width: 50%;
  height: 7px;
  background: param-url(tdr, $tdr, "lifted_shadow.png")no-repeat;
  pointer-events: none;
}

.left {
  left: 0;
  background-position: 0 -7px;
}

.right {
  right: 0;
  background-position: 100% -7px;
}

