@charset "UTF-8";

@import '../../mixins/components-base';

// ***************************************************************************************************************************************
// NOTE: *DO NOT* change the param names on existing skins (e.g. brd, shd, bg, etc) - the first argument passed to the param() functions. 
// these are saved in the site's data, changing them will break the site.
// you may give skin params any name you wish - but only in new components and their (new) skins.
// ***************************************************************************************************************************************
$txt-hi: color_4;
$txt: color_2;
$tdr: BASE_THEME_DIRECTORY;

@include define-mapped-param(txtGrayed, txt, COLOR_ALPHA);

@include exports(heightDiff, 40);

#itemsContainer {
  overflow: hidden;
}

.hid {
  display: none;
}

.bg {
  padding: 6px;
  background: #000;
}

.galleryDisplayer {
  &:after {
    content: "";
    @include abs-distance(0);
    cursor: pointer;
  }

  &:hover .pic:after {
    content: "";
    @include abs-distances(0, 0, -6px, 0);
    background: transparent param-url(tdr, $tdr, "wix_apps/magnify.png") right top no-repeat;
    border-bottom: solid 3px param-text-color(txt, $txt);
  }

  .desc span {
    text-transform: uppercase;
    color: param-text-color(txt, $txt);
  }

  .price span {
    color: param-text-color(txt, $txt);
  }

  .retail span {
    color: mutate-color-alpha-param(txtGrayed, alpha, .5, txt);
  }

  .salePrice span {
    color: param-bg-color(txtHi, $txt-hi);
  }
}

.sale {
  position: relative;

  &:after {
    content: "SALE";
    position: absolute;
    top: -90px;
    right: 0;
    height: 22px;
    line-height: 22px;
    text-align: center;
    font-size: 12px;
    width: 40px;
    background: param-bg-color(txtHi, $txt-hi);
    color: #fff;
  }
}

.pages {
  position: absolute;
  bottom: 10px;
  left: 0;
  right: 0;
  text-align: left;
  color: param-text-color(txt, $txt);

  li {
    padding: 0 3px;
    display: inline-block !important;
    font-size: 14px;
  }
}

#counter {
  margin-left: 10px;
}

#buttonPrev,
#buttonNext {
  color: param-bg-color(txtHi, $txt-hi);

  &:hover {
    color: param-text-color(txt, $txt);

  }
}

