@charset "UTF-8";

@import '../../mixins/components-base';



// ***************************************************************************************************************************************
// NOTE: *DO NOT* change the param names on existing skins (e.g. brd, shd, bg, etc) - the first argument passed to the param() functions. 
// these are saved in the site's data, changing them will break the site.
// you may give skin params any name you wish - but only in new components and their (new) skins.
// ***************************************************************************************************************************************
$rd: 3px;
$shd: 0 0 3px rgba(0, 0, 0, .5);
$brd: color_15;
$brw: 2px;
$tdr: BASE_THEME_DIRECTORY;
$contentPaddingLeft: brw;
$contentPaddingRight: brw;
$contentPaddingBottom: brw;
$contentPaddingTop: brw;

@include define-mapped-param(contentPaddingLeft, brw);
@include define-mapped-param(contentPaddingRight, brw);
@include define-mapped-param(contentPaddingBottom, brw);
@include define-mapped-param(contentPaddingTop, brw);

@include exports("img:skin", "skins.core.ImageNewSkin");

#link {
  display: block;
  @include param-border-radius(rd, $rd);
  @include param-box-shadow(shd, $shd);
  background-color: param-border-color-alpha(brd, $brd);
  border: param-border-size(brw, $brw) solid param-border-color-alpha(brd, $brd);
  overflow: hidden;
}

#img {
  @include param-border-radius(rd, $rd);
  overflow: hidden;
}

.shd {
  position: absolute;
  bottom: -26px;
  width: 165px;
  height: 26px;
  background-image: param-url(tdr, $tdr, "liftedshadow_medium.png");
  background-repeat: no-repeat;
}

.left {
  left: -20px;
  background-position: 0 0;
}

.right {
  right: -20px;
  background-position: 100% 0;
}

