@charset "UTF-8";

@import '../../mixins/components-base';



// ***************************************************************************************************************************************
// NOTE: *DO NOT* change the param names on existing skins (e.g. brd, shd, bg, etc) - the first argument passed to the param() functions. 
// these are saved in the site's data, changing them will break the site.
// you may give skin params any name you wish - but only in new components and their (new) skins.
// ***************************************************************************************************************************************
$bg: color_12;
$brd: color_14;
$brw: 1px;
$rd: 0;



:host {
  position: relative;
}

#input {
  background-color: param-bg-color(bg, $bg);
  @include param-border-radius(rd, $rd);
  border: param-border-size(brw, $brw) solid param-border-color-alpha(brd, $brd);
  padding: 5px;
  min-height: 20px;
  height: 100%;
  width: 100%;
}

[data-state~="invalid"] #input {
  border-color: #d00;
}

#errorMessage {
  display: none;
}

[data-state~="invalid"] #errorMessage {
  display: block;
  color: #d00;
  padding: 8px;
  background: #fff;
}

[data-state~="invalid"] #errorMessage:before {
  color: #fff;
  background: #d00;
  border: 2px solid #fff;
  border-radius: 50%;
  box-shadow: 0 1px 3px rgba(0, 0, 0, .5);
  text-align: center;
  font-size: 12px;
  content: "!";
  position: absolute;
  top: 2px;
  left: -23px;
  width: 20px;
  height: 20px;
  line-height: 20px !important;
}

[data-state~="invalid"] #errorMessage:after {
  color: #fff;
  font-size: 10px;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, .5);
  content: "►";
  position: absolute;
  top: 7px;
  left: 0;
}

