@charset "UTF-8";

@import '../../mixins/components-base';



// ***************************************************************************************************************************************
// NOTE: *DO NOT* change the param names on existing skins (e.g. brd, shd, bg, etc) - the first argument passed to the param() functions. 
// these are saved in the site's data, changing them will break the site.
// you may give skin params any name you wish - but only in new components and their (new) skins.
// ***************************************************************************************************************************************
$bg: color_11;



#bg {
  overflow: hidden;
  @include abs-distance(0);
  background-color: param-bg-color(bg, $bg);
}

[data-state~="mobileView"] #bg {
  left: 10px;
  right: 10px;
}

#inlineContent {
  @include abs-distance(0);
  bottom: 20px;
}

