@import '../../mixins/components-base';


#itemsContainer {
  width: calc(100% - #{param-width(menuTotalBordersX, 0)});
  white-space: nowrap;
}

#moreContainer {
  overflow: visible;
  display: inherit;
  white-space: nowrap;
  width: auto;
}

#dropWrapper {
  z-index: $zindex-drop-down-menu-base-dropWrapper;
  display: block;
  opacity: 1
}
