@charset "UTF-8";

@import 'dropDownMenuBase';

// ***************************************************************************************************************************************
// NOTE: *DO NOT* change the param names on existing skins (e.g. brd, shd, bg, etc) - the first argument passed to the param() functions. 
// these are saved in the site's data, changing them will break the site.
// you may give skin params any name you wish - but only in new components and their (new) skins.
// ***************************************************************************************************************************************
$brw: 1px;
$brd: color_15;
$rd: 0;
$shd: 0 1px 4px rgba(0, 0, 0, .6);
$bg-drop: color_11;

@include exports("repeaterButton:skin", "wysiwyg.viewer.skins.dropmenubutton.LinesMenuButtonNSkin");
@include exports("repeaterButton:styleGroup", "inherit");

@include sum-params(menuTotalBordersY, brw, brw);

#itemsContainer {
  position: relative;
  overflow: hidden;
  border-top: solid param-border-size(brw, $brw) param-border-color-alpha(brd, $brd);
  border-bottom: solid param-border-size(brw, $brw) param-border-color-alpha(brd, $brd);
}

#dropWrapper {
  visibility: hidden;
  position: absolute;
}

#moreContainer {
  z-index: $zindex-lines-menu-button-skin-moreContainer;
  margin: 7px 0;
  @include param-box-shadow(shd, $shd);
  background-color: param-bg-color(bgDrop, $bg-drop);
  @include param-border-radius(rd, $rd);
}

