@charset "UTF-8";

@import 'dropDownMenuBase';


// ***************************************************************************************************************************************
// NOTE: *DO NOT* change the param names on existing skins (e.g. brd, shd, bg, etc) - the first argument passed to the param() functions. 
// these are saved in the site's data, changing them will break the site.
// you may give skin params any name you wish - but only in new components and their (new) skins.
// ***************************************************************************************************************************************
$bg: color_11;
$bgDrop: color_11;
$tdr: BASE_THEME_DIRECTORY;

@include exports("repeaterButton:skin", "wysiwyg.viewer.skins.dropmenubutton.SloppyBorderMenuButtonNSkin");
@include exports("repeaterButton:styleGroup", "inherit");

#itemsContainer {
  position: relative;
  overflow: hidden;
  background-color: param-bg-color(bg, $bg);
}

#dropWrapper {
  visibility: hidden;
  position: absolute;
  margin-top: 15px;
}

[data-dropmode="dropUp"] #dropWrapper {
  margin-top: 0;
  margin-bottom: 15px;
}

#moreContainer {
  background-color: param-bg-color(bgDrop, $bgDrop);
}

.wrapper:before {
  position: absolute;
  content: "";
  background: param-url(tdr, $tdr, "sloppyvertical.png") repeat-y 0 0;
  left: -7px;
  top: 0;
  bottom: 0;
  width: 7px;
}

.wrapper:after {
  position: absolute;
  content: "";
  background: param-url(tdr, $tdr, "sloppyvertical.png") repeat-y 100% 0;
  right: -7px;
  top: 0;
  bottom: 0;
  width: 7px;
}

:host:before {
  position: absolute;
  content: "";
  background: param-url(tdr, $tdr, "sloppyhoriz.png") repeat-x 0 0;
  left: -7px;
  top: -7px;
  right: -7px;
  height: 7px;
}

:host:after {
  position: absolute;
  content: "";
  background: param-url(tdr, $tdr, "sloppyhoriz.png") repeat-x 0 100%;
  left: -7px;
  bottom: -7px;
  right: -7px;
  height: 7px;
}

#dropWrapper:before {
  position: absolute;
  content: "";
  background: param-url(tdr, $tdr, "sloppyvertical.png") repeat-y 0 0;
  left: -7px;
  top: 0;
  bottom: 0;
  width: 7px;
}

#dropWrapper:after {
  position: absolute;
  content: "";
  background: param-url(tdr, $tdr, "sloppyvertical.png") repeat-y 100% 0;
  right: -7px;
  top: 0;
  bottom: 0;
  width: 7px;
}

#moreContainer:before {
  position: absolute;
  content: "";
  background: param-url(tdr, $tdr, "sloppyhoriz.png") repeat-x 0 0;
  left: -7px;
  top: -7px;
  right: -7px;
  height: 7px;
}

#moreContainer:after {
  position: absolute;
  content: "";
  background: param-url(tdr, $tdr, "sloppyhoriz.png") repeat-x 0 100%;
  left: -7px;
  bottom: -7px;
  right: -7px;
  height: 7px;
}

