@charset "UTF-8";

@import 'dropDownMenuBase';



// ***************************************************************************************************************************************
// NOTE: *DO NOT* change the param names on existing skins (e.g. brd, shd, bg, etc) - the first argument passed to the param() functions. 
// these are saved in the site's data, changing them will break the site.
// you may give skin params any name you wish - but only in new components and their (new) skins.
// ***************************************************************************************************************************************
$rd: 0;
$bgDrop: color_11;
$shd: 0 1px 4px rgba(0, 0, 0, .6);

@include exports("repeaterButton:skin", "wysiwyg.viewer.skins.dropmenubutton.TextOnlyMenuButtonNSkin");
@include exports("repeaterButton:styleGroup", "inherit");

#itemsContainer {
  position: relative;
  overflow: hidden;
}

#dropWrapper {
  visibility: hidden;
  position: absolute;
  margin-top: 7px;
}

#dropWrapper[data-dropMode="dropUp"]{
  margin-top: 0;
  margin-bottom: 7px;
}

#moreContainer {
  background-color: param-bg-color(bgDrop, $bgDrop);
  @include param-border-radius(rd, $rd);
  @include param-box-shadow(shd, $shd);
}

