@charset "UTF-8";

@import 'dropDownMenuBase';


// ***************************************************************************************************************************************
// NOTE: *DO NOT* change the param names on existing skins (e.g. brd, shd, bg, etc) - the first argument passed to the param() functions. 
// these are saved in the site's data, changing them will break the site.
// you may give skin params any name you wish - but only in new components and their (new) skins.
// ***************************************************************************************************************************************
$bg: color_11;
$elm: color_15;
$elm2: color_15;
$els: 0;
$bg-drop: color_11;
$shd: 0 2px 3px rgba(0, 0, 0, .7);

@include exports("repeaterButton:skin", "wysiwyg.viewer.skins.dropmenubutton.RibbonsMenuButtonNSkin");
@include exports("repeaterButton:styleGroup", "inherit");

@include define-mapped-param(ribbonEls, els);
@include exports("ribbonExtra", 10);



#itemsContainer {
  margin: 0 0 calc(#{param-border-size(els, $els)} + 10px);
  position: relative;
  overflow: hidden;
  background-color: param-bg-color(bg, $bg);
  @include param-box-shadow(shd, $shd);
}

.ribbon {
  position: absolute;
  bottom: calc(-1 * (#{param-border-size(els, $els)} + 10px));
  height: 0;
  width: 0;
  border: calc(#{param-border-size(els, $els)} + 10px) solid transparent;
}

.fr {
  border-top-color: param-color-alpha(elm, $elm);
  border-left-width: 0;
  right: 0;
}

.fl {
  border-top-color: param-color-alpha(elm2, $elm2);
  border-right-width: 0;
  left: 0;
}

#dropWrapper {
  visibility: hidden;
  position: absolute;
  margin-top: -10px;
  box-sizing: border-box;
}

[data-dropmode="dropUp"] #dropWrapper {
  margin-top: 0;
  margin-bottom: 0;
}

#moreContainer {
  background-color: param-bg-color(bgDrop, $bg-drop);
  @include param-box-shadow(shd, $shd);
}

