@charset "UTF-8";

@import 'dropDownMenuBase';



// ***************************************************************************************************************************************
// NOTE: *DO NOT* change the param names on existing skins (e.g. brd, shd, bg, etc) - the first argument passed to the param() functions.
// these are saved in the site's data, changing them will break the site.
// you may give skin params any name you wish - but only in new components and their (new) skins.
// ***************************************************************************************************************************************
$rdDrop: 10px;
$bgDrop: color_11;
$pad: 1;
$padLeft: 70;

@include exports("maxH", 280);
@include exports("repeaterButton:skin", "wysiwyg.viewer.skins.dropmenubutton.ArrowRightMenuButtonNSkin");
@include exports("repeaterButton:styleGroup", "inherit");

#itemsContainer {
  position: relative;
  overflow: hidden;
}

#dropWrapper {
  visibility: hidden;
  position: absolute;
  margin-top: 7px;
  box-sizing: border-box;
}

[data-dropmode="dropUp"] #dropWrapper  {
  margin-top: 0;
  margin-bottom: 7px;
}

#moreContainer {
  margin-right: calc(#{param-margin-right-size(pad, $pad)} - 70px);
  background-color: param-bg-color(bgDrop, $bgDrop);
  @include param-border-radius(rdDrop, $rdDrop);
}

#dropWrapper[drophposition="left"] #moreContainer {
  margin-right: 0;
  margin-left: 0;
  left: 0;
}

#dropWrapper[data-dropalign="left"][drophposition="center"] #moreContainer {
  margin-right: 0;
  margin-left: param-margin-left-size(padLeft, $padLeft);
}

#dropWrapper[data-dropalign="left"][drophposition="left"] #moreContainer {
  margin-right: 0;
  margin-left: 0 !important;
}

#dropWrapper[data-dropalign="right"] {
  text-align: right;
}

#dropWrapper[data-dropalign="right"] #moreContainer {
  margin-right: 0;
}

