<div class="wix-dialog" wix-fit-content-to-window wait-for-ng-includes="true" enforce-max-content-height="{{_options.enforceMaxContentHeight}}" top-margin="70" bottom-margin="10">
    <div class="wix-dialog-titlebar">
        <strong class="wix-dialog-titlebar-title" wix-translate="_options.title" translate-dynamic="true"></strong>

        <div class="wix-dialog-titlebar-actions">
            <div class="wix-dialog-titlebar-actions-help" wix-help-link="_options.helpId" ng-if="_options.helpId">
            <span>&nbsp;</span></div>
            <div class="wix-dialog-titlebar-actions-close" ng-click="dialog.close(false, 'dismiss')">
                <span ng-style="{'background-image': 'url({{topology.webThemeDir}}icons/top-bar-icons.png)'}">&nbsp;</span>
            </div>
        </div>
    </div>

    <div ng-include="_options.descriptionTemplateUrl"></div>

    <div class="prettyScroll" ng-if="_options.contentUrl">
        <div name="contentPanelWrapper" class="wix-content-wrapper" ng-style="{padding: _options.contentPadding}">
            <div ng-include="_options.contentUrl"></div>
        </div>
    </div>

    <div ng-include="_options.footerUrl" ng-if="_options.footerUrl"></div>

    <div class="wix-dialog-buttons-container clearfix" ng-show="_options.buttonsSet">
        <wix-button
                ng-repeat="btn in _options.buttonsSet"
                class="wix-button-small wix-button-inline wix-button-{{btn.type}} wix-dialog-btn-{{btn.align}}"
                label="{{btn.label}}"
                click-handler="dialog.close(btn.result ,btn.closeReason)">
        </wix-button>
    </div>
</div>