@charset "UTF-8";

@import "../../skins/wix-sites-base";

// ***************************************************************************************************************************************
// NOTE: *DO NOT* change the param names on existing skins (e.g. brd, shd, bg, etc) - the first argument passed to the param() functions. 
// these are saved in the site's data, changing them will break the site.
// you may give skin params any name you wish - but only in new components and their (new) skins.
// ***************************************************************************************************************************************
$tdr: BASE_THEME_DIRECTORY;
$fnt: "normal normal normal 34px/1em 'Helvetica Neue Thin',sans-serif";
$lnk-fnt: "normal normal normal 14px/1em 'Helvetica Neue',sans-serif";
$shd: 2px 2px 4px rgba(0, 0, 0, .5);

@include exports("img:skin", "mobile.core.skins.ImageNewSkin");
@include exports("img:styleGroup", "inherit");

:host {
//  @include param-font(fnt, unquote($fnt));
  font: unquote($fnt);
}

#img {
  float: left;
  width: 344px;
  height: 274px;
  @include param-box-shadow(shd, $shd);

  img {
    width: 344px;
    height: 274px;
  }
}

.textOfTheDay {
  padding-left: 390px;
}

#introContainer {
  padding-top: 60px;
}

#descriptionContainer {
  padding-top: 10px;
}

.logo {
  width: 87px;
  height: 35px;
  background: param-url(tdr, $tdr, "wixlogoD.png") no-repeat;
  background-size: 87px 35px;
  display: inline-block;
}

//a {
//  color: #231f20;
//}

#readOn {
  color: #09f;
  padding-left: 3px;
  text-decoration: underline;
  font: unquote($lnk-fnt);
//  @include param-font(lnkFnt, unquote($lnk-fnt));
}

#closeDescription {
  color: #09f;
  text-decoration: underline;
  font: unquote($lnk-fnt);
//  @include param-font(lnkFnt, unquote($lnk-fnt));
}

#descriptionText {
  display: inline-block;
  font-size: 14px;
  color: #363636;
  padding: 0;
  margin: 0;
  line-height: 17px;
}

#shortDescriptionText {
  display: inline-block;
  width: 80%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

h3 {
  font-weight: normal;
}

#introPreTitle {
  font-size: 24px;
  line-height: 24px;
  color: #231f20;
}

#introTitle {
  font-size: 50px;
  line-height: 50px;
  margin-left: 5px;
  font-weight: bold;
  color: #231f20;
}

#introText {
  line-height: 20px;
  padding-top: 15px;
}

p {
  font-size: 16px;
}

[data-state~="closed"] {
  #introContainer {
    display: block;
  }

  #descriptionContainer {
    display: none;
  }
}

[data-state~="opened"] {
  #introContainer {
    display: none;
  }

  #descriptionContainer {
    display: block;
  }
}
